 <app-header></app-header>
 <div id="particle-canvas" style="display:none;"></div>
 <section class="imageblock switchable switchable--switch feature-large bg--dark space--sm">
 	<div class="imageblock__content col-md-6 col-sm-4 pos-right">
 		<div class="background-image-holder" >
 			<img src="assets/img/launch-rocket.svg" alt="Logo"  />
 		</div>

 	</div>
 	<div class="container">
 		<div class="row">
 			<div class="col-md-5 col-sm-7 mt--2">
 				<h1>Launch your next big innovative idea</h1>
 				<p class="lead">
 					By using Starbase, people unfamiliar with the Blockchain technology can easily issue blockchain tokens. This way, projects can get funded by issuing and selling their own tokens.
 				</p>

 				<p class="lead">
 					Starbase wants to be a platform where many projects can be launched using the power of the Blockchain technology.
 				</p>
 			</div>
 		</div>
 		<!--end of row-->
 	</div>
 	<!--end of container-->
 </section>
 <section class="switchable  feature-large">
 	<div class="container">
 		<div class="row" style="min-height: 300px;">

 			<div class="col-sm-6">
 				<div style="margin:0 auto;" class="livicon-evo" data-options="name: coins; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
 			</div>
 			<div class="col-sm-6 col-md-5">
 				<div class="switchable__text">
 					<h2>Global Fundraising</h2>
 					<p class="lead">
 						We are  developing a token funding and payment platform. By using Starbase, innovators can issue tokens and sell these to raise funds on a global scale.
 					</p>
 					<p class="lead">
 						Using Bitcoin, Ethereum or other major crypto currencies, projects can raise resources on a global scale. These tokens can later be traded on cryptocurrency exchanges around the world.
 					</p>

 				</div>
 			</div>

 		</div>
 		<!--end of row-->
 	</div>
 	<!--end of container-->
 </section>


 <section class="switchable switchable--switch bg--secondary feature-large">
 	<div class="container">
 		<div class="row" style="min-height: 300px;">

 			<div class="col-sm-6">
 				<div style="margin:0 auto;" class="livicon-evo" data-options="name: piggybank; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
 			</div>
 			<div class="col-sm-6 col-md-5">
 				<div class="switchable__text">
 					<h2>Sharing Long Term Incentives</h2>
 					<p class="lead">
 						Innovative projects can hire collaborators with investor-like minds who will invest their skills and time. In return, they get your project’s tokens that serves as a long-term incentive in a fast, cheap, and global way. When your project becomes more successful, the value of the token increases as well.
 					</p>
 					<p class="lead">
 						Starbase makes it easy to create those kinds of incentives. For instance, recruiting new members can be difficult, and without the necessary initial capital, that becomes even harder. However, by using Starbase, you can issue your own Blockchain tokens and use them as payment to outsource work.
 					</p>
 				</div>
 			</div>

 		</div>
 		<!--end of row-->
 	</div>
 	<!--end of container-->
 </section>

 <section class="switchable  feature-large">
 	<div class="container">
 		<div class="row" style="min-height: 300px;">

 			<div class="col-sm-6">
 				<div style="margin:0 auto;" class="livicon-evo" data-options="name: notebook; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
 			</div>
 			<div class="col-sm-6 col-md-5">
 				<div class="switchable__text">
 					<h2>One giant leap for mankind</h2>
 					<p class="lead">
 						Starbase is built on top of Ethereum, a distributed computing platform that features Smart contracts, a self-executing computer program that executes partially or fully self-enforcing contracts. This enables you to emulate contracts on a transparent, decentralized network.
 					</p>
 					<p class="lead">
 						This technology provides superior security to traditional contracts and greatly reduces transaction costs normally associated with contracts. This is the next leap in the financial industry, and we are part of it.
 					</p>

 				</div>
 			</div>
 		</div>
 		<!--end of row-->
 	</div>
 	<!--end of container-->
 </section>

 <section class="switchable switchable--switch bg--secondary feature-large">
 	<div class="container">
 		<div class="row" style="min-height: 300px;">

 			<div class="col-sm-6">
 				<div style="margin:0 auto;" class="livicon-evo" data-options="name: legal; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
 			</div>
 			<div class="col-sm-6 col-md-5">
 				<div class="switchable__text">
 					<h2>Legal and Tax support</h2>
 					<p class="lead">
 						Starbase provides legal and tax support. Some legal issues are common when fundraising and outsourcing at a global level, but we are partnered with a law firm that specializes in working with fintechs.
 					</p>
 					<p class="lead">
 					</p>
 				</div>
 			</div>
 		</div>
 		<!--end of row-->
 	</div>
 	<!--end of container-->
 </section>
 <app-footer></app-footer>
