<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<section id="" class="text-center bg--secondary" style="padding-top: 2.428571em;">
  <div class="container">
   <div class="row">
     <div class="row text-center">
      <h1><div class="livicon-evo" data-options="drawOnViewport:true; name: trophy; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;" style="height: auto"></div></h1>
       <h1>Repo Bounty Program</h1>
     </div>
     <div class="row">
       <div class="col-md-8 col-md-offset-2">
          <p class="lead"> We’re excited to offer the opportunity for you to partner with us. contribute to our network and earn great rewards. This is why we’ve launched our Repo Bounty Program, where you can earn STX nearly every day! Participation in our Bounty Programs is easy, registration is simple, and you're simply a task away from earning big.</p>
          <p class="lead"> &nbsp;</p>
          <p class="lead"> &nbsp;</p>
       </div>
     </div>


     <div class="row limit-width row-parent" data-imgready="true">
   <div class="row-inner">
      <div class="pos-middle pos-right align_center column_parent col-lg-4 boomapps_vccolumn single-internal-gutter">
         <div class="uncol style-light">
            <div class="uncoltable">
               <div class="uncell  boomapps_vccolumn no-block-padding">
                  <div class="uncont">
                     <div class="grid vc-interactive-banner">
                        <figure class="effect-apollo" style="background: ; width: 100%;">
                           <img src="assets/img/Referal-Bounty.svg" style="height: ; width: 100%;">
                           <figcaption>
                              <div>
                                 <h2 style="font-size: 18px; color: #ffffff; font-weight: 500;"> Referral Bounty</h2>
                                 <p style="font-size: 13px; color: #ffffff;"> More info</p>
                              </div>
                              <a href="#" target="blank"> </a>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="pos-top pos-center align_left column_parent col-lg-4 boomapps_vccolumn single-internal-gutter">
         <div class="uncol style-light">
            <div class="uncoltable">
               <div class="uncell  boomapps_vccolumn no-block-padding">
                  <div class="uncont">
                     <div class="grid vc-interactive-banner">
                        <figure class="effect-apollo" style="background: ; width: 100%;">
                           <img src="assets/img/Social.svg" style="height: ; width: 100%;">
                           <figcaption>
                              <div>
                                 <h2 style="font-size: 18px; color: #ffffff; font-weight: 500;"> Social Bounty</h2>
                                 <p style="font-size: 13px; color: #ffffff;"> More info</p>
                              </div>
                              <a href="#" target="blank"> </a>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="pos-top pos-center align_left column_parent col-lg-4 boomapps_vccolumn single-internal-gutter">
         <div class="uncol style-light">
            <div class="uncoltable">
               <div class="uncell  boomapps_vccolumn no-block-padding">
                  <div class="uncont">
                     <div class="grid vc-interactive-banner">
                        <figure class="effect-apollo" style="background: ; width: 100%;">
                           <img src="assets/img/Content.svg" style="height: ; width: 100%;">
                           <figcaption>
                              <div>
                                 <h2 style="font-size: 18px; color: #ffffff; font-weight: 500;"> Content Bounty</h2>
                                 <p style="font-size: 13px; color: #ffffff;"> More info</p>
                              </div>
                              <a href="#" target="blank"> </a>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="row limit-width row-parent" data-imgready="true">
   <div class="row-inner">
      <div class="pos-middle pos-right align_center column_parent col-lg-4 boomapps_vccolumn single-internal-gutter">
         <div class="uncol style-light">
            <div class="uncoltable">
               <div class="uncell  boomapps_vccolumn no-block-padding">
                  <div class="uncont">
                     <div class="grid vc-interactive-banner">
                        <figure class="effect-apollo" style="background: ; width: 100%;">
                           <img src="assets/img/Bounty-Prediction.svg" style="height: ; width: 100%;">
                           <figcaption>
                              <div>
                                 <h2 style="font-size: 18px; color: #ffffff; font-weight: 500;"> Predictions Bounty</h2>
                                 <p style="font-size: 13px; color: #ffffff;"> More info</p>
                              </div>
                              <a href="#" target="blank"> </a>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="pos-top pos-center align_left column_parent col-lg-4 boomapps_vccolumn single-internal-gutter">
         <div class="uncol style-light">
            <div class="uncoltable">
               <div class="uncell  boomapps_vccolumn no-block-padding">
                  <div class="uncont">
                     <div class="grid vc-interactive-banner">
                        <figure class="effect-apollo" style="background: #ffffff; width: 100%;">
                           <img src="assets/img/Video.svg" style="height: ; width: 100%;">
                           <figcaption>
                              <div>
                                 <h2 style="font-size: 18px; color: #ffffff; font-weight: 500;"> Video Bounty</h2>
                                 <p style="font-size: 13px; color: #ffffff;"> More info</p>
                              </div>
                              <a href="#" target="blank"> </a>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="pos-top pos-center align_left column_parent col-lg-4 boomapps_vccolumn single-internal-gutter">
         <div class="uncol style-light">
            <div class="uncoltable">
               <div class="uncell  boomapps_vccolumn no-block-padding">
                  <div class="uncont">
                     <div class="grid vc-interactive-banner">
                        <figure class="effect-apollo" style="background: #ffffff; width: 100%;">
                           <img src="assets/img/Bug.svg" style="height: ; width: 100%;">
                           <figcaption>
                              <div>
                                 <h2 style="font-size: 18px; color: #ffffff; font-weight: 500;"> Bug Bounty</h2>
                                 <p style="font-size: 13px; color: #ffffff;"> More info</p>
                              </div>
                              <a href="#" target="blank"> </a>
                           </figcaption>
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
   </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>
