  <div class="nav-container">
        <div class="via-1489958730146" via="via-1489958730146" vio="top">
          <div class="bar bar--sm visible-xs">
            <div class="container">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
                  <a href="/">
                    <img class="logo logo-dark" alt="logo" src="/assets/img/logo-light.png" >
                    <img class="logo logo-light" alt="logo" src="/assets/img/logo-light.png">
                  </a>
                </div>
                <div class="col-xs-6 col-sm-8 text-right">
                  <a  class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <nav id="menu1" class="bar bar-1 hidden-xs bar--absolute bar--transparent">
            <div class="container">
              <div class="row">
                <div class="col-md-3 hidden-xs">
                  <div class="bar__module">
                    <a routerLink="/home">
                      <img class="logo logo-dark" alt="logo" src="/assets/img/logo-light.png">
                      <img class="logo logo-light" alt="logo" src="/assets/img/logo-light.png">
                    </a>
                  </div>
                </div>
                <div class="col-md-9 col-sm-12 text-right text-left-xs text-left-sm" style="margin-top: 36px;">
                  <div class="bar__module">
                    <ul class="menu-horizontal text-left">
                      <li>
                        <a routerLink="/home"> Home  </a>
                      </li>

                      <li> <a routerLink="/rewards"> Rewards  </a> </li>
                      <li> <a routerLink="/faq"> FAQ  </a> </li>
                      <li> <a routerLink="/giveBack"> We Give back  </a> </li>
                      <li> <a routerLink="/contactUs"> Contact </a> </li>
                    </ul>
                  </div>
                  <div class="bar__module">
                    <a class="btn btn--sm btn--primary type--uppercase" href="/assets/docs/Repo Coin-WhitePaper.pdf" target="_blank" style="border-radius: 4px;">
                      <span class="btn__text"> Whitepaper </span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
        </div>
      </div>
