 <app-header></app-header>
 <div id="particle-canvas" style="display:none;"></div>
<section class="imagebg bg--dark space--lg" data-overlay="3">
	<div class="background-image-holder" style="background: url(&quot;assets/img/bg-star-1.jpg&quot;); opacity: 1;">
		<img alt="background" src="assets/img/bg-star-1.jpg">
	</div>
	<div class="container" style="z-index: 3; position: relative;">
		<div class="row">
			<h1 class="text-center">Support innovative projects with STAR</h1>
			<h2 class="text-center">  What is STAR Token?</h2>
			<div class="col-md-6 col-sm-8 mt--4">

				<p class="lead">
					The STAR token is the base currency of the Starbase platform.
				</p>
				<p class="lead">
					With STAR, holders can support global, innovative projects. <br> Find here the STAR Token Contract: <a href="https://etherscan.io/address/0xf70a642bd387f94380ffb90451c2c81d4eb82cbc" > 0xf70a642bd387f94380ffb90451c2c81d4eb82cbc</a>
				</p>
				<p class="lead">Star can be traded at:</p>
				<div class="row">
					<div class="col-md-6">
						<a href="https://hitbtc.com/STAR-to-ETH" target="_blank">
							<img alt="image" src="assets/img/exchange-hitbtc.png">
						</a>
					</div>
					<div class="col-md-6">
						<!--  ONLY SHOW WHEN ETHERDELTA COME BACK AFTER HACK -->
                        <!-- <a href="#" target="_blank">
                          <img alt="image" src="img/exchange-etherdelta.png">
                      </a> -->
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-sm-4 col-xs-10">



          	<div class="video-cover border--round box-shadow-wide">
          		<div class="background-image-holder ">
          			<img alt="image" src="assets/img/token-video-splash.jpg">
          		</div>
          		<div class="video-play-icon"></div>
          		<video width="760" height="420" controls>
          			<source src="assets/video_startoken.mp4" type="video/mp4">
          				Your browser does not support the video tag.
          			</video>
          		</div>

          	</div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>




  <section class="switchable switchable--switch bg--secondary feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">

  				<div style="margin:0 auto;" class="livicon-evo" data-options="name: star; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>

  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>The STAR Token</h2>
  					<p class="lead">
  						STAR is the utility, rewardable, inflationary(roughly 2.5% p.a.) token of the Starbase platform. By using STAR, you can fund other projects, pay for supporters of your project, or exchange them for goods or services as well through our platform.
  					</p>
  					<p class="lead">
  						Besides Star tokens, you can hold tokens from innovative projects as well. This, way you can get rewards from other subsequent projects.
  					</p>

  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>

  <section class="switchable  feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">

  				<a href="https://cdn-images-1.medium.com/max/1600/1*yHYaH6eQZrZh2dY08B70jg.jpeg" target="_blank">
  					<img alt="Image" class="border--round" src="assets/img/star-graph.jpeg"  >
  				</a>

  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>The STAR Token Protocol</h2>
  					<p class="lead">
  						STAR Token is the only supported token on the Starbase platform. This is in addition to the current characteristic of possible discount and priority purchase rights.
  					</p>
  					<p class="lead">
  						This approach, collaborating with decentralized exchange protocols like 0xProtocol, Kyber Network and Loopring, users will be able to purchase tokens on the Starbase platform by executing single transactions to send Ethers directly to a project crowdsale’s smart contract on the Ethereum blockchain. <a href="https://blog.starbase.co/star-token-as-protocol-currency-b33abc578c66" > Read more.</a>
  					</p>

  				</div>
  			</div>
  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>
  <section class="switchable switchable--switch bg--secondary feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">

  				<div style="margin:0 auto;" class="livicon-evo" data-options="name: diagram; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>

  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>Starbase Business model</h2>
  					<p class="lead">
  						Starbase charges a small percentage fee when <b>a token is issued</b>, when <b>a token is initialy sold</b> and when <b>a token is used for rewarding</b> to outsource labor work.
  					</p>
  					<p class="lead">

  					</p>





  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>


  <section class="switchable  feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">

  				<div style="margin:0 auto;" class="livicon-evo" data-options="name: gift; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>

  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>Reward Mechanism</h2>
  					<p class="lead">
  						Starbase provides a smart reward mechanism. Every STAR holder will receive rewards in the form of STAR or another Project’s Tokens - including STAR. Tokens received as reward can be withdrawn from our platform.
  					</p>
  					<p class="lead">

  					</p>


  					<a class="btn" btn--primary type--uppercase href="https://blog.starbase.co/star-reward-mechanism-93de39dfc139" target="_blank"><span class="btn__text">Learn More</span></a>


  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>


  <section class="switchable switchable--switch bg--secondary feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">

  				<div style="margin:0 auto;" class="livicon-evo" data-options="name: shoppingcart; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>

  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>Buy STAR Now!</h2>
  					<p class="lead">
  						Visit our crowdsale page to learn how to purchase STAR. We accept Bitcoin or Ether.
  					</p>
  					<p class="lead">
  						Get STAR tokens now and join Starbase to fuel many rockets!
  					</p>

  					<a class="btn btn--primary type--uppercase" routerLink="/crowdsale"><span class="btn__text">Crowdsale</span></a>

  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>
<app-footer></app-footer>
