<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<!-- TEAM -->
<section class="text-center bg--secondary">
    <div class="container">
        <div class="row">


            <div class="row">
            	<h1>Meet The Team</h1>
	            <p class="lead">
	                An innovative collection of like-minded people developing useful and enduring technological products.
	            </p>
            	<div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/tomoaki.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Tomoaki Sato</h5>
                        <p>
                            Founder &amp; Blockchain engineer
                        </p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/yu.png" class="grayscale rounded box-shadow-wide">
                        <h5>Yu Yamanaka</h5>
                        <p>
                            CTO
                        </p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/ernane.png" class="grayscale rounded box-shadow-wide">
                        <h5>Ernane Luis</h5>
                        <p>
                            Front-end Engineer
                        </p>

                    </div>
                </div>

            </div>

            <div class="row">

            	<div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/gustavo.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Gustavo Guimaraes</h5>
                        <p>
                            Full-Stack Engineer
                        </p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/yasushi.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Yasushi Sasajima</h5>
                        <p>
                            Financial Advisor
                        </p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/charles.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Charles Leslie</h5>
                        <p>
                            COO
                        </p>

                    </div>
                </div>
            </div>


            <div class="row">
            	<p class="lead">&nbsp;</p>
            	<h1>Advisors</h1>

            	<div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/jeremy.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Jeremy Lhoir</h5>
                        <p>
                            Community Manager
                        </p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/daniel.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Daniel Reszka</h5>
                        <p>
                            Full-Stack Engineer
                        </p>

                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="feature feature-8">
                        <img alt="Image" src="assets/img/about/tarek.jpeg" class="grayscale rounded box-shadow-wide">
                        <h5>Tarek R. Al-Awar</h5>
                        <p>
                            Front-end Engineer
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<!-- TALENT -->
<section class="text-center bg--secondary">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="cta">
                      <h2>We’re always looking for new talent</h2>
                      <p class="lead">Want to join us to help make Repocoin a reality? Great! Please send us your CV or portfolio. </p>
                      <a class="btn btn--primary type--uppercase"  href="#"  >
                          <span class="btn__text"> Join us </span>
                      </a>
                  </div>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
  </section>
<app-footer></app-footer>
