<app-header-nav></app-header-nav>
<div class="main-container">
<section id="header" class="cover cover-features imagebg space--lg" data-overlay="2" style="background-image: url(/assets/img/demo-bg.jpg);background-repeat:no-repeat;background-size:cover;z-index: 2;">
          <!-- <div class="stars"></div> -->
          <div id="particle-canvas"></div>
          <!-- <video src="bgTrim.mp4" class="header-bg-vdo" autoplay autobuffer style="position: absolute;width: 100%;z-index: -2"></video> -->
          <div class="rotate">
            <div class="meteor"></div>
          </div>

          <div class="background-image-holder" style=" z-index: 4;">
            <!-- <img alt="background" src="img/landing-2.png"> -->
          </div>

          <div class="container intro" style=" z-index: 4;">

           <div class="intro-main-view container">
               <div class="phone-img hidden-sm hidden-xs"></div>
               <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12 corr-left-padding">
                     <div class="calls-powered animated fadeInUp"><span class="avoidwrap">Repo Coin Powered</span>&thinsp;<span class="avoidwrap">By Blockchain</span></div>
                     <div class="experty-topic-block">
                        <!-- <div class="experty-topic">Experty in TOP10 ICOs to watch in 2018 by<span class="topic-inc-img"></span></div> -->
                        <!-- <ul class="repo-topic animated fadeInDown">
                          <li><a href="">Whitepaper <i class="fa fa-copy"></i></a></li>
                          <li><a href="">One-Pager <i class="fa fa-file-text-o"></i></a></a></li>
                        </ul> -->
                     </div>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs animated slideInUp"></div>
               </div>
               <div class="row play-row">
                  <div class="col-md-5 col-sm-7 col-xs-7 corr-left-padding pre-contibut-row">
                     <div class="pre-contr">Website Coming Soon!</div>
                     <div class="countdown-timer-wrap">
                        <div id="countdown-sale" class="countdown-timer">
                           <div class="time-cell">
                              <div class="time-numb days">0</div>
                              <div class="time-caption">days</div>
                           </div>
                           <div class="time-cell">
                              <div class="time-numb hours">0</div>
                              <div class="time-caption">hours</div>
                           </div>
                           <div class="time-cell">
                              <div class="time-numb minutes">0</div>
                              <div class="time-caption">minutes</div>
                           </div>
                           <div class="time-cell">
                              <div class="time-numb seconds">0</div>
                              <div class="time-caption">seconds</div>
                           </div>
                        </div>
                     </div>
                     <div class="register-block">
                      <img src="assets/img/Animation.gif" width="60%">
                        <!-- <div class="col-md-8 pre-contibut-row" ><a id="register-button" href="#" target="_blank" class="register-btn">Get Tokens<i class="fa fa-angle-right"></i></a></div> -->
                     </div>
                     <div class="clear"></div>
                     <!-- <div class="register-more">And get up to 60% more tokens</div> -->
                  </div>
                  <!-- <div class="col-md-2 col-sm-5 col-xs-5 demo-play-block  hidden-sm hidden-xs">
                     <a href="https://www.youtube.com/watch?v=P2YTxfJ7KBc" class="play-circle video-popup">
                        <div class="play-triangle"></div>
                     </a>
                     <div class="play-demo-desc">see how<br>REPOcoin works</div>
                     <div class="phone-img phone-sm"></div>
                  </div> -->
                  <div class="col-md-5 hidden-sm hidden-xs"></div>
               </div>
           </div>
        </div>
</section>
