label {
    font-size: 1.2em;
    margin-top: 10px;
}

.form-inline .form-control {
    width: 100%
}

@media (max-width: 767px) {
    .nav-container {
        position: relative;
        z-index: 9;
    }
    .hamburger-toggle i {
        color: #252525;
    }
}