<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop:true, backdropBackgroundColour:'rgba(0,0,0,0.8)' }"></ngx-loading>
<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<!-- action cards -->
<section id="" class="text-center" style="padding-top: 2.428571em;">
  <div class="container">
   <div class="row">
     <h1>Application</h1>
     <p class="lead"> &nbsp;</p>
     <!-- <p class="lead"> &nbsp;</p>      -->


     <div class="row">
    <!-- <h3>Contact Form</h3> -->
   <form id="myWizard" class="text-left"  [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate  submitted>
    <div class="step" data-step-title="Your Status">
     <div class="row">
      <div class="col-md-12">
        <label>Do You Currently Own a Vehicle?</label><br>
            <label><input type="radio" #title name="ownavehicle" value="yes" formControlName="ownavehicle"  placeholder=""> Yes </label>
            <br>
            <label><input type="radio" #title name="ownavehicle" value="no" formControlName="ownavehicle" placeholder=""> No </label>
             <p class="errorCls" *ngIf="submitted && myForm.controls['ownavehicle'].hasError('required')">Please select one of them option !!</p>
      </div>
    </div>

      <div class="form-group-lg">
          <label  class="control-label">How do you currently get around now?</label>
          <textarea class="form-control" rows="15" formControlName="howyougetaround"  name="howyougetaround"></textarea>
          <p class="errorCls" *ngIf="submitted && myForm.controls['howyougetaround'].hasError('required')">This field is required</p>
          <div class="help-block with-errors"></div>
        </div>

       <div class="row">
      <div class="col-md-12">
        <label>Do you have a valid Drivers License?</label><br>
          <label><input type="radio" name="havedriverlicense" formControlName="havedriverlicense" value="yes" placeholder=""> Yes </label>
            <br>
          <label><input type="radio" name="havedriverlicense" formControlName="havedriverlicense" value="no" placeholder=""> No </label>
           <p class="errorCls" *ngIf="submitted && myForm.controls['havedriverlicense'].hasError('required')">Please select one of them option !!</p>
      </div>
    </div>
      <div class="row">
      <div class="col-md-12">
        <label>Do you have any children or family members that you care for?</label><br>
          <label><input type="radio" name="havechildren" formControlName="havechildren" value="yes" placeholder=""> Yes </label>
            <br>
          <label><input type="radio"  name="havechildren" formControlName="havechildren" value="no" placeholder=""> No </label>
          <p class="errorCls" *ngIf="submitted && myForm.controls['havechildren'].hasError('required')">Please select one of them option !!</p>
      </div>
    </div>
     <div class="row">
      <div class="col-md-12">
        <label>Do you need a small car or an SUV?</label><br>
          <label><input type="radio" name="cartype" formControlName="cartype" value="Small Car" placeholder=""> Small Car </label>
            <br>
          <label><input type="radio" name="cartype" formControlName="cartype" value="Suv" placeholder=""> SUV </label>
          <p class="errorCls" *ngIf="submitted && myForm.controls['cartype'].hasError('required')">Please select one of them option !!</p>
      </div>
    </div>
      <div class="form-group-lg">

        <div class="form-group-lg">
		<label>Youtube Link <span data-toggle="tooltip" title="Video explaining how owning a car would help change your life. Please upload video to youtube and past the URL here." data-placement="right" > <i class="fa fa-info-circle fa-2x"></i></span></label>
		<input id="msg" type="text" class="form-control" name="youtubelink"  formControlName="youtubelink" placeholder="e.g. https://www.youtube.com/watch?v=fUyU3lKzoio">
    <div class="errorCls" *ngIf="!myForm.controls['youtubelink'].valid && myForm.controls['youtubelink'].touched">Please enter valid youtube link here </div>
    <p class="errorCls" *ngIf="submitted && myForm.controls['youtubelink'].hasError('required')">Youtube link is required.</p>
      <div class="help-block with-errors"></div>
	</div>
        </div>
         <div class="form-group-lg">
			<label  class="control-label">Short Essay <span data-toggle="tooltip" title="Short essay explaining how owning a car would help change your life." data-placement="right" > <i class="fa fa-info-circle fa-2x"></i></span></label>
			<textarea class="form-control" name="essay" formControlName="essay" rows="15" ></textarea>
      <p class="errorCls" *ngIf="submitted && myForm.controls['essay'].hasError('required')">Please Write short essay explaining how owning a car would help change your life.</p>
			<div class="help-block with-errors"></div>
		</div>
</div>
    <div class="step" data-step-title="Personal Info">
        <div class="form-group-lg">
          <label class="control-label">Full Name</label>
          <div class="form-inline row">
            <div class="form-group col-sm-6">
              <input type="text" data-minlength="6" name="firstname" formControlName="firstname"  class="form-control" id="fname" placeholder="First Name">
               <p class="errorCls" *ngIf="submitted && myForm.controls['firstname'].hasError('required')">Please enter firstname name.</p>
              <!--<div class="help-block with-errors"></div> -->
            </div>
            <div class="form-group col-sm-6">
              <input type="text" class="form-control" id="lname" name="lastname" formControlName="lastname"  placeholder="Last Name">
              <p class="errorCls" *ngIf="submitted && myForm.controls['lastname'].hasError('required')">Please enter last name.</p>
              <!--<div class="help-block with-errors"></div> -->
            </div>
          </div>
        </div>

        <div class="form-group-lg">
          <label  class="control-label">Email</label>
          <input type="email" class="form-control"  name="email" formControlName="email" placeholder="Email" data-error="Email address is invalid">
          <p class="errorCls" *ngIf="submitted && myForm.controls['email'].hasError('required')">Email is required.</p>
           <p class="errorCls" *ngIf="myForm.controls['email'].hasError('pattern')"> Please enter valid email.</p>
         <!-- <div class="help-block with-errors"></div> -->
        </div>
        <div class="form-group-lg">
          <label class="control-label">Phone</label>
          <input type="tel" class="form-control" name="phone" formControlName="phone" placeholder="Phone" (keypress)="onlyNumberKey($event)"  minlength="10" >
           <p class="errorCls"*ngIf="!myForm.controls['phone'].valid && myForm.controls['phone'].touched">Phone required</p>
            <p class="errorCls" *ngIf="myForm.controls['phone'].hasError('maxlength')">work phone should be maximum 12  and minimum 10 digits.</p>
             <p class="errorCls" *ngIf="submitted && myForm.controls['phone'].hasError('required')">Please enter phone number</p>
          <div class="help-block with-errors"></div>
        </div>
        <div class="form-group-lg">
          <label  class="control-label">Address</label>
          <input type="text" class="form-control" name="firstline" formControlName="firstline" placeholder="First Line" >
           <p class="errorCls" *ngIf="submitted && myForm.controls['firstline'].hasError('required')">Please enter firstline address</p>
          <input type="text" class="form-control" name="secondline" formControlName="secondline" placeholder="Second Line" >
          <p class="errorCls" *ngIf="submitted && myForm.controls['secondline'].hasError('required')">Please enter secondline address</p>
          <div class="help-block with-errors"></div>
        </div>
         <div class="form-group-lg">
          <div class="form-inline row">
            <div class="form-group col-sm-4">
              <input type="text" class="form-control" name="city" formControlName="city" placeholder="City" >
                  <p class="errorCls" *ngIf="submitted && myForm.controls['city'].hasError('required')">Please select city</p>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-4">
              <select class="form-control" id="sel1" name="state" formControlName="state" (change)="selectCountry($event)">
                <option  value="">State</option>
                <option *ngFor="let country of countries" value="{{ country.name }}">{{ country.name }}</option>
              </select>
               <p class="errorCls" *ngIf="submitted && myForm.controls['state'].hasError('required')">Please select state</p>
              <div class="help-block with-errors"></div>
            </div>
            <div class="form-group col-sm-4">
              <input type="text" class="form-control" name="zipcode" formControlName="zipcode" placeholder="Zip Code">
              <p class="errorCls" *ngIf="submitted && myForm.controls['zipcode'].hasError('required')">Please enter zipcode</p>
              <div class="help-block with-errors"></div>
            </div>
          </div>
        </div>

    </div>

<div class="step" data-step-title="Profile Picture">
        <div class="form-group-lg">
          <label  class="control-label">Upload a Selfie Here</label>
          <input type="file"  value="" name="picture" formControlName="picture" placeholder="Select File"  (change)="handleFileSelect($event)">
          <div class="help-block with-errors"></div>

         <div class="errorCls" *ngIf="picture_error"> {{ "Please upload only jpeg/jpg/png" }}</div>
       <div class="errorCls" *ngIf="picture_required"> {{ "Picture is required!" }}</div>
        </div>
        <div class="row">
       <div class="col-md-12">
        <label>&nbsp;</label><br>
        <label><input type="checkbox" value="no" name="acceptapplication" formControlName="acceptapplication"  placeholder=""> I have read the <a routerLink="/faq" class="underline-on-hover" target="_blank"> FAQ</a> and the<a routerLink="/givewayrules" class="underline-on-hover"> official giveaway rules</a></label>
         <p class="errorCls" *ngIf="submitted && myForm.controls['acceptapplication'].hasError('required')">checkbox is required.</p>
    </div>
    </div>
</div>
</form>
     </div>
<!-- <p class="lead"> &nbsp;</p> -->
 <div class="row">
       <div class="clearfix"></div>
       <hr class="hr">
       <div class="clearfix"></div>
       <p class="lead"> &nbsp;</p>
     </div>
   </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>
