<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<section class="subscribe-form-2 space--xs imagebg text-center" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
  <canvas id="granim-3" width="1419" height="143"></canvas>
  <div class="container wow fadeIn">
    <div class="row">
     <h1 class="white-text text-white"><b>Terms Of Use</b></h1>
   </div>
   <!--end of row-->
 </div>
 <!--end of container-->
</section>
<section class="text-center bg--secondary">
  <div class="container">
    <div class="row">
     <div class="content-holder col-md-8 col-md-offset-2 text-left">
      <p class="lead">Terms of Use Agreement</p>
      <p class="lead">Effective: December 15, 2017</p>
      <p class="lead">Last Updated: December[15], 2017</p>
      <p class="lead">Welcome to the Repo Coin (“Repo Coin,” “we,” “us” or “our”) website (https://repocoin.io), (“Site”). This Agreement governs your access and use of the Site.
      </p>
        <p class="lead">This Site also allows you to purchase our digital currency REPO (defined in Section 1). Once your Account is created, and you submit an order to purchase REPO, Repo Coin will engage a third party vendor to run an authorization check on your Account (“KYC Check”) and determine your eligibility to buy REPO. If you are approved by our KYC Check, you may purchase REPO on the Site. YOUR PURCHASE OF REPO IS GOVERNED BY THE TERMS AND CONDITIONS SET FORTH ON THE TOKEN SALE PURCHASE AGREEMENT WEBPAGE AVAILABLE AT [https://token.Repo Coinapp.com/en/crowdsale/legal/?swag=420&amp;headshot=360].</p>
      <p class="lead">REPO tokens are intended to be used within a Repo Coin Ecosystem (defined in section 1). Since we have a growing number of services, we sometimes need to describe additional terms for specific services. Those additional terms and conditions, which are available with the relevant services, then become part of your agreement with us if you use those services.</p>
      <p class="lead">This Terms of Use Agreement (“Agreement”) is important and affects your legal rights, so please read it carefully. WE WANT TO LET YOU KNOW THAT THE TERMS INCLUDE AN ARBITRATION AGREEMENT WHICH WILL, WITH LIMITED EXCEPTIONS, REQUIRE DISPUTES BETWEEN US TO BE SUBMITTED TO BINDING AND FINAL ARBITRATION. UNLESS YOU OPT OUT OF THE ARBITRATION AGREEMENT: (1) YOU WILL ONLY BE PERMITTED TO PURSUE CLAIMS AND SEEK RELIEF AGAINST US ON AN INDIVIDUAL BASIS, NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY CLASS OR REPRESENTATIVE ACTION OR PROCEEDING; AND (2) YOU ARE WAIVING YOUR RIGHT TO SEEK RELIEF IN A COURT OF LAW AND TO HAVE A JURY TRIAL ON YOUR CLAIMS. PLEASE READ SECTIONS 15 AND 16 CAREFULLY.</p>
      <p class="lead">BY CLICKING ON THE “I ACCEPT” BUTTON, COMPLETING THE ACCOUNT REGISTRATION PROCESS, USING OUR SERVICES AND/OR PURCHASING REPO, YOU AGREE TO BE BOUND BY THIS AGREEMENT AND ALL OF THE TERMS INCORPORATED HEREIN BY REFERENCE. If you do not agree to this Agreement, you may not access or use the Site or purchase the REPO token.</p>
      <p class="lead">Repo Coin reserves the right to change or modify this Agreement at any time and in our sole discretion. If we make changes to this Agreement, we will provide notice of such changes, such as by sending an email notification, providing notice through the Site or updating the “Last Updated” date at the beginning of this Agreement. By continuing to access or use the Site or purchase REPO, you confirm your acceptance of the revised Agreement and all of the terms incorporated therein by reference. We encourage you to review the Agreement frequently to ensure that you understand the terms and conditions that apply when you access or use the Site. If you do not agree to the revised Agreement, you may not access or use the Site or purchase REPO.</p>
      <p class="lead">Definitions</p>
       <p class="lead">“REPO” refers to a general purpose cryptocurrency, implemented on the public Ethereum blockchain (the “Ethereum Platform”) as an ERC20 token, and is intended to give users access to special perks within the Repo Coin platform, including but not limited to premium features and discounts on the Repo Coin Ecosystem.</p>
      <p class="lead">“Repo Coin Ecosystem” refers to the services offered by Repo Coin that enable users to use their REPO tokens to receive access to special perks within the Repo Coin platform.</p>
      <p class="lead">Privacy Policy</p>
      <p class="lead">Please refer to our Privacy Policy for information about how we collect, use and share information about you.</p>
      <p class="lead">Account Registration and Communication Preferences</p>
      <p class="lead">If you wish to purchase REPO, you will need to register for an REPO Account on the Site (“Account”). By creating an Account, you agree to (a) provide accurate, current and complete Account information about yourself, (b) maintain and promptly update from time to time as necessary your Account information, (c) maintain the security of your password and accept all risks of unauthorized access to your Account and the information you provide to us, and (d) immediately notify us if you discover or otherwise suspect any security breaches related to the Site, the REPO, or your Account. Repo Coin will block multiple accounts of the same user. Also, you agree that you will not:</p>
      <p class="lead">create another account if we’ve disabled one you had unless you have our written permission first;</p>
      <p class="lead">buy, sell, rent or lease access to your Account or username unless you have our written permission first;</p>
      <p class="lead">share your Account password with anyone;</p>
      <p class="lead">log in or try to log in to access the Site through unauthorized third party applications or clients.</p>
      <p class="lead">Repo Coin may require you to provide additional information and documents at the request of any competent authority or in case of application of any applicable law or regulation, including laws related to anti-laundering (legalization) of incomes obtained by criminal means, or for counteracting financing of terrorism. Repo Coin may also require you to provide additional information and documents in cases where it has reasons to believe that:</p>
      <p class="lead">Your Account is being used for money laundering or for any other illegal activity;</p>
      <p class="lead">You have concealed or reported false identification information and other details; or</p>
      <p class="lead">Transactions effected via your Account were effected in breach of this Agreement.</p>
      <p class="lead">In such cases, Repo Coin in its sole discretion, may freeze your transactions until such additional information and documents are reviewed by Repo Coin and accepted as satisfying the requirements of applicable law. If you do not provide complete and accurate information and documents in response to such a request, Repo Coin may refuse to provide the Content (defined in 4.1 below) to you.</p>
      <p class="lead">By creating an Account, you also consent to receive electronic communications from Repo Coin (e.g., via email or by posting notices to the Site). These communications may include notices about your Account (e.g., password changes and other transactional information) and are part of your relationship with us. You agree that any notices, agreements, disclosures or other communications that we send to you electronically will satisfy any legal communication requirements, including, but not limited to, that such communications be in writing. You should maintain copies of electronic communications from us by printing a paper copy or saving an electronic copy. We may also send you promotional communications via email, including, but not limited to, newsletters, special offers, surveys and other news and information we think will be of interest to you. You may opt out of receiving these promotional emails at any time by following the unsubscribe instructions provided therein.</p>
      <p class="lead">You must provide all equipment and software necessary to connect to the Site and services, including but not limited to, a mobile device that is suitable to connect with and use Site and services, in cases where the Site offers a mobile component. You are solely responsible for any fees, including Internet connection or mobile fees, that you incur when accessing the Site or services.</p>
      <p class="lead">Notwithstanding anything to the contrary herein, you acknowledge and agree that you shall have no ownership or other property interest in your Account, and you further acknowledge and agree that all rights in and to your Account are and shall forever be owned by and inure to the benefit of Repo Coin.</p>
      <p class="lead">Notwithstanding the foregoing, the provisions set forth in this section with respect to REPO token sales are subject to the terms set forth on our Token Sale Purchase Agreement webpage available at [https://token.Repo Coinapp.com/en/crowdsale/legal/?swag=420&amp;headshot=360].</p>
      <p class="lead">Ownership</p>
       <p class="lead">Unless otherwise indicated in writing by us, the Site and all content and other materials contained therein, including, without limitation, the Repo Coin logo and all designs, text, graphics, pictures, information, data, software, sound files, other files and the selection and arrangement thereof (collectively, “Content”) are the proprietary property of Repo Coin or our affiliates, licensors or users, as applicable.</p>
      <p class="lead">Notwithstanding anything to the contrary in this Agreement, the Site and Content may include software components provided by Repo Coin or its affiliates or a third party that are subject to separate license terms, in which case those license terms will govern such software components.</p>
      <p class="lead">The Repo Coin logo and any Repo Coin product or service names, logos or slogans that may appear on the Site or Service are trademarks of Repo Coin or our affiliates and may not be copied, imitated or used, in whole or in part, without our prior written permission. You may not use any metatags or other “hidden text” utilizing “REPO” or any other name, trademark or product or service name of Repo Coin or our affiliates without our prior written permission. In addition, the look and feel of the Site and Content, including, without limitation, all page headers, custom graphics, button icons and scripts, constitute the service mark, trademark or trade dress of Repo Coin and may not be copied, imitated or used, in whole or in part, without our prior written permission. All other trademarks, registered trademarks, product names and Repo Coin names or logos mentioned on the Site are the property of their respective owners and may not be copied, imitated or used, in whole or in part, without the permission of the applicable trademark holder. Reference to any products, services, processes or other information by name, trademark, manufacturer, supplier or otherwise does not constitute or imply endorsement, sponsorship or recommendation by Repo Coin.</p>
      <p class="lead">License to Access and Use Our Site and Content</p>
      <p class="lead">You are hereby granted a limited, nonexclusive, nontransferable, nonsublicensable license to access and use the Site and Content. However, such license is subject to this Agreement and does not include any right to (a) sell, resell or use commercially the Site or Content s, (b) distribute, publicly perform or publicly display any Content, (c) modify or otherwise make any derivative uses of the Site or Content, or any portion thereof, (d) use any data mining, robots or similar data gathering or extraction methods, (e) download (other than page caching) any portion of the Site or Content, except as expressly permitted by us, and (f) use the Site or Content other than for their intended purposes.</p>
      <p class="lead">Hyperlinks</p>
      <p class="lead">You are granted a limited, nonexclusive, nontransferable right to create a text hyperlink to the Site for noncommercial purposes, provided that such link does not portray Repo Coin or our affiliates or any of our products or services in a false, misleading, derogatory or otherwise defamatory manner, and provided further that the linking site does not contain any adult or illegal material or any material that is offensive, harassing or otherwise objectionable. This limited right may be revoked at any time. You may not use a REPO logo or other proprietary graphic of Repo Coin to link to the Site or Content without our express written permission. Further, you may not use, frame or utilize framing techniques to enclose any Repo Coin trademark, logo or other proprietary information, including the images found on the Site, the content of any text or the layout or design of any page, or form contained on a page, on the Site without our express written consent.</p>
      <p class="lead">Third Party Services.</p>
      <p class="lead">The Site may contain links to third-party websites (“Third-Party Websites”) and applications (“Third-Party Applications”). When you click on a link to a Third-Party Website or Third-Party Application, we will not warn you that you have left our Site and are subject to the Agreement and conditions (including privacy policies) of another website or destination. Such Third-Party Websites and Third-Party Applications and are not under the control of Repo Coin. Repo Coin is not responsible for any Third-Party Websites or Third-Party Applications. Repo Coin provides these Third-Party Websites and Third-Party Applications only as a convenience and does not review, approve, monitor, endorse, warrant, or make any representations with respect to Third-Party Websites or Third-Party Applications, or their products or services. You use all links in Third-Party Websites, and Third-Party Applications at your own risk. When you leave our Site, our Agreement and policies no longer govern. You should review applicable agreement and policies, including privacy and data gathering practices, of any Third-Party Websites or Third-Party Applications, and should make whatever investigation you feel necessary or appropriate before proceeding with any transaction with any third party.</p>
      <p class="lead">User Conduct</p>
       <p class="lead">You agree that you will not violate any law, contract, intellectual property or other third party right, and that you are solely responsible for your conduct, while accessing or using the Site or using REPO. You agree that you will abide by this Agreement and will not:</p>
      <p class="lead">Provide false or misleading information to Repo Coin;</p>
      <p class="lead">Use or attempt to use another user’s Account without authorization from such user and Repo Coin;</p>
      <p class="lead">Use the Site or REPO in any manner that could interfere with, disrupt, negatively affect or inhibit other users from fully enjoying the Site or REPO, or that could damage, disable, overburden or impair the functioning of the Site or REPO in any manner;</p>
      <p class="lead">Develop, utilize, or disseminate any software, or interact with any API in any manner, that could damage, harm, or impair the Site or REPO;</p>
      <p class="lead">Reverse engineer any aspect of the Site, or do anything that might discover source code or bypass or circumvent measures employed to prevent or limit access to any Service, area or code of the Site;</p>
      <p class="lead">Attempt to circumvent any content-filtering techniques we employ, or attempt to access any feature or area of the Site or REPO that you are not authorized to access;</p>
      <p class="lead">Use any robot, spider, crawler, scraper, script, browser extension, offline reader or other automated means or interface not authorized by us to access the Site and REPO, extract data or otherwise interfere with or modify the rendering of Site pages or functionality;</p>
      <p class="lead">Use data collected from our Site or REPO to contact individuals, companies, or other persons or entities;</p>
      <p class="lead">Use data collected from our Site for any direct marketing activity (including without limitation, email marketing, SMS marketing, telemarketing, and direct marketing);</p>
      <p class="lead">Bypass or ignore instructions that control all automated access to the Site or REPO; or</p>
      <p class="lead">Use the Site or REPO for any illegal or unauthorized purpose, or engage in, encourage or promote any activity that violates this Agreement.</p>
      <p class="lead">Use the Ethereum Platform to carry out any illegal activities, including but not limited to money laundering, terrorist financing or deliberately engaging in activities designed to adversely affect the performance of the Ethereum Platform, the REPO or the Repo Coin Ecosystem.</p>
      <p class="lead">Feedback</p>
      <p class="lead">You can submit questions, comments, suggestions, ideas, original or creative materials or other information about Repo Coin, the Site or the REPO (collectively, “Feedback”). You agree that submission of Feedback is at your own risk and that Repo Coin has no obligations (including without limitation obligations of confidentiality) with respect to such Feedback. You represent and warrant that you have all rights necessary to submit the Feedback. You hereby grant Repo Coin a fully paid, royalty-free, perpetual, irrevocable, worldwide, non-exclusive, and fully sublicensable right and license to use, reproduce, perform, display, distribute, adapt, modify, reformat, create derivative works of, and otherwise commercially or non-commercially exploit in any manner, any and all Feedback, and to sublicense the foregoing rights in connection with the operation and maintenance of the Site and REPO.</p>
      <p class="lead">Indemnification</p>
      <p class="lead">To the fullest extent permitted by applicable law, you agree to indemnify, defend and hold harmless Repo Coin, and our respective past, present and future employees, officers, directors, contractors, consultants, equity holders, suppliers, vendors, service providers, parent companies, subsidiaries, affiliates, agents, representatives, predecessors, successors and assigns (individually and collectively, the “Repo Coin Parties”), from and against all actual or alleged third party claims, damages, awards, judgments, losses, liabilities, obligations, penalties, interest, fees, expenses (including, without limitation, attorneys’ fees and expenses) and costs (including, without limitation, court costs, costs of settlement and costs of pursuing indemnification and insurance), of every kind and nature whatsoever, whether known or unknown, foreseen or unforeseen, matured or unmatured, or suspected or unsuspected, in law or equity, whether in tort, contract or otherwise (collectively, “Claims”), including, but not limited to, damages to property or personal injury, that are caused by, arise out of or are related to (a) your use or misuse of the Site, Content or REPO, (b) any Feedback you provide, (c) your violation of this Agreement, and (d) your violation of the rights of a third party, including another user. You agree to promptly notify Repo Coin of any third party Claims and cooperate with the Repo Coin Parties in defending such Claims. You further agree that the Repo Coin Parties shall have control of the defense or settlement of any third party Claims. THIS INDEMNITY IS IN ADDITION TO, AND NOT IN LIEU OF, ANY OTHER INDEMNITIES SET FORTH IN A WRITTEN AGREEMENT BETWEEN YOU AND Repo Coin.</p>
      <p class="lead">Disclaimers</p>
      <p class="lead">EXCEPT AS EXPRESSLY PROVIDED TO THE CONTRARY IN A WRITING BY Repo Coin, THE SITE, CONTENT CONTAINED THEREIN, AND REPO ARE PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED. Repo Coin (AND ITS SUPPLIERS) MAKE NO WARRANTY THAT THE SITE: A) WILL MEET YOUR REQUIREMENTS; (B) WILL BE AVAILABLE ON AN UNINTERRUPTED, TIMELY, SECURE, OR ERROR-FREE BASIS; OR (C) WILL BE ACCURATE, RELIABLE, COMPLETE, LEGAL, OR SAFE. Repo Coin DISCLAIMS ALL OTHER WARRANTIES OR CONDITIONS, EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AS TO THE SITE, CONTENT CONTAINED THEREIN AND REPO. Repo Coin DOES NOT REPRESENT OR WARRANT THAT CONTENT ON THE SITE IS ACCURATE, COMPLETE, RELIABLE, CURRENT OR ERROR-FREE. WE WILL NOT BE LIABLE FOR ANY LOSS OF ANY KIND FROM ANY ACTION TAKEN OR TAKEN IN RELIANCE ON MATERIAL OR INFORMATION, CONTAINED ON THE SITE. WHILE Repo Coin ATTEMPTS TO MAKE YOUR ACCESS TO AND USE OF THE SITE, CONTENT AND REPO SAFE, Repo Coin CANNOT AND DOES NOT REPRESENT OR WARRANT THAT THE SITE, CONTENT, REPO OR OUR SERVERS ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. WE CANNOT GUARANTEE THE SECURITY OF ANY DATA THAT YOU DISCLOSE ONLINE. YOU ACCEPT THE INHERENT SECURITY RISKS OF PROVIDING INFORMATION AND DEALING ONLINE OVER THE INTERNET AND WILL NOT HOLD US RESPONSIBLE FOR ANY BREACH OF SECURITY UNLESS IT IS DUE TO OUR GROSS NEGLIGENCE.</p>
      <p class="lead">WE WILL NOT BE RESPONSIBLE OR LIABLE TO YOU FOR ANY LOSS AND TAKE NO RESPONSIBILITY FOR, AND WILL NOT BE LIABLE TO YOU FOR, ANY USE OF REPO, INCLUDING BUT NOT LIMITED TO ANY LOSSES, DAMAGES OR CLAIMS ARISING FROM: (A) USER ERROR SUCH AS FORGOTTEN PASSWORDS, INCORRECTLY CONSTRUCTED TRANSACTIONS, OR MISTYPED ADDRESSES; (B) SERVER FAILURE OR DATA LOSS; (C) CORRUPTED WALLET FILES; (D) UNAUTHORIZED ACCESS TO APPLICATIONS; (E) ANY UNAUTHORIZED THIRD PARTY ACTIVITIES, INCLUDING WITHOUT LIMITATION THE USE OF VIRUSES, PHISHING, BRUTEFORCING OR OTHER MEANS OF ATTACK AGAINST THE SITE OR REPO.</p>
      <p class="lead">REPO IS AN INTANGIBLE DIGITAL ASSET. REPO EXISTS ONLY BY VIRTUE OF THE OWNERSHIP RECORD MAINTAINED IN THE ETHEREUM NETWORK. ANY TRANSFER OF TITLE THAT MIGHT OCCUR IN ANY REPO OCCURS ON THE DECENTRALIZED LEDGER WITHIN THE ETHEREUM PLATFORM. WE DO NOT GUARANTEE THAT Repo Coin OR ANY Repo Coin PARTY CAN EFFECT THE TRANSFER OF TITLE OR RIGHT IN ANY REPO TOKENS.</p>
      <p class="lead">Repo Coin is not responsible for sustained casualties due to vulnerability or any kind of failure, abnormal behavior of software (e.g., wallet, smart contract), blockchains or any other features of the REPO. Repo Coin is not responsible for casualties due to late report by developers or representatives (or no report at all) of any issues with the blockchain supporting REPO including forks, technical node issues or any other issues having fund losses as a result.</p>
      <p class="lead">Nothing in this Agreement shall exclude or limit liability of either party for fraud, death or bodily injury caused by negligence, violation of laws, or any other activity that cannot be limited or excluded by legitimate means.</p>
      <p class="lead">SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF IMPLIED WARRANTIES IN CONTRACTS WITH CONSUMERS, SO THE ABOVE EXCLUSION MAY NOT APPLY TO YOU.</p>
      <p class="lead">Assumption of Risk</p>
      <p class="lead">You accept and acknowledge:</p>
      <p class="lead">The prices of blockchain assets are extremely volatile. Fluctuations in the price of other digital assets could materially and adversely affect the REPO, which may also be subject to significant price volatility. We cannot guarantee that any purchasers of REPO will not lose money.</p>
      <p class="lead">You are solely responsible for determining what, if any, taxes apply to your REPO token transactions. Neither Repo Coin nor any other Repo Coin Party is responsible for determining the taxes that apply to REPO token transactions.</p>
      <p class="lead">Our Site does not store, send, or receive REPO. This is because REPO exists only by virtue of the ownership record maintained on its supporting blockchain. Any transfer of REPO occurs within the supporting blockchain and not on this Site.</p>
      <p class="lead">There are risks associated with using an Internet based currency, including but not limited to, the risk of hardware, software and Internet connections, the risk of malicious software introduction, and the risk that third parties may obtain unauthorized access to information stored within your wallet. You accept and acknowledge that Repo Coin will not be responsible for any communication failures, disruptions, errors, distortions or delays you may experience when using the REPO, however caused.</p>
      <p class="lead">A lack of use or public interest in the creation and development of distributed ecosystems could negatively impact the development of the Repo Coin Ecosystem and therefore the potential utility or value of REPO tokens.</p>
      <p class="lead">The regulatory regime governing blockchain technologies, cryptocurrencies, and tokens is uncertain, and new regulations or policies may materially adversely affect the development of the Repo Coin Ecosystem and the utility of REPO.</p>
      <p class="lead">[The Repo Coin Ecosystem will rely on third-party platforms such as the Apple App Store and the Google Play Store to distribute the applications through which users will access the Repo Coin Ecosystem. If the Repo Coin Ecosystem is unable to maintain a good relationship with such platform providers; if the terms and conditions or pricing of such platform providers change; if the Repo Coin Ecosystem providers violate or cannot comply with the terms and conditions of such platforms; or if any of such platforms loses market share or falls out of favor or is unavailable for a prolonged period of time, access to and use of the Repo Coin Ecosystem and REPO will suffer.]</p>
      <p class="lead">Upgrades by Ethereum to the Ethereum Platform, a hard fork in the Ethereum Platform, or a change in how transactions are confirmed on the Ethereum Platform may have unintended, adverse effects on all blockchains using the ERC-20 standard, including the Repo Coin Ecosystem.</p>
      <p class="lead">Limitation of Liability; Release</p>
      <p class="lead">TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL Repo Coin BE LIABLE TO YOU OR ANY THIRD PARTY FOR ANY LOST PROFIT OR ANY INDIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES ARISING FROM THIS AGREEMENT, THE SITE, PRODUCTS OR THIRD PARTY SITES AND PRODUCTS, OR FOR ANY DAMAGES RELATED TO LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, OR LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT, OR OTHERWISE, EVEN IF FORESEEABLE AND EVEN IF Repo Coin HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. ACCESS TO, AND USE OF, THE SITES, PRODUCTS OR THIRD PARTY SITES AND PRODUCTS ARE AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR MOBILE DEVICE OR LOSS OF DATA RESULTING THEREFROM.</p>
      <p class="lead">NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN, IN NO EVENT SHALL THE MAXIMUM AGGREGATE LIABILITY OF Repo Coin ARISING OUT OF OR IN ANY WAY RELATED TO THIS AGREEMENT, THE ACCESS TO AND USE OF THE SITE, CONTENT, REPO, OR ANY PRODUCTS OR SERVICES PURCHASED FROM US EXCEED THE GREATER OF (A) $100 OR (B) THE AMOUNT RECEIVED BY Repo Coin FROM THE SALE OF REPO TOEKNS THAT ARE THE SUBJECT OF THE CLAIM.</p>
      <p class="lead">THE FOREGOING LIMITATIONS OF LIABILITY SHALL NOT APPLY TO LIABILITY OF Repo Coin FOR (A) DEATH OR PERSONAL INJURY CAUSED BY A MEMBER OF Repo Coin NEGLIGENCE; OR FOR (B) ANY INJURY CAUSED BY A MEMBER OF Repo Coin’s FRAUD OR FRAUDULENT MISREPRESENTATION.</p>
      <p class="lead">Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation or exclusion may not apply to you. Some jurisdictions also limit disclaimers or limitations of liability for personal injury from consumer products, so this limitation may not apply to personal injury claims.</p>
      <p class="lead">Modifications to the Site and REPO</p>
      <p class="lead">We reserve the right in our sole discretion to modify, suspend or discontinue, temporarily or permanently, the Sites (or any features or parts thereof) or suspend or discontinue issuance of REPO at any time and without liability therefor.</p>
      <p class="lead">Dispute Resolution; Arbitration. Dispute Resolution. Please read the following arbitration agreement in this Section (“Arbitration Agreement”) carefully.&nbsp; It requires you to arbitrate disputes with Repo Coin and limits the manner in which you can seek relief from us.</p>
      <p class="lead">Applicability of Arbitration Agreement. You agree that any dispute or claim relating in any way to your access or use of the Site, to any products sold or distributed through the Site, or to any aspect of your relationship with Repo Coin, will be resolved by binding arbitration, rather than in court, except that (1) you may assert claims in small claims court if your claims qualify; and (2) you or Repo Coin may seek equitable relief in court for infringement or other misuse of intellectual property rights (such as trademarks, trade dress, domain names, trade secrets, copyrights, and patents).</p>
      <p class="lead">Arbitration Rules and Forum. &nbsp;The Federal Arbitration Act governs the interpretation and enforcement of this Arbitration Agreement. To begin an arbitration proceeding, you must send a letter requesting arbitration and describing your claim to our registered agent [include name and address of registered agent here]. The arbitration will be conducted by JAMS, an established alternative dispute resolution provider.&nbsp;&nbsp; Disputes involving claims and counterclaims under $250,000, not inclusive of attorneys’ fees and interest, shall be subject to JAMS’s most current version of the Streamlined Arbitration Rules and procedures available at http://www.jamsadr.com/rules-streamlined-arbitration/; all other claims shall be subject to JAMS’s most current version of the Comprehensive Arbitration Rules and Procedures, available at http://www.jamsadr.com/rules-comprehensive-arbitration/. JAMS’s rules are also available at www.jamsadr.com or by calling JAMS at 800-352-5267. If JAMS is not available to arbitrate, the parties will select an alternative arbitral forum. If the arbitrator finds that you cannot afford to pay JAMS’s filing, administrative, hearing and/or other fees and cannot obtain a waiver from JAMS, Repo Coin will pay them for you. In addition, Repo Coin will reimburse all such JAMS’s filing, administrative, hearing and/or other fees for claims totaling less than $10,000 unless the arbitrator determines the claims are frivolous. You may choose to have the arbitration conducted by telephone, based on written submissions, or in person in the country where you live or at another mutually agreed location. Any judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction.</p>
      <p class="lead">Authority of Arbitrator.&nbsp; The arbitrator shall have exclusive authority to (a) determine the scope and enforceability of this Arbitration Agreement and (b) resolve any dispute related to the interpretation, applicability, enforceability or formation of this Arbitration Agreement including, but not limited to any claim that all or any part of this Arbitration Agreement is void or voidable. The arbitration will decide the rights and liabilities, if any, of you and Repo Coin. The arbitration proceeding will not be consolidated with any other matters or joined with any other cases or parties.&nbsp; The arbitrator shall have the authority to grant motions dispositive of all or part of any claim. The arbitrator shall have the authority to award monetary damages and to grant any non-monetary remedy or relief available to an individual under applicable law, the arbitral forum’s rules, and the Agreement (including the Arbitration Agreement). The arbitrator shall issue a written award and statement of decision describing the essential findings and conclusions on which the award is based, including the calculation of any damages awarded.&nbsp; The arbitrator has the same authority to award relief on an individual basis that a judge in a court of law would have.&nbsp; The award of the arbitrator is final and binding upon you and us.</p>
      <p class="lead">Waiver of Jury Trial.&nbsp; YOU AND Repo Coin HEREBY WAIVE ANY CONSTITUTIONAL AND STATUTORY RIGHTS TO SUE IN COURT AND HAVE A TRIAL IN FRONT OF A JUDGE OR A JURY. You and Repo Coin are instead electing that all claims and disputes shall be resolved by arbitration under this Arbitration Agreement, except as specified in Section 15.1 above.&nbsp; An arbitrator can award on an individual basis the same damages and relief as a court and must follow this Agreement as a court would. However, there is no judge or jury in arbitration, and court review of an arbitration award is subject to very limited review.</p>
      <p class="lead">Waiver of Class or Other Non-Individualized Relief.&nbsp; ALL CLAIMS AND DISPUTES WITHIN THE SCOPE OF THIS ARBITRATION AGREEMENT MUST BE ARBITRATED ON AN INDIVIDUAL BASIS AND NOT ON A OR COLLECTIVE CLASS BASIS, ONLY INDIVIDUAL RELIEF IS AVAILABLE, AND CLAIMS OF MORE THAN ONE CUSTOMER OR USER CANNOT BE ARBITRATED OR CONSOLIDATED WITH THOSE OF ANY OTHER CUSTOMER OR USER. If a decision is issued stating that applicable law precludes enforcement of any part of this subsection’s limitations as to a given claim for relief, then that claim must be severed from the arbitration and brought in the state or federal courts located in the State of Delaware. All other claims shall be arbitrated.</p>
      <p class="lead">30-Day Right to Opt Out. You have the right to opt out of the provisions of this Arbitration Agreement by sending written notice of your decision to opt out to the following address: Repo Coin, [tokensupport@Repo Coinapp.com], within 30 days after first becoming subject to this Arbitration Agreement. You may also submit your decision to [tokensupport@Repo Coinapp.com]. Your notice must include your name and address, the email address you used to set up your account (if you have one), and an unequivocal statement that you want to opt out of this Arbitration Agreement. If you opt out of this Arbitration Agreement, all other parts of this Agreement will continue to apply to you. Opting out of this Arbitration Agreement has no effect on any other arbitration agreements that you may currently have, or may enter in the future, with us.</p>
      <p class="lead">Severability. Except as provided in Section 15.5, if any part or parts of this Arbitration Agreement are found under the law to be invalid or unenforceable, then such specific part or parts shall be of no force and effect and shall be severed and the remainder of the Arbitration Agreement shall continue in full force and effect.</p>
      <p class="lead">Survival of Agreement. This Arbitration Agreement will survive the termination of your relationship with Repo Coin.</p>
      <p class="lead">Modification. Notwithstanding any provision in this Agreement to the contrary, we agree that if Repo Coin makes any future material change to this Arbitration Agreement, you may reject that change within thirty (30) days of such change becoming effective by writing to Repo Coin at the following address: [tokensupport@Repo Coinapp.com].</p>
      <p class="lead">Governing Law and Venue</p>
      <p class="lead">This Agreement, your access to and use of the Site and Content, and your purchase and use of the REPO token shall be governed by and construed and enforced in accordance with the laws of the State of Delaware, without regard to conflict of law rules or principles of the State of Delaware, or any other jurisdiction) that would cause the application of the laws of any other jurisdiction. Any Dispute between the parties that is not subject to arbitration or cannot be heard in small claims court, shall be resolved in the state or federal courts of the State of Delaware, and the United States, respectively, sitting in the State of Delaware.</p>
      <p class="lead">Termination</p>
      <p class="lead">Notwithstanding anything contained in this Agreement, we reserve the right, without notice and in our sole discretion, to terminate your right to access or use the Site at any time and for any or no reason, and you acknowledge and agree that we shall have no liability or obligation to you in such event and that you will not be entitled to a refund of any amounts that you have already paid to us, to the fullest extent permitted by applicable law.</p>
      <p class="lead">Severability</p>
      <p class="lead">If any term, clause or provision of this Agreement is held invalid or unenforceable, then that term, clause or provision will be severable from this Agreement and will not affect the validity or enforceability of any remaining part of that term, clause or provision, or any other term, clause or provision of this Agreement.</p>
      <p class="lead">Survival</p>
      <p class="lead">The following sections will survive the expiration or termination of this Agreement and the termination of your Account: all defined terms and Sections 2, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, and 20.</p>
      <p class="lead">Miscellaneous</p>
      <p class="lead">This Agreement along with the Token Sale Purchase Agreement [https://token.Repo Coinapp.com/en/crowdsale/legal/?swag=420&amp;headshot=360] constitutes the entire agreement between you and Repo Coin relating to your access to and use of the Sites and Content, and your purchase and use of the REPO. This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you without the prior written consent of Repo Coin prior, concurrent or subsequent circumstance, and Repo Coin’s failure to assert any right or provision under this Agreement shall not constitute a waiver of such right or provision. Except as otherwise provided herein, this Agreement is intended solely for the benefit of the parties and are not intended to confer third party beneficiary rights upon any other person or entity.</p>
      <p class="lead">END OF AGREEMENT</p>

      </div>
      </div>
      </div>
      </section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>
