<app-header-nav></app-header-nav>
<div id="particle-canvas" style="display:none;"></div>
     <section class="imagebg text-center bg--dark " data-overlay="3">
            <div class="background-image-holder" style="background: url(&quot;assets/img/demo-bg.jpg&quot;); opacity: 1;">
               <img alt="background" src="/assets/img/demo-bg.jpg">
            </div>
            <div class="container" style="z-index: 3; position: relative;">
               <div class="row">
                  <div class="col-md-12">
                     <h1>404</h1>
                     <p class="lead">
                       Page does not exits
                     </p>
                  </div>
               </div>
               <!--end of row-->
            </div>
            <!--end of container-->
         </section>
<app-footer></app-footer>
