<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<section class="text-center imagebg space--lg" data-overlay="3">
    <div class="background-image-holder" style="background: url(assets/img/bg-earlypurchase-1.jpg); opacity: 1;">
      <img alt="background" src="assets/img/bg-earlypurchase-1.jpg">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-8">
          <h1>Token Sale Successfully Ended!</h1>
          <h2> Thank you for making the STAR Token sale an overwhelming success. We are extremely grateful for all the support we received during this process. </h2>
        </div>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <section >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <table class="border--round table--alternate-column" style="text-align: left; font-size:20px">
            <tbody>

                <tr>
                  <td> <strong> Token Name: </strong></td>
                  <td>          STAR          </td>
                </tr>

                <tr>
                  <td> <strong> Utility: </strong></td>
                  <td>          Possible discount/Priority rights for token purchasers. Marketing power for token sales, and Starbase platform premium service payment          </td>
                </tr>

                <tr>
                  <td> <strong> Accepted Payment: </strong></td>
                  <td>          Ether(ETH)          </td>
                </tr>

                <tr>
                  <td> <strong> Date: </strong></td>
                  <td>          Nov 9 2017 15:55:00 UTC to Nov 24 2017 15:55:00 UTC          </td>
                </tr>

                <tr>
                  <td> <strong> Minimum Contribution </strong></td>
                  <td>          0.1 ETH          </td>
                </tr>

                <tr>
                  <td> <strong> Price of STAR: </strong></td>
                  <td>          Depending on collected funds.          </td>
                </tr>

                <tr>
                  <td> <strong> Contract Address </strong></td>
                  <td>          <a href="https://etherscan.io/address/0x54c548703c6f423cf7ed22806b608d332fcebb3b"> 0x54c548703c6f423cf7ed22806b608d332fcebb3b </a>          </td>
                </tr>

                <tr>
                  <td> <strong> Withdraw STAR: </strong></td>
                  <td>           <a href="https://www.youtube.com/watch?v=DDFvmP88Hq4"> video </a> or <a href="docs/2017/11/STAR_User+Guide_latest.pdf"> document </a>          </td>
                </tr>

            </tbody>
          </table>

        </div>
      </div>
      <!--end of row-->

      <div class="row">
        <h3>To streamline the KYC/AML process during the crowdsale, Starbase used PICOPS (https://picops.parity.io) to perform KYC/AML checks. PICOPS charges a small fee of 0.024 ETH per new user by PICOPS. If your ETH address is already verified by PICOPS, you do not have to re-validate. We provided a verification check button on our website to confirm your address. <br> <br> Holders will receive the final amount of STAR Token just after the Crowdsale ends. The amount of STAR each individual buyer receives is determined by how much Starbase is able to raise. If more funds are raised, then the individual amount each buyer receives decreases, but this is compensated by an increase in STAR value.  <br>
        </h3>
      </div>
    </div>
    <!--end of container-->
  </section>


  <section class="space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
    <div class="container">
        <div class="row">
            <div class="cta cta--horizontal text-center-xs">
                <div class="col-sm-4">
                    <h3> Let`s get you started</h3>
                </div>
                <div class="col-sm-5">
                  <h3>  Learn more about our</h3>
                </div>
                <div class="col-sm-3 text-right text-center-xs">
                    <a class="btn btn--primary btn--lg type--uppercase" href="https://www.slideshare.net/StarbaseGlobal/starbase-token-star-detail" target="_blank">
                        <span class="btn__text">
                            STAR Token
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

  <section>
    <div class="container">
      <div class="row">
          <iframe width="560" height="715" src="https://www.youtube.com/embed/DDFvmP88Hq4?rel=0" frameborder="0" allowfullscreen></iframe>

        <h1>Process of Crowdsale</h1>



        <ol class="process-3" id="process-big">

            <li class="process_item">
              <div class="process__number"><span>1</span></div>
              <div class="process__body">
                <h4>Verify you Ethereum address</h4>
                <p>
                  Starbase will be using PICOPS (https://picops.parity.io) to perform KYC/AML checks. PICOPS charges a small fee of 0.024 ETH per new user by PICOPS. If your ETH address is already verified by PICOPS, you do not have to re-validate. <strong> Our contract only accepts contributions from PICOPS verified ethereum addresses.</strong>
                </p>
              </div>
            </li>

            <li class="process_item">
              <div class="process__number"><span>2</span></div>
              <div class="process__body">
                <h4>Transfer Ether to our contract address</h4>
                <p>
                  We will provide an input form where you paste you ethereum address which you will send the contribution. We will check if you address is verified at PICOPS, if is verified you will see our Ethereum contract address. You can send Ether to the contract address and purchase STAR as a crowdsale purchaser.
                </p>
              </div>
            </li>

            <li class="process_item">
              <div class="process__number"><span>3</span></div>
              <div class="process__body">
                <h4>Converting Rates</h4>
                <p>
                  Starbase system will determine the amount purchased by converting Bitcoin or Ether to CNY, according to the following APIs, or equivalent service chosen by Starbase at approx. <a target="_blank" href="https://www.okcoin.cn/api/v1/trades.do?symbol=eth_cny">Ether</a>, <a target="_blank" href="http://www.xe.com/currencytables/">USD/CNY</a>. We will then write the CNY amount purchased on Starbase’s crowdsale contract when the crowdsale period finishes.
                </p>
              </div>
            </li>

            <li class="process_item">
              <div class="process__number"><span>4</span></div>
              <div class="process__body">
                <h4>End of Crowdsale period</h4>
                <p>
                  After the crowdsale is over, the total amount of STAR will be determined.
                </p>
              </div>
            </li>

            <li class="process_item">
              <div class="process__number"><span>5</span></div>
              <div class="process__body">
                <h4>Starbase is launched, Q1-2018 </h4>
                <p>
                  After Starbase is launched, STAR becomes transferable and it’ll be traded on major crypto currency exchanges.
                </p>
              </div>
            </li>

        </ol>
      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>


  <section class="bg--secondary">
    <div class="container">
      <div class="row">

          <h4>After the Crowdsale is finished, Crowdsale Buyers will receive:</h4>
          <p>
            <img src="assets/img/cs-formula.png" width="600">
          </p>


          <h4>Crowdsale Bonus rates</h4>
          <p>
            Starbase’s Bonus Schedule in Crowdsale will be as follows:  <br> 1st 20% — 20% bonus  <br> 2nd 20% — 15% bonus  <br> 3rd 20% — 10% bonus  <br> 4th 20% — 5% bonus <br> 5th 20% — 0% bonus
          </p>


          <h4>Bonus Example</h4>
          <p>
            If a User contributes during the Contribution Period 100 CNY (including applicable Bonus, if any) and total amount raised during the Contribution Period is 36’000’000 CNY (including applicable Bonus, if any), then he will get 347.22 STAR = 100 CNY * 125’000’000 STAR/36’000’000 CNY.
          </p>


      </div>
      <!--end of row-->
    </div>
    <!--end of container-->
  </section>
  <app-footer></app-footer>