.partner-logo {
    text-align: center;
  }
  .closed-partner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    width: 80%;
    height: 100%;
    color: white;
    font-size: 20px;
  }