<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
     <section class="imagebg text-center bg--dark " data-overlay="3">
            <div class="background-image-holder" style="background: url(&quot;assets/img/demo-bg.jpg&quot;); opacity: 1;">
               <img alt="background" src="/assets/img/demo-bg.jpg">
            </div>
            <div class="container" style="z-index: 3; position: relative;">
               <div class="row">
                  <div class="col-md-12">
                     
                  </div>
               </div>
               <!--end of row-->
            </div>
            <!--end of container-->
         </section>
         <section class="text-center bg--secondary" id="team">
          <div class="container">
             <div class="row">
                <div class="row">
                   <h1>Meet The Team</h1>
                   <p class="lead">
                      An innovative collection of like-minded people developing useful and enduring technological products.
                   </p>
                   <!-- ROW OF CEO -->
                   <div class="row">
                      <div class="col-sm-4">
                         <div class="feature feature-8 wow fadeInRight">
                            <img alt="Image" src="/assets/img/about/fahim.png" class="grayscale rounded box-shadow-wide">
                            <h5>Fahim Aref</h5>
                            <p>
                               Co-Founder &amp; CEO
                            </p>
                            <p class="text-justify ppl-desc">
                               Fahim is a Blockchain enthusiast and is currently focused on next generation Blockchain-based Applications, and Cryptocurrencies. He has over 20 years of experience in Real Estate, Oil &amp; Gas and Consumer Electronic markets. $50MM+ in combined Transactions (Hydrocarbon Minerals). Co-Founder of Scan Halal (#1 Halal App). He also serves as the executive director of Pious Projects, a non-profit organization based in Chicago.
                            </p>
                            <ul class="social-list list-inline list--hover">
                               <li>
                                  <a href="https://www.linkedin.com/in/tejaragroup/" target="_blank">
                                  <i class="socicon socicon-linkedin icon icon--xs"></i>
                                  </a>
                            </ul>
                         </div>
                      </div>
                   </div>
                   <!--/ ROW OF CEO -->
                   <!-- TEAM ROW 1 -->
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInLeft">
                         <img alt="Image" src="/assets/img/about/mohammed.png" class="grayscale rounded box-shadow-wide">
                         <h5>Mohammad Majid</h5>
                         <p>
                            Co-Founder &amp; CRO
                         </p>
                         <p class="text-justify ppl-desc">
                            Majid brings years of experience in the industry. His expertise allows him to move with speed and accuracy in every phase of investigation, recovery, account management and revenue attainment solving complex strategies and execute upon boosting both gross collections and net recoveries at the same time.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/mohammad-majid-8a5a9a159/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInRight">
                         <img alt="Image" src="/assets/img/about/sana.png" class="grayscale rounded box-shadow-wide">
                         <h5>Sana Othman</h5>
                         <p>
                            Co-Founder &amp; CFO
                         </p>
                         <p class="text-justify ppl-desc">
                            Sana started her career at the State Bank of Countryside, a family owned bank based in the midwest region of the US, where she was employed for over five years. Sana is a co-founding and managing member in numerous energy industry startups, including Hydrocarbon Minerals, LLC. Sana has a Bachelor's Degree in Business Administration from Robert Morris University.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/sana-othman-91951815a/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                            <!-- <li>
                               <a href="https://twitter.com/tomorrowaki" target="_blank">
                                   <i class="socicon socicon-twitter icon icon--xs"></i>
                               </a>
                               </li>
                               <li>
                               <a href="https://www.facebook.com/tomoaki.sato.35" target="_blank">
                                   <i class="socicon socicon-facebook icon icon--xs"></i>
                               </a>
                               </li>
                               <li>
                               <a href="https://github.com/TOMOAKI12345" target="_blank">
                                   <i class="socicon socicon-github icon icon--xs"></i>
                               </a>
                               </li> -->
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInLeft desc-left">
                         <img alt="Image" src="/assets/img/about/anurag.png" class="grayscale rounded box-shadow-wide">
                         <h5>Anurag Makol</h5>
                         <p>
                            Senior Blockchain Developer
                         </p>
                         <p class="text-justify ppl-desc">
                            Anurag is a blockchain expert with a background in cyber security and technology management. As a cyber security expert, Anurag holds multiple security certifications such as Certified Ethical Hacker (CEH) and Certified Information System Security (CISSP). He is currently focused on the cyber security aspect of blockchains and crypto currencies, and is working on several blockchain security research studies.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/anurag-makol-a1b278ba/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <!-- /TEAM ROW 1 -->
                </div>
                <div class="row">
                   <!-- TEAM ROW 2 -->
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInRight">
                         <img alt="Image" src="/assets/img/about/anas.png" class="grayscale rounded box-shadow-wide">
                         <h5>Anas Razzaq</h5>
                         <p>
                            Operations Strategist
                         </p>
                         <p class="text-justify ppl-desc">
                            Entrepreneur with over 8 years of professional experience leading and delivering enterprise and consumer facing products for various startups in the technology industry with core competencies in product development, market strategy, and streamlining operations. Anas has created products that have been used by millions of people that have acquired a large active user base. He currently serves as founder and CEO of Scan Halal, a mobile application revolutionizing the Global Halal Foods Industry used by millions of users through the use of its proprietary and innovative technology.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/anasrazzaq/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInRight">
                         <img alt="Image" src="/assets/img/about/busti.jpg" class="grayscale rounded box-shadow-wide">
                         <h5>Muhammad Baste</h5>
                         <p>
                            Enterprise Architect
                         </p>
                         <p class="text-justify ppl-desc">
                            Baste Graduated from DePaul University in Business Administration. He serves as President of Strada Logistics, a motor transportation company based in Chicago. Successful serial entrepreneur with over 15 years of Business Operation Experience.  Partnered With Smart Choice Mobile a T-Mobile retailer, expanded operations from 9 locations to 37 locations in 10 months. *Secured 1st ever loan with BMO Harris for 1MM, for cellular carrier.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/muhammad-baste-aab31667/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInRight desc-left">
                         <img alt="Image" src="/assets/img/about/safayat.png" class="grayscale rounded box-shadow-wide">
                         <h5>Safayat Jamil</h5>
                         <p>
                            Network Engineer
                         </p>
                         <p class="text-justify ppl-desc">
                            Safayat has over 10 years of web application development with experience in network security.  He has a solid foundation in computer science, algorithms, data structures, and software design and relational databases development.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/safjammed" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <!--/ TEAM ROW 2 -->
                </div>
                <div class="row">
                   <!-- TEAM ROW 3 -->
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInRight">
                         <img alt="Image" src="/assets/img/about/osrie.png" class="grayscale rounded box-shadow-wide">
                         <h5>Osrie Khaled</h5>
                         <p>
                            Communications Manager
                         </p>
                         <p class="text-justify ppl-desc">
                            Osrie is a communication consultant who has years of experience helping brands grow their
                            identity and remain relevant in an ever changing media environment. Her background includes
                            professional writing expertise, social media management and public relations in political,
                            governmental and business sectors. Osrie focuses on cohesive campaign strategies that tell a
                            story through engaging content, thoughtful targeting and careful, contextual marketing.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/osrie-khaled-73b277127/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInRight">
                         <img alt="Image" src="/assets/img/about/rami.png" class="grayscale rounded box-shadow-wide">
                         <h5>Rami Affaneh</h5>
                         <p>
                            Co-op Business Intelligence
                         </p>
                         <p class="text-justify ppl-desc">
                            Rami has 20 years of experience working in the energy sector as well as the automotive,  and wireless reverse logistics industries . He is currently a founding member and Vice President of Operations at Hydrocarbon Minerals. Early Cryptocurrency adapter and investor.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/tgroup/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInLeft desc-left">
                         <img alt="Image" src="/assets/img/about/shilpi.png" class="grayscale rounded box-shadow-wide">
                         <h5>Shilpi Jain</h5>
                         <p>
                            Application Developer
                         </p>
                         <p class="text-justify ppl-desc">
                            Shilpi is passionate about building great software and applying technology. She is highly experienced in software design and development with a solid foundation in computer science and native mobile development. Her interests include cryptocurrency and blockchain technology, large-scale distributed systems, and mobile applications.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/shilpi-jain-4625469b/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <!-- /TEAM ROW 3 -->
                </div>
                <div class="row">
                   <p class="lead">&nbsp;</p>
                   <h1>Advisors</h1>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInUp">
                         <img alt="Image" src="/assets/img/about/eric.png" class="grayscale rounded box-shadow-wide">
                         <h5>Eric Collins</h5>
                         <p>
                            Sr. Corporate Banking Advisor
                         </p>
                         <p class="text-justify ppl-desc">
                            Eric Served as VP of Bank One, and an underwriter in the Large Corporate Automotive Group responsible for overall risk management for a portfolio of 24 relationships with an aggregate credit exposure in excess of $3.0 Billion. Eric has extensive industry knowledge  which include capital structure consultation, loan products and syndications, cash management, public debt placement, acquisitions, divestitures, foreign exchange and other banking products.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/periccollins/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInUp">
                         <img alt="Image" src="/assets/img/about/dion.png" class="grayscale rounded box-shadow-wide">
                         <h5>Dion Kaba</h5>
                         <p>
                            Auto Finance Advisor
                         </p>
                         <p class="text-justify ppl-desc">
                            Dion has over 13 years experience in automotive finance and vehicle acquisitions.  Dion has managed nearly $5 billion in auto finance loans and sales.  Currently he is the director of sales and acquisition for David McDavid Ford.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/dion-kaba-6363867a/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                   <div class="col-sm-4">
                      <div class="feature feature-8 wow fadeInUp desc-left">
                         <img alt="Image" src="/assets/img/about/grant.png" class="grayscale rounded box-shadow-wide">
                         <h5>Grant Gulovsen</h5>
                         <p>
                            Legal Advisor
                         </p>
                         <p class="text-justify ppl-desc">
                            Grant is an attorney with over 15 years' experience with corporate and intellectual property law. Grant has been involved in the cryptocurrency ecosystem since 2013. He is currently a Member of International Blockchain Consulting Group's Blockchain Leadership Team and regularly advises ICOs about U.S. securities laws and other corporate matters.
                         </p>
                         <ul class="social-list list-inline list--hover">
                            <li>
                               <a href="https://www.linkedin.com/in/gulovsen/" target="_blank">
                               <i class="socicon socicon-linkedin icon icon--xs"></i>
                               </a>
                            </li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
             <!--end of row-->
          </div>
          <!--end of container-->
       </section>
<app-footer></app-footer>