@font-face {
    font-family: "sw-icon-font";
    src: url("https://www.shopkick.com/wp-content/plugins/social-warfare/fonts/sw-icon-font.eot?ver=2.3.5");
    src: url("https://www.shopkick.com/wp-content/plugins/social-warfare/fonts/sw-icon-font.eot?ver=2.3.5#iefix") format("embedded-opentype"), url("https://www.shopkick.com/wp-content/plugins/social-warfare/fonts/sw-icon-font.woff?ver=2.3.5") format("woff"), url("https://www.shopkick.com/wp-content/plugins/social-warfare/fonts/sw-icon-font.ttf?ver=2.3.5") format("truetype"), url("https://www.shopkick.com/wp-content/plugins/social-warfare/fonts/sw-icon-font.svg?ver=2.3.5#1445203416") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media (max-width: 767px) {
    .redeem-code .gift-cards-list li {
        height: 21rem;
    }
}