<app-reward-header></app-reward-header>
<div role="document">
    <div id="freegiftcards">
        <section class="main-stage">
            <div class="container">
                <div class="main-stage-inner">
                    <div class="cell">
                        <h1>Repo Coin Webstore!</h1>
                        <div class="col-md-7" style="align-self: center;margin: 0 auto;float: unset;position: relative;">
                            <img src="/assets/rewards/img/tesla.png" class="img-responsive giveaway-img force-center">

                        </div>


                        <a ga-category="Button" ga-label="FGC - Learn More Button" href="free-gift-cards.htm#earn-rewards" class="action-btn" id="goto-earn-rewards">Repo Coin Store <i class="icon-arrow"></i></a>
                    </div>
                </div>

                <div class="cards">
                    <img src="/assets/rewards/img/free-gift-cards/cards/sephora.png" width="364" height="266" alt="Sephora gift card" class="card-image card-1 wow bounceInDown1000" data-wow-duration="980ms" data-wow-delay="400ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/sephora.png" width="112" alt="Sephora gift card" class="card-image card-1-mbl wow bounceInDown1000" data-wow-duration="1123ms" data-wow-delay="400ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/amc.png" width="194" height="193" alt="AMC gift card" class="card-image card-6 wow bounceInDown1000" data-wow-duration="1305ms" data-wow-delay="400ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/amc.png" width="95" alt="AMC gift card" class="card-image card-6-mbl wow bounceInDown1000" data-wow-duration="860ms" data-wow-delay="400ms" />

                    <img src="/assets/rewards/img/free-gift-cards/cards/starbucks.png" width="157" height="151" alt="Starbucks gift card" class="card-image card-2 wow bounceInDown1000" data-wow-duration="1230ms" data-wow-delay="300ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/starbucks.png" width="119" alt="Starbucks gift card" class="card-image card-2-mbl wow bounceInDown1000" data-wow-duration="980ms" data-wow-delay="300ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/marshalls.png" width="136" height="191" alt="TJ Maxx Marshalls Homegood gift card" class="card-image card-7 wow bounceInDown1000" data-wow-duration="890ms" data-wow-delay="300ms" />

                    <img src="/assets/rewards/img/free-gift-cards/cards/target.png" width="174" height="137" alt="Target gift card" class="card-image card-3 wow bounceInDown1000" data-wow-duration="1420ms" data-wow-delay="200ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/target.png" width="126" alt="Target gift card" class="card-image card-3-mbl wow bounceInDown1000" data-wow-duration="1260ms" data-wow-delay="200ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/ebay.png" width="194" height="112" alt="ebay gift card" class="card-image card-8 wow bounceInDown1000" data-wow-duration="1090ms" data-wow-delay="200ms" />

                    <img src="/assets/rewards/img/free-gift-cards/cards/bestbuy.png" width="178" height="98" alt="Best Buy gift card" class="card-image card-4 wow bounceInDown1000" data-wow-duration="790ms" data-wow-delay="100ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/bestbuy.png" width="114" alt="Best Buy gift card" class="card-image card-4-mbl wow bounceInDown1000" data-wow-duration="980ms" data-wow-delay="100ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/american_eagle.png" width="172" height="122" alt="American Eagle card" class="card-image card-9 wow bounceInDown1000" data-wow-duration="1260ms" data-wow-delay="100ms" />

                    <img src="/assets/rewards/img/free-gift-cards/cards/amazon.png" width="205" height="130" alt="Amazon gift card" class="card-image card-5 wow bounceInDown1000" data-wow-duration="1350ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/amazon.png" width="141" alt="Amazon gift card" class="card-image card-5-mbl wow bounceInDown1000" data-wow-duration="1040ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/walmart.png" width="180" height="156" alt="Walmart gift card" class="card-image card-10 wow bounceInDown1000" data-wow-duration="906ms" />
                    <img src="/assets/rewards/img/free-gift-cards/cards/walmart.png" width="93" alt="Walmart gift card" class="card-image card-10-mbl wow bounceInDown1000" data-wow-duration="1105ms" />
                </div>

                <div class="circles">
                    <span class="circle circle-1 wow bounceInDown1000" data-wow-duration="1000ms" data-wow-delay="300ms"></span>
                    <span class="circle circle-2 wow bounceInDown1000" data-wow-duration="890ms" data-wow-delay="300ms"></span>
                    <span class="circle circle-9 wow bounceInDown1000" data-wow-duration="1200ms" data-wow-delay="300ms"></span>
                    <span class="circle circle-10 wow bounceInDown1000" data-wow-duration="1400ms" data-wow-delay="300ms"></span>

                    <span class="circle circle-3 wow bounceInDown1000" data-wow-duration="840ms" data-wow-delay="300ms"></span>
                    <span class="circle circle-14 wow bounceInDown1000" data-wow-duration="930ms" data-wow-delay="300ms"></span>

                    <span class="circle circle-4 wow bounceInDown1000" data-wow-duration="760ms" data-wow-delay="200ms"></span>
                    <span class="circle circle-11 wow bounceInDown1000" data-wow-duration="1200ms" data-wow-delay="200ms"></span>
                    <span class="circle circle-12 wow bounceInDown1000" data-wow-duration="1380ms" data-wow-delay="200ms"></span>
                    <span class="circle circle-5 wow bounceInDown1000" data-wow-duration="980ms" data-wow-delay="200ms"></span>

                    <span class="circle circle-6 wow bounceInDown1000" data-wow-duration="894ms" data-wow-delay="100ms"></span>
                    <span class="circle circle-7 wow bounceInDown1000" data-wow-duration="1350ms" data-wow-delay="100ms"></span>
                    <span class="circle circle-13 wow bounceInDown1000" data-wow-duration="1050ms" data-wow-delay="100ms"></span>
                    <span class="circle circle-15 wow bounceInDown1000" data-wow-duration="1200ms" data-wow-delay="100ms"></span>

                    <span class="circle circle-8 wow bounceInDown1000" data-wow-duration="1560ms"></span>
                    <span class="circle circle-16 wow bounceInDown1000" data-wow-duration="940ms"></span>
                </div>
            </div>
        </section>
        <div id="homepage">
            <section class="hero" style="padding: 0em;">
                <canvas class="bubble hidden-xs hidden-sm" id="bubble"></canvas>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 left-col">
                            <figure class="inner">
                                <h1 class="title">
                                    Our REPO rewards program <span class="highlighted">just got better.</span>
                                </h1>

                                <h3 class="subtitle">
                                    Introducing {{ featured_name}} ! *
                                    <br> Do You have Enough Repo Tokens?
                                </h3>
                                <a href="tesla.html" class="btn btn-primary btn-cta btn-white">Redeem</a><br>
                                <small class="existing-user-note">* terms and conditions apply</small>

                                <span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                        </div>
                        <div class="col-lg-7 right-col">
                            <img src="{{ featured_image }}" class="img-responsive giveaway-img force-center">
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <section class="redeem-code">
            <div class="container text-center">
                <h1>Repo Coin Store</h1>
                <h3>Instantly redeem your Repo tokens for digital gift cards and products!</h3><br><br>
                <ul class="list-unstyled gift-cards-list">

                    <li class="gc-{{i}}" *ngFor="let item of not_Featured; let i = index">
                        <a href="javascript:;" data-fancybox="group" [attr.data-src]="'#gift-card-'+i">
                            <figure><img src="{{ item.picture}}" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-{{i}} text-center">
                                <h1>{{ item.name }}</h1><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>{{ item.value }} <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>

                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-{{i}}" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="{{ item.picture }}" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-{{i}}">
                                    <h1>{{ item.name }}</h1>
                                    <div [innerHTML]="item.description"></div>
                                    <div class="gift-stick-bottom">
                                        <h1>{{ item.value }} <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <!-- <li class="gc-02">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-02">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/xbox.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-02 text-center">
                                <h1>Xbox One</h1><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-02" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/xbox.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-02">
                                    <h1>Xbox One</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="gc-03">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-03">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/ps4.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-03 text-center">
                                <h1>PS4</h1><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-03" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/ps4.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-03">
                                    <h1>PlayStation 4</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="gc-04">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-04">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/surface.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-04 text-center">
                                <h3>Surface Laptop</h3>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-04" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/surface.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-04">
                                    <h1>Surface Laptop</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="gc-05">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-05">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/kindle.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-05 text-center">
                                <h1>Kindle Fire</h1><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-05" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/kindle.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-05">
                                    <h1>Amazon Kindle</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="gc-06">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-06">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/amazon-gift.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-06 text-center">
                                <h3>Amazon Gift Card</h3><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-06" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/amazon-gift.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-06">
                                    <h1>Amazon Gift Card</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="gc-07">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-07">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/starbucks.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-07 text-center">
                                <h3>Starbucks Card</h3><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-07" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/starbucks.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-07">
                                    <h1>Starbucks Card</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="gc-08">
                        <a href="javascript:;" data-fancybox="group" data-src="#gift-card-08">
                            <figure><img src="/assets/rewards/img/free-gift-cards/galery/ghome.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                            <div class="gift-card gift-card-08 text-center">
                                <h1>Google Home</h1><br><br>

                                <div class="gift-stick-bottom">
                                    <h2>500 <br> Repo Tokens</h2>
                                    <br>
                                    <span class="read-more btn btn-primary">Redeem</span>
                                </div>
                            </div>
                        </a>
                        <div class="modal-card" id="gift-card-08" style="display: none;">
                            <div class="card-group-data">
                                <figure class="card-group-image"><img src="/assets/rewards/img/free-gift-cards/galery/ghome.jpg" width="291" height="291" alt=""><span class="strstf hidden-md hidden-lg">500 Repo Token</span></figure>
                                <div class="card-group-content gift-card-8">
                                    <h1>Google Home</h1>
                                    <p> iPhone X features an all-screen design with a 5.8-inch Super Retina HD display with HDR and True Tone. Designed with the most durable glass ever in a smartphone and a surgical grade stainless steel band. Charges wirelessly.
                                        Resists water and dust.</p>
                                    <div class="gift-stick-bottom">
                                        <h1>500 <br> Repo Tokens</h1>
                                        <br>
                                        <span class="read-more btn btn-primary">Redeem</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li> -->
                </ul>

                <div class="gift-cards hidden hidden-xs hidden-sm hidden-md hidden-lg">
                    <h3>Popular gift cards</h3>

                    <div class="cards">
                        <img class="gift-card-image" src="/assets/rewards/img/Aerie.png" alt="" title="Aerie" /> <img class="gift-card-image" src="/assets/rewards/img/Amazon.png" alt="" title="Amazon" /> <img class="gift-card-image" src="/assets/rewards/img/AMC.png"
                            alt="" title="AMC" /> <img class="gift-card-image" src="/assets/rewards/img/American-Eagle.png" alt="" title="American-Eagle" /> <img class="gift-card-image" src="/assets/rewards/img/Barnes.png" alt="" title="Barnes" /> <img class="gift-card-image"
                            src="/assets/rewards/img/Bestbuy.png" alt="" title="Bestbuy" /> <img class="gift-card-image" src="/assets/rewards/img/Breast-Cancer.png" alt="" title="Breast-Cancer" /> <img class="gift-card-image" src="/assets/rewards/img/Cheesecake.png"
                            alt="" title="Cheesecake" /> <img class="gift-card-image" src="/assets/rewards/img/Crocs.png" alt="" title="Crocs" /> <img class="gift-card-image" src="/assets/rewards/img/ebay-1.png" alt="" title="ebay" /> <img class="gift-card-image"
                            src="/assets/rewards/img/Feeding.png" alt="" title="Feeding" /> <img class="gift-card-image" src="/assets/rewards/img/Flower.png" alt="" title="Flower" /> <img class="gift-card-image" src="/assets/rewards/img/Foot-Locker.png" alt=""
                            title="Foot-Locker" /> <img class="gift-card-image" src="/assets/rewards/img/Gamestop.png" alt="" title="Gamestop" /> <img class="gift-card-image" src="/assets/rewards/img/Groupon.png" alt="" title="Groupon" /> <img class="gift-card-image"
                            src="/assets/rewards/img/JCPenney.png" alt="" title="JCPenney" /> <img class="gift-card-image" src="/assets/rewards/img/Lowes.png" alt="" title="Lowes" /> <img class="gift-card-image" src="/assets/rewards/img/Marshalls-Copy.png"
                            alt="" title="Marshalls-Copy" /> <img class="gift-card-image" src="/assets/rewards/img/Nike.png" alt="" title="Nike" /> <img class="gift-card-image" src="/assets/rewards/img/old-navy.png" alt="" title="old-navy" /> <img class="gift-card-image"
                            src="/assets/rewards/img/Papa-johns.png" alt="" title="Papa-johns" /> <img class="gift-card-image" src="/assets/rewards/img/Red-Cross.png" alt="" title="Red-Cross" /> <img class="gift-card-image" src="/assets/rewards/img/RewardsMall_NewCards_Q417_Prod_Fandango_488x308.png"
                            alt="" title="RewardsMall_NewCards_Q417_Prod_Fandango_488x308" /> <img class="gift-card-image" src="/assets/rewards/img/SaksOFF5th.png" alt="" title="SaksOFF5th" /> <img class="gift-card-image" src="/assets/rewards/img/Sephora.png"
                            alt="" title="Sephora" /> <img class="gift-card-image" src="/assets/rewards/img/Starbucks.png" alt="" title="Starbucks" /> <img class="gift-card-image" src="/assets/rewards/img/Target-1.png" alt="" title="Target-1" /> <img class="gift-card-image"
                            src="/assets/rewards/img/Tiffany.png" alt="" title="Tiffany" /> <img class="gift-card-image" src="/assets/rewards/img/Tory-Burch.png" alt="" title="Tory-Burch" /> <img class="gift-card-image" src="/assets/rewards/img/Toys-R-Us.png"
                            alt="" title="Toys-R-Us" /> <img class="gift-card-image" src="/assets/rewards/img/Uber-1.png" alt="" title="Uber-1" /> <img class="gift-card-image" src="/assets/rewards/img/Walmart.png" alt="" title="Walmart" />

                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>
                        <span class="gift-card-image"></span>

                    </div>
                </div>
                <div class="confetti-box">
                    <span class="confetti confetti-lg confetti-teal confetti-1"></span>
                    <span class="confetti confetti-md confetti-orange confetti-2"></span>
                    <span class="confetti confetti-md confetti-purple confetti-3"></span>
                    <span class="confetti confetti-sm confetti-red confetti-4"></span>
                    <span class="confetti confetti-sm confetti-yellow confetti-5"></span>
                    <span class="confetti confetti-md confetti-pink confetti-6"></span>

                    <span class="confetti confetti-md confetti-purple confetti-7"></span>
                    <span class="confetti confetti-md confetti-teal confetti-8"></span>
                    <span class="confetti confetti-sm confetti-orange confetti-9"></span>
                    <span class="confetti confetti-lg confetti-pink confetti-10"></span>
                    <span class="confetti confetti-md confetti-yellow confetti-11"></span>
                    <span class="confetti confetti-sm confetti-red confetti-12"></span>
                    <span class="confetti confetti-sm confetti-teal confetti-13"></span>
                </div>
            </div>
        </section>
    </div>
</div>
<app-footer></app-footer>
