<div class="nav-container">
    <div class="via-1489958730146" via="via-1489958730146" vio="top">
        <div class="bar bar--sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-4">
                        <a [routerLink]="['/']" >
                          <img class="logo logo-dark" alt="logo" src="assets/img/logo-light.png" >
                          <img class="logo logo-light" alt="logo" src="assets/img/logo-light.png">
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-8 text-right">
                        <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs hidden-sm"> <i class="icon icon--sm stack-interface stack-menu"></i> </a>
                    </div>
                </div>
            </div>
        </div>
        <nav id="menu1" class="bar bar-1 hidden-xs bar--absolute bar--transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 hidden-xs">
                        <div class="bar__module">
                            <a [routerLink]="['/']">
                              <img class="logo logo-dark" alt="logo" src="assets/img/logo-light.png">
                              <img class="logo logo-light" alt="logo" src="assets/img/logo-light.png">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 text-right text-left-xs text-left-sm" style="margin-top: 36px;">
                        <div class="bar__module">
                            <a class="btn btn--sm btn--primary type--uppercase" href="mailto:info@repocoin.io">
                              <span class="btn__text"> Contact Us </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
