.menu-horizontal>.dropdown>.dropdown__trigger:after {
    content: '\e80a';
    margin-left: 4px;
}
.btn:hover {
    transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
}

.btn.type--uppercase {
    letter-spacing: .5px;
}

.btn--primary:hover {
    background: #609de6;
}
.dropdown>.dropdown__trigger:after {
    font-family: "stack-interface";
    display: inline-block;
    font-size: 8px;
    position: relative;
    bottom: 2px;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}





.btn--primary,.btn--primary:visited {
    background: #4a90e2;
    border-color: #4a90e2;
}
.btn--primary .btn__text,.btn--primary:visited .btn__text {
    color: #fff;
}

.btn--primary .btn__text i,.btn--primary:visited .btn__text i {
    color: #fff;
}



.bar {
    padding: 1.85714286em 0;
}

.bar .logo {
    margin: 0;
    position: relative;
    top: 4px;
}

.bar .menu-horizontal {
    position: relative;
    top: 6px;
}

.bar:not([class*='visible-'])+.bar {
    margin-top: 0.92857143em;
}

.bar.bar--xs {
    padding: 0.46428571em 0;
}

.bar.bar--sm {
    padding: 0.92857143em 0;
}

.bar.bar--lg {
    padding: 2.78571429em 0;
}

.bar.bar--lg .logo {
    top: 0;
}

.bar.bar--xlg {
    padding: 4.64285714em 0;
}

.bar.bar--xlg .logo {
    top: 0;
}

.bar.bg--dark .logo-dark {
    display: none;
}

.bar:not(.bg--dark):not(.bar--transparent) .logo-light {
    display: none;
}

@media all and (max-width: 767px) {
    .bar.bar--mobile-sticky[data-scroll-class*='fixed'].pos-fixed {
        position:fixed;
        width: 100%;
        background: #fff;
        z-index: 999;
    }

    .bar.bar--mobile-sticky[data-scroll-class*='fixed']+.bar.pos-fixed {
        top: 3.71428571em;
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 999;
    }
}

@media all and (min-width: 991px) {
    .bar__module:not(:only-child) {
        display:inline-block;
    }

    .bar__module:not(:last-child) {
        margin-right: 0.92857143em;
    }

    .bar--transparent {
        background: none;
    }

    .bar--transparent .logo-dark {
        display: none;
    }

    .bar--transparent .logo-light {
        display: inline-block;
    }

    .bar--transparent:not(.pos-fixed) .menu-horizontal>li>a,.bar--transparent:not(.pos-fixed) .menu-horizontal>li>span {
        color: #fff;
    }

    .bar--transparent:not(.pos-fixed) .btn:not([class*='primary']) {
        border-color: rgba(255,255,255,0.3);
    }

    .bar--transparent:not(.pos-fixed) .btn:not([class*='primary']) .btn__text {
        color: #fff;
    }

    .bar--transparent:not(.pos-fixed) .btn:not([class*='primary']):hover {
        border-color: rgba(255,255,255,0.7);
    }

    .bar--absolute {
        position: absolute;
    }

    .bar--absolute,.pos-fixed {
        z-index: 99;
        width: 100%;
    }

    .bar.pos-fixed {
        position: fixed;
        top: 0;
        animation: fadeInDown 0.3s ease-out forwards;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.04);
    }

    .bar.pos-fixed:not([class*='bg-']) {
        background: #ffffff;
    }

    .bar.pos-fixed:not([class*='bg-']) .logo-dark {
        display: inline-block;
    }

    .bar.pos-fixed:not([class*='bg-']) .logo-light {
        display: none;
    }

    .bar.pos-fixed.bg--dark {
        background: #252525;
    }
}

@media all and (max-width: 767px) {
    .bar__module {
        margin-bottom:0.92857143em;
    }

    .bar__module+.bar__module {
        margin-top: 1.85714286em;
    }

    .bar__module .btn {
        display: block;
    }

    .bar__module .btn+.btn {
        margin-left: 0!important;
    }

    .bar__module .btn:not(:last-child) {
        margin-bottom: 0.92857143em;
    }

    .bar+nav.bar {
        padding-top: 0;
    }
}
.menu-horizontal>li>a,.menu-horizontal>li>.modal-instance>a {
    font-weight: 500;
}

.menu-horizontal>li a:hover {
    text-decoration: none;
}

.hamburger-toggle i {
    color: #252525;
}

@media all and (min-width: 990px) {
    .menu-horizontal li:not(:last-child) {
        margin-right:1.23809524em;
    }

    .bar__module:not(:only-child) .menu-horizontal {
        top: 0;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .bar-2 .menu-horizontal>li,.bar-1 .menu-horizontal>li {
        display:inline-block;
    }

    .bar-2 .menu-horizontal>li:not(:first-child):not(.dropdown--active),.bar-1 .menu-horizontal>li:not(:first-child):not(.dropdown--active) {
        margin-left: 0.92857143em;
    }

    .bar-2 .bar__module,.bar-1 .bar__module {
        margin-bottom: 1.85714286em;
    }

    .bar-2 .dropdown__container,.bar-1 .dropdown__container {
        left: 0!important;
    }

    .bar-2 .row div[class*='col-']:last-child .bar__module:last-child,.bar-1 .row div[class*='col-']:last-child .bar__module:last-child {
        margin-bottom: 0;
    }
}

.bar-1 .menu-horizontal>li>.dropdown__trigger,.bar-1 .menu-horizontal>li>a {
    font-size: 0.857142857142857em;
    line-height: 2.166666666666667em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

@media all and (min-width: 1024px) {
    .bar-1 .bar__module+.bar__module {
        margin-left:1.85714286em;
    }
}

.bar-2 .logo {
    max-height: 1.85714286em;
}

.bar-3 {
    font-size: 0.85714286em;
}

.bar-3 .menu-horizontal {
    top: 0;
}

@media all and (max-width: 990px) {
    .bar-3 .menu-horizontal li {
        display:inline-block;
    }

    .bar-3 .menu-horizontal li:not(:last-child) {
        margin-right: 0.92857143em;
    }
}

@media all and (min-width: 990px) {
    .bar-toggle .col-md-1 .logo {
        top:10px;
    }
}

@media all and (max-width: 767px) {
    .bar-4 .logo-light {
        display:none;
    }

    .bar-4 .logo-dark {
        margin-bottom: 1.85714286em;
    }
}

.menu-toggle {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.04);
    width: 3.71428571em;
    height: 3.71428571em;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    display: inline-block;
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
}

.menu-toggle i {
    font-size: 1.78571429em;
    position: relative;
    top: 13px;
    color: #252525;
}

.menu-toggle:hover {
    box-shadow: 0 23px 40px rgba(0,0,0,0.2);
    transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
}

.nav-utility {
    padding: 0.92857143em 0;
}

.nav-utility .nav-utility__module {
    font-size: 0.85714285714286em;
}

.nav-utility .nav-utility__module a {
    color: #666666;
    font-weight: normal;
}

.nav-utility .nav-utility__module a i {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    display: inline-block;
}

.nav-utility .nav-utility__module a:hover i {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

.nav-utility .nav-utility__module.right:not(:last-child) {
    margin-left: 2.16666666666667em;
}

.utility-toggle {
    display: inline-block;
    cursor: pointer;
    width: 3px;
    height: 3px;
    position: relative;
    bottom: 8px;
    border-radius: 50%;
    background: #252525;
}

.utility-toggle:before,.utility-toggle:after {
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    position: absolute;
    background: #252525;
}

.utility-toggle:before {
    top: 6px;
}

.utility-toggle:after {
    top: 12px;
}

.bar-stacked .logo {
    margin-bottom: 3.71428571em;
}

.notification.side-menu {
    z-index: 9999;
    background: #ffffff;
    padding-top: 1.85714286em;
    margin: 0;
    height: 100%;
    box-shadow: 0 23px 40px rgba(0,0,0,0.2);
    width: 27.85714286em;
}

.notification.side-menu .side-menu__module {
    overflow: hidden;
    padding: 2.78571429em;
}

.notification.side-menu .side-menu__module+hr:not(:last-child) {
    margin: 0;
}

.notification.side-menu .menu-vertical li a {
    font-size: 1.35714286em;
    line-height: 1.68421053em;
}

.notification.side-menu .menu-vertical li a:hover {
    text-decoration: none;
}

.notification.side-menu .btn:not(:last-child) {
    margin-bottom: 1.85714286em;
}

.notification.side-menu .btn+ul.list--loose {
    margin-top: 0.92857143em;
}

.notification.side-menu .notification-close-cross {
    top: 0.92857143em;
    right: 2.78571429em;
    margin-top: 8px;
}

.notification.side-menu .social-list:not(:first-child) {
    margin-top: 1.85714286em;
}

.menu-toggle.pos-fixed {
    position: fixed;
    right: 5.57142857em;
    animation: fadeInDown .3s ease forwards;
}

@media all and (min-width: 768px) {
    .side-menu .side-menu__module span.type--fine-print {
        position:relative;
        top: 8px;
    }
}

@media all and (max-width: 767px) {
    .side-menu {
        width:100%;
    }

    .side-menu .side-menu__module .float-right,.side-menu .side-menu__module .float-left {
        display: block;
    }
}

.nav-container.nav-container--sidebar+.main-container {
    width: calc(100vw - 20.428571428571463em);
    float: right;
}

.nav-container.nav-container--sidebar+.main-container .container {
    max-width: 100%;
}

.nav-sidebar-column {
    position: fixed;
    z-index: 3;
    left: 0;
    width: 20.42857143em;
    border-right: 1px solid #ececec;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none;
    padding: 2.78571429em 1.85714286em;
}

.nav-sidebar-column:not([class*='bg-']) {
    background: #ffffff;
}

.nav-sidebar-column.bg--dark {
    border-right: 1px solid #3f3f3f;
}

.nav-sidebar-column::-webkit-scrollbar {
    display: none;
}

.nav-sidebar-column .logo {
    max-height: 2.32142857em;
    margin-bottom: 0.92857143em;
}

.nav-sidebar-column .text-block>p {
    margin-bottom: 0.92857143em;
}

.nav-sidebar-column .menu-vertical li.dropdown:not(:hover):after {
    opacity: .35;
}

.nav-sidebar-column .menu-vertical a:hover {
    text-decoration: none;
}

.nav-sidebar-column .dropdown .dropdown__container,.nav-sidebar-column .dropdown .dropdown__content {
    left: 0!important;
    position: relative;
    pointer-events: all;
}

.nav-sidebar-column .dropdown .dropdown__container:before {
    height: 0;
}

.nav-sidebar-column .dropdown .dropdown__content {
    transform: none!important;
    box-shadow: none;
    -webkit-box-shadow: none;
    padding-top: 0.46428571em;
    padding-right: 0;
    padding-left: 0.46428571em;
    background: none!important;
}

.nav-sidebar-column .dropdown .menu-vertical li.dropdown:after {
    right: 1.85714286em;
}

.nav-sidebar-column .dropdown:not(.dropdown--active) .dropdown__container {
    display: none;
}

.nav-sidebar-column .social-list {
    margin-bottom: 0.92857143em;
}

.nav-sidebar-column-toggle {
    transition: all .3s ease;
    left: 0;
    width: 3.71428571em;
    height: 3.71428571em;
    background: #ffffff;
    text-align: center;
    position: fixed;
    z-index: 4;
    cursor: pointer;
    border-radius: 0 0 6px 0;
    box-shadow: 2px 1px 4px rgba(0,0,0,0.1);
}

.nav-sidebar-column-toggle>i {
    transition: all .3s ease;
    font-size: 1.78571429em;
    position: relative;
    top: 11px;
}

.nav-sidebar-column-toggle:not(.toggled-class)>i {
    opacity: .5;
}

.nav-sidebar-column-toggle.toggled-class i:before {
    content: '\e80b';
}

@media all and (max-width: 990px) {
    .nav-sidebar-column {
        transition:all .3s ease;
        left: -20.42857143em;
        box-shadow: 2px 0px 4px rgba(0,0,0,0);
    }

    .nav-sidebar-column.active {
        left: 0;
        box-shadow: 2px 0px 4px rgba(0,0,0,0.1);
    }

    .nav-sidebar-column-toggle.toggled-class {
        left: 20.42857143em;
    }

    .nav-container.nav-container--sidebar+.main-container {
        width: 100%;
        float: none;
    }
}

.nav-container.nav-container--right .nav-sidebar-column {
    right: 0;
    left: auto;
}

.nav-container.nav-container--right+.main-container {
    float: left;
}

.nav-container.nav-container--right .nav-sidebar-column-toggle {
    left: auto;
    right: 0;
    border-radius: 0 0 0 6px;
    box-shadow: -2px 1px 4px rgba(0,0,0,0.1);
}

@media all and (max-width: 990px) {
    .nav-container.nav-container--right .nav-sidebar-column {
        right:-20.42857143em;
        left: auto;
    }

    .nav-container.nav-container--right .nav-sidebar-column.active {
        left: auto;
        right: 0;
        box-shadow: -2px 0px 4px rgba(0,0,0,0.1);
    }

    .nav-container.nav-container--right .nav-sidebar-column-toggle.toggled-class {
        left: auto;
        right: 20.42857143em;
    }
}

.menu-fullscreen {
    color: #fff;
}

.menu-fullscreen .pos-absolute {
    width: 100%;
}

.menu-fullscreen a {
    color: #fff;
}

.menu-fullscreen a:hover {
    text-decoration: none;
}

.menu-fullscreen .social-list {
    margin-right: 0;
}

.menu-fullscreen:before {
    background: rgba(0,0,0,0.9);
}

.menu-fullscreen .modal-content .modal-close-cross {
    right: 3.71428571em;
    top: 1em;
}

@media all and (max-width: 767px) {
    .menu-fullscreen .pos-bottom {
        position:relative;
    }
}

.dropdown>.dropdown__trigger:after {
    font-family: "stack-interface";
    display: inline-block;
    font-size: 8px;
    position: relative;
    bottom: 2px;
}

.dropdown>.dropdown__trigger .image--xxs {
    margin-right: 0.46428571em;
}

.dropdown .dropdown__content {
    border-radius: 6px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.08);
    padding: 1.23809524em 1.85714286em;
}

.dropdown .dropdown__content h5:not(:last-child) {
    margin-bottom: 0.92857143em;
}

.dropdown .dropdown__content .background-image-holder {
    border-radius: 6px 0 0 6px;
}

.dropdown .dropdown__content>.pos-absolute[class*='col-'] {
    left: 0;
    top: 0;
    height: 100%;
    position: absolute!important;
}

.dropdown .dropdown__content>.pos-absolute[class*='col-'][data-overlay]:before {
    border-radius: 6px 0 0 6px;
}

.menu-horizontal>.dropdown>.dropdown__trigger:after {
    content: '\e80a';
    margin-left: 4px;
}

.menu-vertical>.dropdown>.dropdown__trigger {
    display: inline-block;
    width: 100%;
}

@media all and (max-width: 990px) {
    .dropdown [class*='col-']+[class*='col-'] {
        margin-top:0.92857143em;
    }

    .dropdown .dropdown__content:not([class*='bg-']) {
        border: none;
        box-shadow: none;
    }
}

@media all and (max-width: 767px) {
    .dropdown__container {
        left:0!important;
    }
}

.menu-vertical li {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
}

.menu-vertical li:not(:hover):not(.dropdown--active) {
    opacity: .75;
}

.menu-vertical li:not(:last-child) {
    margin-bottom: 0.30952381em;
}

.menu-vertical li.dropdown {
    position: relative;
}

.menu-vertical li.dropdown:after {
    content: '\e80c';
    font-family: 'stack-interface';
    right: 0;
    top: 0;
    position: absolute;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    display: inline-block;
    transform: translate3d(-10px,0,0);
    -webkit-transform: translate3d(-10px,0,0);
}

.menu-vertical li.dropdown:hover:after {
    transform: translate3d(-5px,0,0);
    -webkit-transform: translate3d(-5px,0,0);
}

.menu-vertical li.separate {
    border-top: 1px solid #e6e6e6;
    margin-top: 0.92857143em;
    padding-top: 0.92857143em;
}

.menu-vertical li.separate.dropdown:after {
    top: .92857143em;
}

.menu-vertical+h5 {
    margin-top: 1.85714286em;
}

@media all and (max-width: 990px) {
    .menu-vertical .dropdown.dropdown--active:after {
        opacity:0;
    }
}
@media all and (min-width: 990px) {
    .menu-horizontal {
        display:inline-block;
    }

    .menu-horizontal>li {
        display: inline-block;
    }

    .menu-horizontal>li:not(:last-child) {
        margin-right: 1.85714286em;
    }

    .menu-vertical {
        display: inline-block;
    }

    .menu-vertical li {
        white-space: nowrap;
    }

    .menu-vertical .dropdown__container {
        top: 0;
    }

    .menu-vertical .dropdown__container .dropdown__content:not([class*='bg-']) {
        background: #ffffff;
    }

    .menu-vertical .dropdown__container .dropdown__content {
        transform: translateX(75%);
    }
}

ul, ol {
    list-style: none;
    line-height: 1.85714286em;
}
 .menu-horizontal {
        display:inline-block;
    }

    .menu-horizontal>li {
        display: inline-block;
    }

    .menu-horizontal>li:not(:last-child) {
        margin-right: 1.85714286em;
    }




.bar {
    padding: 1.85714286em 0;
}

.bar .logo {
    margin: 0;
    position: relative;
    top: 4px;
}

.bar .menu-horizontal {
    position: relative;
    top: 6px;
}

.bar:not([class*='visible-'])+.bar {
    margin-top: 0.92857143em;
}

.bar.bar--xs {
    padding: 0.46428571em 0;
}

.bar.bar--sm {
    padding: 0.92857143em 0;
}

.bar.bar--lg {
    padding: 2.78571429em 0;
}

.bar.bar--lg .logo {
    top: 0;
}

.bar.bar--xlg {
    padding: 4.64285714em 0;
}

.bar.bar--xlg .logo {
    top: 0;
}

.bar.bg--dark .logo-dark {
    display: none;
}

.bar:not(.bg--dark):not(.bar--transparent) .logo-light {
    display: none;
}

@media all and (max-width: 767px) {
    .bar.bar--mobile-sticky[data-scroll-class*='fixed'].pos-fixed {
        position:fixed;
        width: 100%;
        background: #fff;
        z-index: 999;
    }

    .bar.bar--mobile-sticky[data-scroll-class*='fixed']+.bar.pos-fixed {
        top: 3.71428571em;
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 999;
    }
}

@media all and (min-width: 991px) {
    .bar__module:not(:only-child) {
        display:inline-block;
    }

    .bar__module:not(:last-child) {
        margin-right: 0.92857143em;
    }

    .bar--transparent {
        background: none;
    }

    .bar--transparent .logo-dark {
        display: none;
    }

    .bar--transparent .logo-light {
        display: inline-block;
    }

    .bar--transparent:not(.pos-fixed) .menu-horizontal>li>a,.bar--transparent:not(.pos-fixed) .menu-horizontal>li>span {
        color: #fff;
    }

    .bar--transparent:not(.pos-fixed) .btn:not([class*='primary']) {
        border-color: rgba(255,255,255,0.3);
    }

    .bar--transparent:not(.pos-fixed) .btn:not([class*='primary']) .btn__text {
        color: #fff;
    }

    .bar--transparent:not(.pos-fixed) .btn:not([class*='primary']):hover {
        border-color: rgba(255,255,255,0.7);
    }

    .bar--absolute {
        position: absolute;
    }

    .bar--absolute,.pos-fixed {
        z-index: 99;
        width: 100%;
    }

    .bar.pos-fixed {
        position: fixed;
        top: 0;
        animation: fadeInDown 0.3s ease-out forwards;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.04);
    }

    .bar.pos-fixed:not([class*='bg-']) {
        background: #ffffff;
    }

    .bar.pos-fixed:not([class*='bg-']) .logo-dark {
        display: inline-block;
    }

    .bar.pos-fixed:not([class*='bg-']) .logo-light {
        display: none;
    }

    .bar.pos-fixed.bg--dark {
        background: #252525;
    }
}

@media all and (max-width: 767px) {
    .bar__module {
        margin-bottom:0.92857143em;
    }

    .bar__module+.bar__module {
        margin-top: 1.85714286em;
    }

    .bar__module .btn {
        display: block;
    }

    .bar__module .btn+.btn {
        margin-left: 0!important;
    }

    .bar__module .btn:not(:last-child) {
        margin-bottom: 0.92857143em;
    }

    .bar+nav.bar {
        padding-top: 0;
    }
}
.bar-1 .menu-horizontal>li>.dropdown__trigger,.bar-1 .menu-horizontal>li>a {
    font-size: 0.857142857142857em;
    line-height: 2.166666666666667em;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .5px;
}

.dropdown .dropdown__container {
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 999;
}
body:not(.dropdowns--hover) .dropdown.dropdown--hover:hover>.dropdown__container {
    opacity: 1;
}
.dropdown .dropdown__content:not([class*='bg-']) {
    background: #ffffff;
}
.dropdown .dropdown__content:not([class='bg--dark']) .menu-vertical a {
    color: #666666;
}
body:not(.dropdowns--hover) .dropdown.dropdown--hover:hover>.dropdown__container .dropdown__content {
    pointer-events: all;
}
.dropdown .dropdown__content {
    border-radius: 6px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.08);
    padding: 1.23809524em 1.85714286em;
}
.menu-vertical{
    padding:0;

}

.nav-container {
    z-index: 999999999999999999999999;
}
img {
    max-width: 100%;
    vertical-align: middle;
}