  <app-header></app-header>
  <div id="particle-canvas" style="display:none;"></div>
  <section class="imagebg space--lg" data-overlay="3">
  	<div class="background-image-holder" style="background: url(assets/img/space.svg); background-color:black; opacity: 1;">
  		<img alt="background" src="assets/img/space.svg">
  	</div>
  	<div class="container">
  		<div class="row">
  			<div class="col-md-5 col-sm-7 mt--2">
  				<h1>In space, there is no limit! </h1>
  				<p class="lead">
  					Our mission is to connect people all over the world who likes challenges such as investors, engineers, designers, or marketers to support an innovative mission.
  				</p>

  				<p class="lead">
  					Supporting projects, people unfamiliar with the Blockchain technology can easily receive tokens as a payment.
  				</p>
  			</div>
  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>



  <section class="switchable  feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">
  				<div style="margin:0 auto; " class="livicon-evo" data-options="name: rocket; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>Work on an innovative project and receive tokens</h2>
  					<p class="lead">
  						Through the Starbase platform, you can support and work in many innovative projects, and earn Bitcoin, Ether, or other Blockchain tokens. The Projects’ tokens are shared incentives between you and all the other token holders of the project.
  					</p>
  					<p class="lead">
  						Through collaboration, everyone earns more because, as the project is successful, the token becomes more valuable.
  					</p>





  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>


  <section class="switchable switchable--switch bg--secondary feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">
  				<div style="margin:0 auto; " class="livicon-evo" data-options="name: shield; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>Reduced risks</h2>
  					<p class="lead">
  						Starbase protects investors by using a voting system and due diligence process for filtering bad projects and scams.
  					</p>
  					<p class="lead">

  					</p>





  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>


  <section class="switchable  feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">
  				<div style="margin:0 auto; " class="livicon-evo" data-options="name: lightning; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>High Token Liquidity</h2>
  					<p class="lead">
  						Starbase issues Ethereum tokens, as standard type tokens which we will work hard to make them accepted on most cryptocurrency exchanges. Collaborators can trade their tokens outside of Starbase, on numerous crypto currency exchanges.
  					</p>
  					<p class="lead">
  						This radically reduces risks by gaining more liquidity, more security, and more synergistic value when compared to investing in unlisted companies.
  					</p>





  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>


  <section class="switchable switchable--switch bg--secondary feature-large">
  	<div class="container">
  		<div class="row" style="min-height: 300px;">

  			<div class="col-sm-6">
  				<div style="margin:0 auto; " class="livicon-evo" data-options="name: coins; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
  			</div>
  			<div class="col-sm-6 col-md-5">
  				<div class="switchable__text">
  					<h2>Welcome to the Token Era</h2>
  					<p class="lead">
  						You can profit from  blockchain tokens by selling them on the cryptocurrency exchanges. Tokens can also be kept to reward project contributors or to exchange for the goods or services provided by a Project.
  					</p>
  					<p class="lead">
  					</p>
  				</div>
  			</div>

  		</div>
  		<!--end of row-->
  	</div>
  	<!--end of container-->
  </section>
  <app-footer></app-footer>
