<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop:true, backdropBackgroundColour:'rgba(0,0,0,0.8)' }"></ngx-loading>
<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<section style="padding-top: 0;" id="viewer">
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="contest-header page-header" style="background-image: url(assets/img/givback.jpg);background-size: cover">
                <div class="page-header__overlay page-header__overlay--lightest"></div>
                <div class="container page-header__text page-header__text--white">
                    <h4 class="contest-prize glow">
                        <div class="livicon-evo card-icon" data-options="name: coins; size:10em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div><br><br>
                        <b>1 Repotoken = 1 Vote </b>
                    </h4>
                    <div class="contest-title">
                        <h4>Giveaway Program</h4>
                        <h1>Working Cars for working Families</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container contest glow">
                <div class="contest__sidebar sidebar">
                    <ul class="nav sidebar__nav hidden-xs hidden-sm">

                        <li role="presentation" class="li-button">
                            <br>
                            <a href="#enter" aria-controls="contest-enter" role="tab" data-toggle="tab" data-section="enter">Vote Now</a></li>
                    </ul>
                    <div class="well well--sidebar text-center hidden-xs">
                        <h4 class="countdown"><span>{{ leftdays }}</span><br> days left to vote</h4>
                        <p class="small"><strong>Deadline:</strong>{{ deadline }}</p>
                        <!-- <p class="small"><strong>Deadline:</strong> Apr 16, 2018 at 11:59am MDT</p> -->
                        <hr>
                    </div>
                    <div class="well well--sidebar text-center hidden-xs">
                        <h4 class="well__title caps slim">Share this Contest</h4>
                        <!-- Facebook Share -->
                        <a class="shareClick share-on-link share-on-facebook ga_film_share" href="#"> <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                        <!-- Twitter Share -->
                        <a class="share-on-link share-on-twitter shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                        <!-- Google Share -->
                        <a class="share-on-link share-on-googleplus shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a>
                        <!-- LinkedIn Share -->
                        <a class="share-on-link share-on-linkedin shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                        <!-- Reddit Share -->
                        <a class="share-on-link share-on-reddit shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-reddit fa-stack-1x fa-inverse"></i></span></a>
                        <!-- Stumble Upon Share -->
                        <a class="share-on-link share-on-stumbleupon shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stumbleupon fa-stack-1x fa-inverse"></i></span></a>
                        <h3 class="text-center white"><br><strong>#repocontest</strong></h3>
                        <hr>
                    </div>

                    <div class="well well--sidebar text-center hidden-xs">
                        <h4 class="well__title caps slim">Interested in Applying?</h4>
                        <a class="button button--white-outline js-superModal" (click)="PageTransfer()" style="cursor:pointer;">Apply</a>
                    </div>
                </div>
                <div class="contest__content tab-content">
                    <div role="tabpanel" class="tab-pane active js-hasLoaded" id="brief">
                        <div class="row">
                            <div class="col-md-2 hidden-xs">
                                <div class="avatar-img-wrap pull-right">
                                    <img src="{{ picture }}" class="avatar-img img-responsive vote-coin-pro-img">
                                </div>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <p class="lead text-center contest-color">

                                    {{ firstname }}’s Video
                                </p>
                                <p class="text-center contest-color"><i class="fa fa-map-marker"></i> {{ city }},{{ state }}</p>
                                <hr class="contest-color">

                                <p class="lead"> &nbsp;</p>
                            </div>
                            <div class="col-xs-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <div data-type="youtube" id="dataVideo" data-video-id=""></div>
                                </div>
                                <p class="lead"> &nbsp;</p>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <p class="lead">{{ essay }}</p>
                                <p class="lead"> &nbsp;</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 text-center" style="vertical-align: middle;">
                                <div class="countdown-timer-wrap">
                                    <div id="countdown-vote" class="countdown-timer">
                                        <div class="time-cell">
                                            <div class="time-numb days">0</div>
                                            <div class="time-caption">days</div>
                                        </div>
                                        <div class="time-cell">
                                            <div class="time-numb hours">0</div>
                                            <div class="time-caption">hours</div>
                                        </div>
                                        <div class="time-cell">
                                            <div class="time-numb minutes">0</div>
                                            <div class="time-caption">minutes</div>
                                        </div>
                                        <div class="time-cell">
                                            <div class="time-numb seconds">0</div>
                                            <div class="time-caption">seconds</div>
                                        </div>
                                    </div>
                                </div><br>
                                <a href="#" class="btn btn--primary votenow btn--lg white">VOTE NOW</a>
                                <div class="result text-center" style="display: none">
                                    <br>
                                    <h4 class="margin-flush text-left slim">Send your Repo Coins to this address.</h4>
                                    <h3 class="text-left vote-now-txt" [ngxClipboard]="inputTarget" (cbOnSuccess)="isCopied1 = true" (click)="copyToClipboard()"><i class="fa fa-heart"></i>
                                        <span>{{ walletKey }} - copy</span>
                                    </h3>

                                    <input type="text" class="form-control" value="{{ walletKey }}" placeholder="0000000000000" readonly #inputTarget>
                                    <!-- <h3 class="text-left"> <i class="fa fa-heart"></i> {{ walletKey }}</h3> -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h2 class="flush-top">Submission Details</h2>
                                <br><br>
                                <!-- <h4 class="margin-flush">SUBMISSIONS DUE BY</h4>
                     <p>Apr 16, 2018 at 11:59am MDT (America/Denver)</p> -->
                                <h4 class="margin-flush">VOTING OPENS</h4>
                                <p>{{ votingstart| date:'fullDate' }}</p>
                                <h4 class="margin-flush">VOTING CLOSES</h4>
                                <p>{{ votingends| date:'fullDate' }}</p>
                                <h4 class="margin-flush">WINNERS ANNOUNCED</h4>
                                <p>{{ winnerannounced | date:'fullDate' }}</p>
                            </div>

                            <hr>
                        </div>
                    </div>
                    <!-- end brief -->

                </div>
            </div>
            <div class="col-xs-12">
                <div class="well text-center margin-vertical visible-xs">
                    <h4 class="well__title caps slim">Share this contest</h4>
                    <!-- Facebook Share -->
                    <a class="shareClick share-on-link share-on-facebook ga_film_share" href="#"> <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                    <!-- Twitter Share -->
                    <a class="share-on-link share-on-twitter shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                    <!-- Google Share -->
                    <a class="share-on-link share-on-googleplus shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a>
                    <!-- LinkedIn Share -->
                    <a class="share-on-link share-on-linkedin shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span></a>
                    <!-- Reddit Share -->
                    <a class="share-on-link share-on-reddit shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-reddit fa-stack-1x fa-inverse"></i></span></a>
                    <!-- Stumble Upon Share -->
                    <a class="share-on-link share-on-stumbleupon shareClick ga_film_share" href="#"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-stumbleupon fa-stack-1x fa-inverse"></i></span></a>
                    <h4 class="text-center">#repocontest</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>