<app-header></app-header>
<section class="text-center imagebg space--md" data-overlay="3">
  <div class="background-image-holder" style="background: url(/assets/img/givback.jpg); opacity: 1;">
  <div id="particle-canvas" style="display:none;"></div>
    <img alt="background" src="/assets/img/givback.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="col-xs-5">
          <img src="/assets/img/hand.png"  class="img-responsive" style="width: 100%">
        </div>

      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h1>Repo Coin Gives back</h1>
        <h2> Car Giveway Program. </h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!-- video -->
<section class="text-center imagebg" style="background: white">
  <div class="background-image-holder" style="background-color:white; opacity: 1;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h2 style="color:#666" class="wow fadeInUp"> How Does The Giveway Program Work?</h2>
        <div class="video-cover border--round box-shadow-wide wow bounceIn">
          <div class="background-image-holder ">
            <img alt="image" src="/assets/img/vdo-bg.png">
          </div>
          <div class="video-play-icon"></div>
          <video width="750" height="420" controls>
            <source src="assets/video_Introduction.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- action cards -->
<section id="" style="padding-top: 2.428571em;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid plan-cards">
         <div class="row">
              <div class="col-md-10 col-md-offset-1">
                 <p class="lead wow fadeIn" style="padding-bottom: 3em"> We created the Giving Back program to help purchase vehicles for those who need it most. Participants are
asked to submit a short essay explaining how owning a car would help change their lives. The top three finalists will then each make a short video that will be posted on our website and voted on by the Repo Coin community. To kick start the Giving Back Contest fund, Repo Coin has pledged 1 MILLION Repo Coins!
                 </p>
              </div>
           </div>
           <div class="row">
              <div class="col-sm-12">
                 <h2 id="learn" class="section-title text-center feature-card-headline">First, tell us what you’re looking to do:</h2>
              </div>
           </div>
           <div class="row">
              <div class="col-md-6">
                 <a routerLink="/car-apply" class="switch">
                    <div class="feature-card">
                       <div class="card-icon-container">
                      <div class="livicon-evo card-icon" data-options="name: car; size:12em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div> </div>
                       <div class="card-description-container">
                          <h3>NEED A CAR?</h3>
                          <p>Participants who wish to be considered for a vehicle are asked to submit an entry form along with a short essay explaining how owning a car would help change their lives.</p>
                          <p class="cta-button">
                          <a routerLink="/car-apply"> Apply now</a>
                          </p>
                       </div>
                    </div>
                 </a>
              </div>
              <div class="col-md-6">
                 <a routerLink="/videos" class="switch">
                    <div class="feature-card">
                       <div class="card-icon-container">
                       <img src="assets/img/Animation.gif" class="card-icon" style="width: 9em">
                        </div>
                       <div class="card-description-container">
                          <h3>VOTE</h3>
                          <p>1 Repo Coin = 1 VOTE.  All Repo Coins collected in the voting process will go directly to the fund to help make someone’s car ownership dreams come true.</p>
                          <p class="cta-button">Vote Now</p>
                       </div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>
