<footer class="footer-3 text-center-xs space--xs ">
         <div class="container">
            <div class="row">
               <div class="col-md-4 hidden-sm hidden-xs">
                  <img alt="Image" class="logo img-responsive" src="/assets/img/logo-dark.png">
                  <p class="type--fine-print"> Worlds First Vehicle Repossessions Blockchain Platform</p>
               </div>
               <div class="col-md-2 col-xs-6">
                  <ul class="links">
                     <li>Product</li>
                     <li><a href="/assets/docs/Repo Coin-WhitePaper.pdf" target="_blank" class="ember-view">Whitepaper</a></li>
                     <li><a routerLink="/Freetoken"class="ember-view">Tokens</a></li>
                     <li><a routerLink="/rewards" class="ember-view">Web Store</a></li>
                     <li><a routerLink="/faq" class="ember-view">FAQ</a></li>
                  </ul>
               </div>
               <div class="col-md-2  col-xs-6">
                  <ul class="links">
                     <li>Company</li>
                     <li><a routerLink="/team">Team</a></li>
                     <li><a routerLink="/contactUs">Press</a></li>
                     <li><a routerLink="/contactUs">Auto Finance Sign Up</a></li>
                     <li><a routerLink="/contactUs">Contact Us</a></li>
                  </ul>
               </div>
               <div class="col-md-2 col-xs-6">
                  <ul class="links">
                     <li>Giveaway Program</li>
                     <li><a routerLink="/car-apply">Apply For a Car</a></li>
                     <li><a routerLink="/videos">Vote For Who Needs a Car</a></li>
                     <li><a routerLink="/givewayrules">Terms and Rules</a></li>
                  </ul>
               </div>
               <div class="col-md-2 col-xs-6">
                  <ul class="links">
                     <li>Languages</li>
                     <li ><a href="#">中文(简体)</a></li>
                     <li ><a href="#">日本語</a></li>
                     <li ><a href="#">Русский</a></li>
                     <li ><a href="#">Español</a></li>
                     <li ><a href="#">&rlm;العربية&rlm;</a></li>
                  </ul>
               </div>
            </div>
            <div class="row">
               <div class="col-md-4 hidden-md hidden-lg">
                  <img alt="Image" class="logo img-responsive" src="/assets/img/logo-dark.png">
                  <p class="type--fine-print"> Worlds First Vehicle Repossessions Blockchain Platform</p>
               </div>
            </div>
            <div class="row">
               <div class="clearfix"></div>
               <hr>
               <div class="clearfix"></div>
            </div>
            <div class="row  no-margin">
               <div class="col-sm-6 text-left text-center-xs no-padding--xs">
                  <ul class="social-list list-inline list--hover">
                     <li>
                        <a href="https://t.me/repocoin" target="_blank">
                        <i class="socicon socicon-telegram icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://www.facebook.com/repocoin/" target="_blank">
                        <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://twitter.com/repocoin" target="_blank">
                        <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://www.linkedin.com/company/repo-coin" target="_blank">
                        <i class="socicon socicon-linkedin icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://www.instagram.com/repocoin/" target="_blank">
                        <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://www.reddit.com/user/repocoin/" target="_blank">
                        <i class="socicon socicon-reddit icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://www.youtube.com/channel/UCwRRmCr0cxCfmo-qg9-bB9Q" target="_blank">
                        <i class="socicon socicon-youtube icon icon--xs"></i>
                        </a>
                     </li>
                     <li>
                        <a href="https://bitcointalk.org/index.html?action=profile;u=1864403" target="_blank">
                        <i class="fa fa-bitcoin" style="font-size: 1.4em;"></i>
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="col-sm-6 text-right text-center-xs">
                  <a class="type--fine-print" routerLink="/terms-Condition"> Terms of Use </a>
                  <a class="type--fine-print" routerLink="/privacy"> Privacy Policy &nbsp; </a>
                  <span class="type--fine-print"> © <span class="update-year">2018</span> Repo Blockchain Company</span>
               </div>
            </div>
            <!--end of row-->
         </div>
         <!--end of container-->
      </footer>
<div class="sticky-telegram">
  <a class="ico-link" target="_blank" href="https://t.me/repocoin">
    <i class="socicon socicon-telegram icon icon--xs"></i>
  </a>
</div>
