<!-- features -->
<section class="" id="tokenSale">
<div id="particle-canvas" style="display:none;"></div>
    <div class="container">
       <h2 class="text-center section-title wow fadeInUp">  TOKEN SALE </h2>
       <div class="row">
          <div class="col-md-8">
             <h3><b>Start: </b> March 15 2018, Monday, 11:00 AM (GMT)</h3>
             <h3><b>Aavailable Tokens: </b> 357,000,000 XLM</h3>
             <h3><b>Tokens for sale: </b> 50%</h3>
             <h3><b>Token:</b> REPO</h3>
             <h3><b>Token exchange rate:</b> 1 XLM = 50 REPO</h3>
             <h3><b>Project protocol:</b> Stellar Lumens (XLM)</h3>
         </div>
         <div class="col-md-3 col-md-offset-1">
             <div class="points_item">
                <div class="points_icon"><img src="assets/img/btc.svg" alt="">
                </div>
                <div class="points_text">
                   <h4>BTC</h4>
               </div>
           </div>
           <div class="points_item">
            <div class="points_icon"><img src="assets/img/eth.svg" alt="">
            </div>
            <div class="points_text">
               <h4>ETH</h4>
           </div>
       </div>
       <div class="points_item">
        <div class="points_icon"><img src="assets/img/cash.svg" alt="">
        </div>
        <div class="points_text">
           <h4>Bank Transfer</h4>
       </div>
   </div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
     <h3><b>REPO token Contract Address: </b> 0x5b2e4a700dfbc560061e957edec8f6eeeb74a320 The following address is for the Repo token contract. It is NOT a deposit address. Do NOT send tokens to it. To deposit, use the Deposit form in the Tokensale platform.</h3>
 </div>
</div>
<div class="row">
  <div class="clearfix"></div>
  <hr>
  <div class="clearfix"></div>
</div>
<div class="row">
  <div class="col-md-4 col-md-offset-2">
     <div id="doughnutChart" class="chart"></div>
 </div>
 <div class="col-md-6">
     <div class="HomeTokenSaleTokenAllocation-legend">
        <div class="HomeTokenSaleTokenAllocation-legend__title"><span data-reactid="823">Token Allocation</span></div>
        <div class="HomeTokenSaleTokenAllocation-legend__item">
           <div class="HomeTokenSaleTokenAllocation-legend__color HomeTokenSaleTokenAllocation-legend__color--variant-1" data-reactid="825"></div>
           <div data-reactid="826">
              <div class="HomeTokenSaleTokenAllocation-legend__text"><span data-reactid="828">35% Token Sale</span></div>
          </div>
      </div>
      <div class="HomeTokenSaleTokenAllocation-legend__item">
       <div class="HomeTokenSaleTokenAllocation-legend__color HomeTokenSaleTokenAllocation-legend__color--variant-2" data-reactid="830"></div>
       <div data-reactid="831">
          <div class="HomeTokenSaleTokenAllocation-legend__text"><span data-reactid="833">32.5% Company</span></div>
      </div>
  </div>
  <div class="HomeTokenSaleTokenAllocation-legend__item">
   <div class="HomeTokenSaleTokenAllocation-legend__color HomeTokenSaleTokenAllocation-legend__color--variant-3" data-reactid="835"></div>
   <div data-reactid="836">
      <div class="HomeTokenSaleTokenAllocation-legend__text" data-reactid="837"><span data-reactid="838">32.5% Community</span></div>
  </div>
</div>
</div>
</div>
</div>
<div class="row">
  <div class="col-md-12">
     <h2 class="text-center section-title wow fadeInUp"> </h2>
     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec libero urna. Pellentesque pretium ex nec sagittis egestas. Proin ultrices finibus ex quis posuere. Aenean blandit ipsum velit, venenatis lobortis ligula lobortis quis. Donec vehicula ipsum et aliquet fringilla. Vestibulum ut nibh quis nunc tempus cursus. </p>
 </div>
</div>
<!--end of row-->
</div>
<!--end of container-->
</section>
<!-- features -->