<ngx-loading [show]="loading" [config]="{ fullScreenBackdrop:true, backdropBackgroundColour:'rgba(0,0,0,0.8)' }"></ngx-loading>
<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<section id="" class="text-center" style="padding-top: 2.428571em;">
  <div class="container">
   <div class="row">
     <h1>Contact Us</h1>
     <p class="lead"> To reach us, please use the contact form below. We will get back to you as soon as possible.</p>
     <!-- <p class="lead"> &nbsp;</p>      -->


     <div class="row">
    <!-- <h3>Contact Form</h3> -->
    <div class="contact-form col-md-8 col-md-offset-2 text-left">

    <div class="form-group-lg row">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate  submitted>
    <div class="col-xs-6">
      <label>Name</label>
      <input class="form-control" type="text" formControlName="name" name="name">
      <p class="errorCls" *ngIf="submitted && myForm.controls['name'].hasError('required')">Name is required.</p>
       <p class="errorCls" *ngIf="submitted && myForm.controls['name'].hasError('minlength')">Name should have minimum 1 characters.</p>
        <p class="errorCls" *ngIf="myForm.controls.name.hasError('pattern')"> Invalid name.</p>
    </div>
    <div class="col-xs-6">
      <label>Email</label>
      <input class="form-control"  formControlName="email" type="email" name="email">
      <p class="errorCls" *ngIf="submitted && myForm.controls['email'].hasError('required')">Email is required.</p>
      <p class="errorCls" *ngIf="myForm.controls['email'].hasError('pattern')"> Please enter valid email.</p>
    </div>
    <div class="col-xs-6">
      <label>Company Name</label>
      <input class="form-control" formControlName="companyname" type="text" name="companyname">
      <p class="errorCls" *ngIf="submitted && myForm.controls['companyname'].hasError('required')">Company is required.</p>
       <p class="errorCls" *ngIf="submitted && myForm.controls['companyname'].hasError('minlength')">Company name should have minimum 4 characters.</p>
    </div>
    <div class="col-xs-6">
      <label>Work Phone</label>
      <input class="form-control" formControlName="workphone" type="text" name="workphone" (keypress)="onlyNumberKey($event)"  minlength="10">
      <p class="errorCls" *ngIf="submitted && myForm.controls['workphone'].hasError('required')">work phone is required.</p>
       <p class="errorCls" *ngIf="submitted && myForm.controls['workphone'].hasError('minlength')">work phone should be minimum 10 digits.</p>
        <p class="errorCls" *ngIf="submitted && myForm.controls['workphone'].hasError('maxlength')">work phone should be maximum 10 digits.</p>
    </div>
    <div class="col-xs-12">
      <label>Message</label>
      <textarea rows="8" class="form-control" formControlName="message"  name="message"></textarea>
        <p class="errorCls" *ngIf="submitted && myForm.controls['message'].hasError('required')">Message is required.</p>
         <p class="errorCls" *ngIf="submitted && myForm.controls['message'].hasError('minlength')">Message should be minimum 10 characters. </p>
    </div>
     <div class="col-xs-12 text-center">
      <input class="btn btn--sm btn--primary type--uppercase" style="padding: 1em;padding-bottom: 3em;width: 120px;margin-top: 20px;" type="submit" value="Send" name="Send" >
    </div>
    </form>
  </div>
  </div>
</div>
<!-- <p class="lead"> &nbsp;</p> -->
 <div class="row">
       <div class="clearfix"></div>
       <hr class="hr">
       <div class="clearfix"></div>
       <p class="lead"> &nbsp;</p>
     </div>
      <div class="row">
       <div class="col-md-6">
         <h1> <div class="livicon-evo livicon-evo-holder" data-options="drawOnViewport:true; name: info-alt; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;" style="height: auto"></div></h1>
         <h3 class="no-margin"><b>More Information</b></h3>
         <h3><a href="mailto:info@repocoin.io">info@repocoin.io</a></h3>
       </div>
       <div class="col-md-6">
         <h1> <div class="livicon-evo livicon-evo-holder" data-options="drawOnViewport:true; name: star; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;" style="height: auto"></div></h1>
         <h3 class="no-margin"><b>Media Inquiries</b></h3>
         <h3><a href="mailto:press@repocoin.io">press@repocoin.io</a></h3>
       </div>
     </div>
   </div>

    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>
