@media (max-width: 767px) {
    .nav-container {
        position: relative;
        z-index: 9;
    }
    .hamburger-toggle i {
        color: #252525;
    }
}

textarea.form-control {
    height: 6em !important;
}