<a href="https://starbase.co/LivIconsEvo/svg/adjust.svg" download>adjust.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/alarm.svg" download>alarm.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/anchor.svg" download>anchor.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/apple.svg" download>apple.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/balance.svg" download>balance.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/ban.svg" download>ban.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/bank.svg" download>bank.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/bar-chart.svg" download>bar-chart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/battery-charge.svg" download>battery-charge.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/battery-full.svg" download>battery-full.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/battery-low.svg" download>battery-low.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/bell.svg" download>bell.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/bomb.svg" download>bomb.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/box-add.svg" download>box-add.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/box-delete.svg" download>box-delete.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/box-extract.svg" download>box-extract.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/box.svg" download>box.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/briefcase.svg" download>briefcase.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/british-pound.svg" download>british-pound.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/brush.svg" download>brush.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/bug.svg" download>bug.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/building.svg" download>building.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/bulb.svg" download>bulb.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/calculator.svg" download>calculator.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/calendar.svg" download>calendar.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/camcoder.svg" download>camcoder.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/camera.svg" download>camera.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/car.svg" download>car.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/check-alt.svg" download>check-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/check.svg" download>check.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/circle.svg" download>circle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/clapboard.svg" download>clapboard.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/clock.svg" download>clock.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/close.svg" download>close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/cloud-download.svg" download>cloud-download.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/cloud-upload.svg" download>cloud-upload.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/coins.svg" download>coins.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/collapse.svg" download>collapse.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/comment.svg" download>comment.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/comments.svg" download>comments.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/compass.svg" download>compass.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/credit-card-in.svg" download>credit-card-in.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/credit-card-out.svg" download>credit-card-out.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/dashboard.svg" download>dashboard.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/desktop.svg" download>desktop.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/diagram.svg" download>diagram.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/dislike.svg" download>dislike.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/divide-alt.svg" download>divide-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/divide.svg" download>divide.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/download.svg" download>download.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/drop.svg" download>drop.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/dropper.svg" download>dropper.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/envelope-pull.svg" download>envelope-pull.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/envelope-put.svg" download>envelope-put.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/euro.svg" download>euro.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/expand.svg" download>expand.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/external-link.svg" download>external-link.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/file-export.svg" download>file-export.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/file-import.svg" download>file-import.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/fire.svg" download>fire.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/flag.svg" download>flag.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/gear.svg" download>gear.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/gears.svg" download>gears.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/gift.svg" download>gift.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/globe.svg" download>globe.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/grid.svg" download>grid.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/hammer.svg" download>hammer.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/handcuffs.svg" download>handcuffs.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/hand-bottom.svg" download>hand-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/hand-left.svg" download>hand-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/hand-right.svg" download>hand-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/hand-top.svg" download>hand-top.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/heart.svg" download>heart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/help.svg" download>help.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/home.svg" download>home.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/hourglass.svg" download>hourglass.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/idea.svg" download>idea.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/image.svg" download>image.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/info-alt.svg" download>info-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/info.svg" download>info.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/lab.svg" download>lab.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/label-hot.svg" download>label-hot.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/label-new.svg" download>label-new.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/leaf.svg" download>leaf.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/legal.svg" download>legal.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/lightning.svg" download>lightning.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/like.svg" download>like.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/line-chart.svg" download>line-chart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/link.svg" download>link.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/list.svg" download>list.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/location.svg" download>location.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/location-alt.svg" download>location-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/lock.svg" download>lock.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/magic.svg" download>magic.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/magnet.svg" download>magnet.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/map.svg" download>map.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/minus-alt.svg" download>minus-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/minus.svg" download>minus.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/multiply-alt.svg" download>multiply-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/multiply.svg" download>multiply.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/music.svg" download>music.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/narrow-screen.svg" download>narrow-screen.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/notebook.svg" download>notebook.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/octagon.svg" download>octagon.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/paper-clip.svg" download>paper-clip.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/paper-plane.svg" download>paper-plane.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/pen.svg" download>pen.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/pencil.svg" download>pencil.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/phone-alt.svg" download>phone-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/phone.svg" download>phone.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/pie-chart.svg" download>pie-chart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/piggybank.svg" download>piggybank.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/playlist.svg" download>playlist.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/plus-alt.svg" download>plus-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/plus.svg" download>plus.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/print-doc.svg" download>print-doc.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/print-image.svg" download>print-image.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/priority-high.svg" download>priority-high.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/priority-low.svg" download>priority-low.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/pulse.svg" download>pulse.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/question-alt.svg" download>question-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/question.svg" download>question.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/remove.svg" download>remove.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/servers.svg" download>servers.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/responsive.svg" download>responsive.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/rocket.svg" download>rocket.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/satellite.svg" download>satellite.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/save.svg" download>save.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/scissors.svg" download>scissors.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/screenshot.svg" download>screenshot.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/search.svg" download>search.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/settings.svg" download>settings.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/share-alt.svg" download>share-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/share.svg" download>share.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/shield.svg" download>shield.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/shoppingcart-in.svg" download>shoppingcart-in.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/shoppingcart-out.svg" download>shoppingcart-out.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/shoppingcart.svg" download>shoppingcart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/sky-dish.svg" download>sky-dish.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/smartphone.svg" download>smartphone.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/sort.svg" download>sort.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/square.svg" download>square.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/star-half.svg" download>star-half.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/star.svg" download>star.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-four-fifth.svg" download>step-four-fifth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-full.svg" download>step-full.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-one-fifth.svg" download>step-one-fifth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-one-fourth.svg" download>step-one-fourth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-one-third.svg" download>step-one-third.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-three-fifth.svg" download>step-three-fifth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-three-fourth.svg" download>step-three-fourth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-two-fifth.svg" download>step-two-fifth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-two-fourth.svg" download>step-two-fourth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/step-two-third.svg" download>step-two-third.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/stopwatch.svg" download>stopwatch.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/tablet.svg" download>tablet.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/tag.svg" download>tag.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/thumbnails-big.svg" download>thumbnails-big.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/thumbnails-small.svg" download>thumbnails-small.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/timer.svg" download>timer.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/touch.svg" download>touch.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/trash.svg" download>trash.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/trophy.svg" download>trophy.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/truck.svg" download>truck.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/umbrella.svg" download>umbrella.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/unlink.svg" download>unlink.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/unlock.svg" download>unlock.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/upload.svg" download>upload.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/us-dollar.svg" download>us-dollar.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/user.svg" download>user.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/users.svg" download>users.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/warning-alt.svg" download>warning-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/warning.svg" download>warning.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wifi.svg" download>wifi.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wide-screen.svg" download>wide-screen.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wine-glass.svg" download>wine-glass.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wrench.svg" download>wrench.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/zoom-in.svg" download>zoom-in.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/zoom-out.svg" download>zoom-out.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-bottom-alt.svg" download>angle-wide-bottom-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-bottom.svg" download>angle-wide-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-left-alt.svg" download>angle-wide-left-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-left.svg" download>angle-wide-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-right-alt.svg" download>angle-wide-right-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-right.svg" download>angle-wide-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-top-alt.svg" download>angle-wide-top-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/angle-wide-top.svg" download>angle-wide-top.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-bottom-alt.svg" download>arrow-bottom-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-bottom.svg" download>arrow-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-left-alt.svg" download>arrow-left-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-left.svg" download>arrow-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-right-alt.svg" download>arrow-right-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-right.svg" download>arrow-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-top-alt.svg" download>arrow-top-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/arrow-top.svg" download>arrow-top.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/caret-bottom.svg" download>caret-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/caret-left.svg" download>caret-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/caret-right.svg" download>caret-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/caret-top.svg" download>caret-top.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-bottom-double.svg" download>chevron-bottom-double.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-bottom.svg" download>chevron-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-left-double.svg" download>chevron-left-double.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-left.svg" download>chevron-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-right-double.svg" download>chevron-right-double.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-right.svg" download>chevron-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-top-double.svg" download>chevron-top-double.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/chevron-top.svg" download>chevron-top.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/more.svg" download>more.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/refresh.svg" download>refresh.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/retweet.svg" download>retweet.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/rotate-left.svg" download>rotate-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/rotate-right.svg" download>rotate-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/scroll.svg" download>scroll.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/scroll-alt.svg" download>scroll-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/swap-horizontal.svg" download>swap-horizontal.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/swap-vertical.svg" download>swap-vertical.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/redo.svg" download>redo.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/two-pointers.svg" download>two-pointers.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/undo.svg" download>undo.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-add-remove.svg" download>morph-add-remove.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-arrow-left-right.svg" download>morph-arrow-left-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-arrow-top-bottom.svg" download>morph-arrow-top-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-bar-chart.svg" download>morph-bar-chart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-bell.svg" download>morph-bell.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-brightness.svg" download>morph-brightness.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-bulb.svg" download>morph-bulb.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-bookmark.svg" download>morph-bookmark.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-celsius-fahrenheit.svg" download>morph-celsius-fahrenheit.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-checkbox-1.svg" download>morph-checkbox-1.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-checkbox-2.svg" download>morph-checkbox-2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-checkbox-3.svg" download>morph-checkbox-3.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-checkbox-4.svg" download>morph-checkbox-4.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-chevron-close.svg" download>morph-chevron-close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-chevron-left-right.svg" download>morph-chevron-left-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-chevron-top-bottom.svg" download>morph-chevron-top-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-clock.svg" download>morph-clock.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-cloud.svg" download>morph-cloud.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-connect.svg" download>morph-connect.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-desktop-smartphone.svg" download>morph-desktop-smartphone.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-desktop-tablet.svg" download>morph-desktop-tablet.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-doc.svg" download>morph-doc.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-envelope.svg" download>morph-envelope.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-eye-open-close.svg" download>morph-eye-open-close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-flag.svg" download>morph-flag.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-folder.svg" download>morph-folder.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-fullscreen-close.svg" download>morph-fullscreen-close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-fullscreen.svg" download>morph-fullscreen.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-glass.svg" download>morph-glass.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-heart.svg" download>morph-heart.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-link.svg" download>morph-link.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-lock.svg" download>morph-lock.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-login.svg" download>morph-login.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-login2.svg" download>morph-login2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-map.svg" download>morph-map.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-arrow-bottom.svg" download>morph-menu-arrow-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-arrow-left.svg" download>morph-menu-arrow-left.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-arrow-right.svg" download>morph-menu-arrow-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-arrow-top.svg" download>morph-menu-arrow-top.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-collapse.svg" download>morph-menu-collapse.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-close.svg" download>morph-menu-close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-menu-close-alt.svg" download>morph-menu-close-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-microphone.svg" download>morph-microphone.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-minus-plus.svg" download>morph-minus-plus.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-orientation-smartphone.svg" download>morph-orientation-smartphone.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-orientation-tablet.svg" download>morph-orientation-tablet.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-pin.svg" download>morph-pin.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-play-pause.svg" download>morph-play-pause.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-play-stop.svg" download>morph-play-stop.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-powerswitch.svg" download>morph-powerswitch.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-preview.svg" download>morph-preview.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-quality.svg" download>morph-quality.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-radio-1.svg" download>morph-radio-1.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-radio-2.svg" download>morph-radio-2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-radio-3.svg" download>morph-radio-3.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-radio-4.svg" download>morph-radio-4.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-resize-diagonal.svg" download>morph-resize-diagonal.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-resize-left-right.svg" download>morph-resize-left-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-resize-top-bottom.svg" download>morph-resize-top-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-search-close.svg" download>morph-search-close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-shield.svg" download>morph-shield.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-slider-left-right.svg" download>morph-slider-left-right.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-slider-top-bottom.svg" download>morph-slider-top-bottom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smile.svg" download>morph-smile.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sort.svg" download>morph-sort.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sort-alt.svg" download>morph-sort-alt.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-speaker.svg" download>morph-speaker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-stack.svg" download>morph-stack.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-star.svg" download>morph-star.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sun-moon.svg" download>morph-sun-moon.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-table-lamp.svg" download>morph-table-lamp.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-tablet-smartphone.svg" download>morph-tablet-smartphone.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-thumbnails-close.svg" download>morph-thumbnails-close.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-toggle-1.svg" download>morph-toggle-1.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-toggle-2.svg" download>morph-toggle-2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-umbrella.svg" download>morph-umbrella.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-zoom.svg" download>morph-zoom.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-octagon.svg" download>morph-circle-octagon.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-octagon2.svg" download>morph-circle-octagon2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-rounded.svg" download>morph-circle-rounded.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-smooth.svg" download>morph-circle-smooth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-square.svg" download>morph-circle-square.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-square2.svg" download>morph-circle-square2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-sticker.svg" download>morph-circle-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-sticker2.svg" download>morph-circle-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-triangle.svg" download>morph-circle-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-circle-triangle2.svg" download>morph-circle-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-rounded.svg" download>morph-octagon-rounded.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-smooth.svg" download>morph-octagon-smooth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-square.svg" download>morph-octagon-square.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-square2.svg" download>morph-octagon-square2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-sticker.svg" download>morph-octagon-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-sticker2.svg" download>morph-octagon-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-triangle.svg" download>morph-octagon-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon-triangle2.svg" download>morph-octagon-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-rounded.svg" download>morph-octagon2-rounded.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-smooth.svg" download>morph-octagon2-smooth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-square.svg" download>morph-octagon2-square.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-square2.svg" download>morph-octagon2-square2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-sticker.svg" download>morph-octagon2-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-sticker2.svg" download>morph-octagon2-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-triangle.svg" download>morph-octagon2-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-octagon2-triangle2.svg" download>morph-octagon2-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-smooth.svg" download>morph-rounded-smooth.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-square.svg" download>morph-rounded-square.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-square2.svg" download>morph-rounded-square2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-sticker.svg" download>morph-rounded-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-sticker2.svg" download>morph-rounded-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-triangle.svg" download>morph-rounded-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-rounded-triangle2.svg" download>morph-rounded-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smooth-square.svg" download>morph-smooth-square.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smooth-square2.svg" download>morph-smooth-square2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smooth-sticker.svg" download>morph-smooth-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smooth-sticker2.svg" download>morph-smooth-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smooth-triangle.svg" download>morph-smooth-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-smooth-triangle2.svg" download>morph-smooth-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square-sticker.svg" download>morph-square-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square-sticker2.svg" download>morph-square-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square-triangle.svg" download>morph-square-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square-triangle2.svg" download>morph-square-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square2-sticker.svg" download>morph-square2-sticker.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square2-sticker2.svg" download>morph-square2-sticker2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square2-triangle.svg" download>morph-square2-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-square2-triangle2.svg" download>morph-square2-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sticker-triangle.svg" download>morph-sticker-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sticker-triangle2.svg" download>morph-sticker-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sticker2-triangle.svg" download>morph-sticker2-triangle.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/morph-sticker2-triangle2.svg" download>morph-sticker2-triangle2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-cloud-sun.svg" download>weather-cloud-sun.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-cloud.svg" download>weather-cloud.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-rain-thunder.svg" download>weather-rain-thunder.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-rain.svg" download>weather-rain.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-snow.svg" download>weather-snow.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-sun.svg" download>weather-sun.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/weather-thunderstorm.svg" download>weather-thunderstorm.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wind-east.svg" download>wind-east.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wind-north.svg" download>wind-north.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wind-south.svg" download>wind-south.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wind-west.svg" download>wind-west.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/wind.svg" download>wind.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-1.svg" download>loader-1.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-2.svg" download>loader-2.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-3.svg" download>loader-3.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-4.svg" download>loader-4.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-5.svg" download>loader-5.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-6.svg" download>loader-6.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-7.svg" download>loader-7.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-8.svg" download>loader-8.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-9.svg" download>loader-9.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-10.svg" download>loader-10.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-11.svg" download>loader-11.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-12.svg" download>loader-12.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-13.svg" download>loader-13.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-14.svg" download>loader-14.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-15.svg" download>loader-15.svg</a><br>
<a href="https://starbase.co/LivIconsEvo/svg/loader-16.svg" download>loader-16.svg</a><br>
