<footer class="footer-3 text-center-xs space--xs ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img alt="Image" class="logo img-responsive" src="assets/img/logo-dark.png">
                 <p class="type--fine-print"> Using the power of blockchain, Repocoin will connect people all over the world.</p>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul class="links">
                  <li>Information</li>
                  <li><a href="#" id="ember504" class="ember-view">White Paper</a></li>
                  <li><a href="#" id="ember513" class="ember-view">Vision Paper</a></li>
                  <li><a href="#" id="ember514" class="ember-view">Reward Paper</a></li>
                  <li><a href="#" id="ember519" class="ember-view">Token Mechanism</a></li>
                </ul>
            </div>
            <div class="col-md-2  col-xs-6">
                <ul class="links">
                  <li>Information</li>
                  <li><a href="#" id="ember504" class="ember-view">White Paper</a></li>
                  <li><a href="#" id="ember513" class="ember-view">Vision Paper</a></li>
                  <li><a href="#" id="ember514" class="ember-view">Reward Paper</a></li>
                  <li><a href="#" id="ember519" class="ember-view">Token Mechanism</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul class="links">
                  <li>Information</li>
                  <li><a href="#" id="ember504" class="ember-view">White Paper</a></li>
                  <li><a href="#" id="ember513" class="ember-view">Vision Paper</a></li>
                  <li><a href="#" id="ember514" class="ember-view">Reward Paper</a></li>
                  <li><a href="#" id="ember519" class="ember-view">Token Mechanism</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-xs-6">
                <ul class="links">
                  <li>Information</li>
                  <li><a href="#" id="ember504" class="ember-view">White Paper</a></li>
                  <li><a href="#" id="ember513" class="ember-view">Vision Paper</a></li>
                  <li><a href="#" id="ember514" class="ember-view">Reward Paper</a></li>
                  <li><a href="#" id="ember519" class="ember-view">Token Mechanism</a></li>
                </ul>
            </div>
        </div>
            <div class="row">
                <div class="clearfix"></div>
            <hr>
            <div class="clearfix"></div>
            </div>
            <div class="row  no-margin">
            <div class="col-sm-6 text-left text-center-xs">
                <ul class="social-list list-inline list--hover">
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-linkedin icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-github icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <span class="type--fine-print">Copyright © <span class="update-year">2016- 2018</span> Repocoin GmbH - Earth</span>
                <!--<a class="type&#45;&#45;fine-print" href="#"> Privacy Policy </a>-->
                <!--<a class="type&#45;&#45;fine-print" href="#"> Legal </a>-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
