#particle-canvas {
    position: absolute !important;
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.footer-checkbox {
    opacity: 1 !important;
    visibility: visible !important;
}

.wizard-card[data-color="repoblue"] .moving-tab {
    background-color: #4A90E2;
    box-shadow: 0 16px 26px -10px #4a90e2a6, 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 188, 212, 0.2);
    left: 8px;
    font-size: 1.2em;
}