<div class="image-container set-full-height" style="background-image: url('assets/img/demo-bg.jpg')">
		<div id="particle-canvas"></div>
	    <!--   Creative Tim Branding   -->
	    <a routerLink="/">
	         <div class="logo-container">
	            <div class="logo">
	                <img src="assets/img/logo-light.png">
	            </div>
	        </div>
	    </a>
      <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="repoblue" id="wizard">
		                    <form action="" method="">
		                <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

		                    	<div class="wizard-header">
		                        	<h2 class="wizard-title">
		                        		Get Free REPO Tokens
		                        	</h2>
									<h5></h5>
		                    	</div>
								<div class="wizard-navigation hidden-xs hidden-sm">
									<ul>

			                            <li><a href="#details" data-toggle="tab" id="o">The first crowdsourced token-based Repossessions platform</a></li>

			                        </ul>
								</div>

		                        <div class="tab-content">
		                            <div class="tab-pane active" id="details">
		                            	<div class="row">
		                            		<div class="col-md-7">
		                            			<div class="row">
				                            		<div class="col-xs-6 col-xs-offset-3 hidden-md hidden-lg">
				                                		<img src="assets/img/Animation.gif" class="img-responsive">
				                                	</div>
					                            	<div class="col-xs-3 hidden-md hidden-lg"></div>
				                            	</div>
				                            	<div class="row">
				                            		<div class="col-md-10 col-md-offset-1">
				                            			<h4 class="info-text left"> To be considered for free tokens please <br> enter your email address below so that <br> we may contact you.</h4>
				                            		</div>
				                            		<div class="col-md-1"></div>
				                            	</div>
				                            	<div class="row">
				                                	<div class="col-md-11">

														<div class="input-group">
															<span class="input-group-addon">
																<i class="material-icons">email</i>
															</span>
															<div class="form-group label-floating is-empty">
					                                          	<label class="control-label">Your Email</label>
					                                          	<input name="name" type="text" class="form-control">
					                                        <span class="material-input"></span><span class="material-input"></span></div>
														</div>
				                                	</div>
				                            	</div>
		                            		</div>
		                            		<div class="col-md-4 col-md-offset-1 hidden-xs hidden-sm">
		                            			<img src="assets/img/Animation.gif" class="img-responsive">
		                            		</div>
		                            	</div>

		                            </div>
		                        </div>
	                        	<div class="wizard-footer">

	                                <div class="pull-left">
	                                    <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />

										<div class="footer-checkbox">
										  <div class="col-sm-12">
											  <div class="checkbox">
												  <label>
													  <input type="checkbox" name="optionsCheckboxes" required>
												  </label>
												 You agree to our <a routerLink="/terms-Condition"> terms and conditions</a>
											  </div>
										  </div>
										</div>
	                                </div>
	                                <div class="pull-right" style="width: 100%; text-align: center;">
	                                    <input type='button' class='btn btn-next btn-fill btn-repoblue btn-wd' name='next' value='Next' />
	                                    <input type='submit' class='btn btn-finish btn-fill btn-repoblue btn-wd' name='submit' value='Submit' />
	                                </div>
	                                <div class="clearfix"></div>
	                        	</div>
		                    </form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	    	</div> <!-- row -->
		</div> <!--  big container -->
    </div>