<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
 <section class="subscribe-form-2 space--xs imagebg text-center" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
         <canvas id="granim-3" width="1419" height="143"></canvas>
         <div class="container wow fadeIn">
            <div class="row">
               <h1 class="white-text text-white"><b>Car Giveaway Program</b></h1>
            </div>
            <!--end of row-->
         </div>
         <!--end of container-->
      </section>
 <section class="text-center bg--secondary">
         <div class="container">
            <div class="row">
               <div class="content-holder col-md-8 col-md-offset-2 text-left">
                  <h2>Official Rules and Terms</h2>
                  <h3>1. ELIGIBILITY: </h3>
                  <p>To enter the Car giveaway, you must, at the time of entry,</p>
                  <p>(i) be a legal resident residing in United States of America; Excluding Hawaii and Alaska</p>
                  <p>(ii) be 18 years of age or older; and</p>
                  <p>(iii) be physically located in United States of America and show proof of residence</p>
                  <p>(iv) The Car giveaway and any websites, webpages, and advertisements relating thereto are intended for viewing only within the designated area. Entries received from persons residing outside of </p>
                  <p>the eligible geographic areas, or where restricted or prohibited by law will be disqualified. Employees, officers, and directors of Repo Coin, their respective companies, affiliates, subsidiaries, agencies and their immediate families (parents, siblings, children, and spouses of each, regardless of where they live) and members of the households (whether related or not) of such employees, officers, and directors, are ineligible to participate in this Car giveaway.</p>
                  <h3>2. How to apply for Car Giveaway Program:</h3>
                  <p>Participates may only apply online using the web form at www.repocoin.io/apply. At the website you will be required to provide your first & last name, email address, phone number, profile picture, current vehicle ownership status, drivers license status, short essay and video explaining how owning a car would help change their lives. Participants are solely responsible for Internet connectivity; hardware and/or software required to apply online. Top finalists will be elected upon Repo Coin’s discretion and voted on by the Repo Coin community. The finalist with the most votes will be awarded the car. </p>
                  <p>Cars(s) may not be assigned, transferred, changed or redeemed for cash. Repo Coin reserves the right to substitute a car of equal or greater value if car cannot be awarded as described. Car is awarded "as is" with no warranty or guarantee express or implied by Repo Coin. Repo Coin disclaims all and any liability for the actual provision, quality or nature of any car accepted by the winner(s). The awarding of any: car is contingent upon full compliance with these Official Rules. Although at the time of applying participant can suggest their preference of vehicle type (sedan or SUV), it will be Repo Coins sole discretion to award any car. Participants are responsible for picking up the car as long as it’s within 75 miles of their provided location.  Otherwise Repo Coin will make other reasonable arrangements for delivery of car. Participants agree to be bound by Official Rules and agree that if winner fails to provide proof of identity, refuses to provide required documentation, is found to have violated the Official Rules or otherwise does not meet eligibility criteria, car will be forfeited and awarded to an alternate winner in a random drawing from eligible entries. 'Entrants understand that Repo Coin is not liable for injuries, losses or damages of any kind arising from participation in this promotion and acceptance, possession and use of car. Repo Coin is not responsible for any typographical or other error in the printing of the offer, administration of the Car Giveaway or in the announcement of the car. Decisions of Repo Coin are final and binding in all respects. By participating and winning a car, winner releases all Repo Coins, their parents, affiliates, subsidiaries and agents, and their respective officers, directors, employees and agents from any and all liability with respect to the car won and participation in the Car Giveaway. Vehicle registration, insurance, taxes, repairs and any other vehicle related fees is the sole responsibility of the winner of the car. Subject to all US Federal, state and local laws and regulations. </p>
                  <h3>3. How to Vote for Car Giveaway Finalist(s):</h3>
                  <p>Only Repo Token holders may vote at www.repocoin.io/vote. To cast vote Repo token holders will need to send Repo tokens to the public wallet provided on the finalist profile page. 1 vote = Repo Token. Votes are non-refundable or reversible. </p>
                  <p>Once winner is announced all tokens that were sent to the finalist will be dumped back into the Repo Coin Giveaway Token Fund</p>
                  <h3>4. Publicity Release:</h3>
                  <p>By participating in the Giveaway, each entrant acknowledges that his/her entry in the Giveaway constitutes that entrant’s consent to use, publish, reproduce and for all purposes, including publicity, promotion and advertising, in any media (including without limitation, the Internet, television, social media or offline promotions), each finalists and  winner’s name, voice, likeness, photograph, opinions, and/or hometown and state, and any portion thereof, each extending throughout the universe and in perpetuity without further compensation, credit or right of review or approval, except where prohibited by law.</p>
                  <h3>5. Disclaimer:</h3>
                  <p>Repo Coin disclaims all liability for the inability of a participant to complete entry due to: lack of internet service, equipment malfunction, inadvertent disconnections, acts and circumstances beyond Repo Coin’s control, or otherwise, if applicable to this particular Car Giveaway. Repo Coin disclaims all liability for any delays, misdelivery, loss, or failure in the delivery of any item sent by mail, courier, express, electronic transmission, or other delivery method. Repo Coin is not responsible for mechanical, technical, computer, hardware or software errors, malfunctions, or failures of any kind, including but not limited to failed, incomplete, garbled, or delayed transmission of entries, traffic congestion, viruses, sabotage, satellite failures, electrical outages on telephone lines, on the Internet, at any website, or application or lost or unavailable network connections or natural disasters or acts of God or man, which may limit an entrant’s ability to participate in the Car Giveaway, and any injury or damage to entrant’s or any other person’s computer related to or resulting from participating in or downloading any information necessary to participate in the Car Giveaway.</p>
                  <h3>6. Indemnification/Hold Harmless:</h3>
                  <p>By participating, entrants agree: (a) to the Official Rules and decisions of Repo Coin, which shall be final in all respects; (b) to release, discharge, and hold harmless Repo Coin, and their respective affiliates, parents, subsidiaries, advertising and promotion agencies, officers, directors, employees, representatives, and agents (the “Released Parties”) from all liability, injuries, losses or damages of any kind to persons, including but not limited to death, invasion of privacy (under appropriation, intrusion, public disclosure of private facts, false light in the public eye or other legal theory), defamation, slander, libel, violation of right of publicity, infringement of trademark, copyright, or other intellectual property rights, or property damage resulting in whole or in part, directly or indirectly, from the acceptance, possession, misuse or use of a car, (including any travel or activity related thereto), or from participation in and/or entry into or creation of an entry for the Car Giveaway and/or the broadcast or exploitation or use of entry or any other Car Giveaway-related activity; and (c) that the Released Parties have neither made nor are in any manner responsible or liable for any warranty, representation or guaranty, expressed or implied, in fact or in law, relating to any car. In consideration for his or her participation in the Car Giveaway, each entrant agrees to hold harmless and indemnify the Released Parties from any and all claims, demands and/or causes of action of any nature or kind whatsoever, whether presently known or unknown, foreseen or unforeseen, that arise out of the entrant’s participation in the Car Giveaway, including attorneys’ fees.</p>
                  <h3>7. Limitation of Liability:</h3>
                  <p>The Released Parties are not responsible or liable for (i) any incorrect or inaccurate entry information or other errors in the printing, offering or administration of the Car giveaway or in the announcement of the car(s), (i) any error, omission, interruption, defect or delay in operation or transmission at any website, or wireless calling service, interrupted or unavailable network, server or other conditions, (iii) failure of any entry to be received by Repo Coin due to technical problems cell or data service problems, human error, or wireless calling service, (iv) communication line, hardware and/or software failures, malfunction of phones (including wireless phones/handsets), phone lines, other communications malfunctions, unavailable network connections, cellular equipment towers, telephone systems or wireless service, (v) damage to any computer (software or hardware) resulting from participation in the Car giveaway, or damage to mobile phone or other PDA device, (vi) theft or destruction of, tampering with, unauthorized access to, or alteration of entries and/or entry information, or (vii) entries which are late, lost, stolen, damaged, illegible, and/or unintelligible (or any combination thereof), or (viii) any change of email address, mailing address, telephone number and/or any other contact information provided by entrant. Any expenses incurred by the entrant during the application process, including but not limited to, are the sole responsibility of each entrant and Repo Coin will not issue reimbursement for any expenses.</p>
                  <p>UNDER NO CIRCUMSTANCES SHALL REPO COIN BE LIABLE FOR INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR EXEMPLARY DAMAGES, ATTORNEYS’ FEES, OR ANY OTHER DAMAGES.</p>
                  <h3>8. Other Conditions:</h3>
                  <p>If for any reason this car giveaway cannot be executed as planned, including but not limited to infection by computer virus, bugs, tampering, unauthorized intervention, fraud, technical failures, and any other causes beyond the control of Repo Coin that corrupt or affect the security, administration, fairness, integrity, or proper conduct of the car giveaway, or if this Car giveaway is compromised or becomes corrupted in any way, electronically, or otherwise, Repo Coin reserves the right to terminate or modify this Car giveaway. If this Car giveaway is terminated before the original end date or modified, Repo Coin will select the car winners from among all valid, non-suspect entries received as or the time/date of termination of the Car giveaway and/or after such time/date (if Applicable) or otherwise select the winners in a fair manner as determined in the sole discretion of Repo Coin. Repo Coin reserves the right, at its sole discretion, to disqualify and prosecute any individual who tampers with or attempts to tamper with the entry process or any aspect of this Car giveaway.</p>
               </div>
            </div>
            <!--end of row-->
         </div>
         <!--end of container-->
      </section>
<app-subscriber></app-subscriber>
<app-footer></app-footer>
