<section class="subscribe-form-2 space--xs imagebg" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div id="particle-canvas" style="display:none;"></div>
<ngx-alerts></ngx-alerts>
  <canvas id="granim-3" width="1419" height="143"></canvas>
  <div class="container wow fadeIn">
    <div class="row">
       <div class="col-md-1">
        <div class="livicon-evo" data-options="name: coins;autoPlay:true; repeat: loop; duration:3; repeatDelay:2;" style="height: auto"></div>
      </div>
      <div class="col-md-3">

        <p class="lead">
          Get free tokens by subscribing <br> to our newsletter!
        </p>
      </div>
      <div class="col-md-7 col-md-offset-1">

      <form  [formGroup]="subscribeForm" (ngSubmit)="onSubmit()" novalidate  submitted >
          <div class="row">
            <div class="col-sm-6">
              <input  formControlName="email" type="email" name="email" placeholder="E-Mail">
              <p class="alert alert-danger" *ngIf="submitted && subscribeForm.controls['email'].hasError('required')">Email is required</p>
              <p class="alert alert-danger" *ngIf="subscribeForm.controls['email'].hasError('pattern')"> Please enter valid email </p>
            </div>
            <div class="col-md-4 col-sm-6">
              <input class="btn btn--primary type--uppercase" type="submit" value="Subscribe" name="Subscribe" >
            </div>
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
