<app-header></app-header>
<div class="main-container">
<section id="header" class="cover cover-features imagebg space--lg" data-overlay="2" style="background-image: url(/assets/img/demo-bg.jpg);background-repeat:no-repeat;background-size:cover;z-index: 2;">
          <div id="particle-canvas"></div>
          <div class="rotate">
            <div class="meteor"></div>
          </div>

          <div class="background-image-holder" style=" z-index: 4;">
            <!-- <img alt="background" src="img/landing-2.png"> -->
          </div>

          <div class="container intro" style=" z-index: 4;">

           <div class="intro-main-view container">
               <div class="phone-img hidden-sm hidden-xs"></div>
               <div class="row">
                  <div class="col-md-8 col-sm-12 col-xs-12 corr-left-padding">
                     <div class="calls-powered animated fadeInUp"><span class="avoidwrap">Repo Coin Powered</span>&thinsp;<span class="avoidwrap">By Blockchain</span></div>
                     <div class="experty-topic-block">
                        <!-- <div class="experty-topic">Experty in TOP10 ICOs to watch in 2018 by<span class="topic-inc-img"></span></div> -->
                        <ul class="repo-topic animated fadeInDown">
                           <li><a href="/assets/docs/Repo Coin-WhitePaper.pdf" target="_blank">Whitepaper <i class="fa fa-copy"></i></a></li>
                          <li><a href="/assets/docs/Repo Coin-One Pager.pdf" target="_blank">One-Pager <i class="fa fa-file-text-o"></i></a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs animated slideInUp"></div>
               </div>
               <div class="row play-row">
                  <div class="col-md-5 col-sm-7 col-xs-12 corr-left-padding pre-contibut-row text-center-xs">
                     <div class="pre-contr">GET FREE TOKENS!</div>
                     <div class="countdown-timer-wrap">
                        <div id="countdown-sale" class="countdown-timer">
                           <div class="time-cell">
                              <div class="time-numb days">0</div>
                              <div class="time-caption">days</div>
                           </div>
                           <div class="time-cell">
                              <div class="time-numb hours">0</div>
                              <div class="time-caption">hours</div>
                           </div>
                           <div class="time-cell">
                              <div class="time-numb minutes">0</div>
                              <div class="time-caption">minutes</div>
                           </div>
                           <div class="time-cell">
                              <div class="time-numb seconds">0</div>
                              <div class="time-caption">seconds</div>
                           </div>
                        </div>
                     </div>
                     <div class="register-block">
                        <div class="col-md-8 pre-contibut-row" ><a id="register-button" routerLink="/Freetoken" class="register-btn">Get Tokens<i class="fa fa-angle-right"></i></a></div>
                     </div>
                     <div class="clear"></div>
                     <!-- <div class="register-more">And get up to 60% more tokens</div> -->
                  </div>
                  <div class="col-md-2 col-sm-5 col-xs-5 demo-play-block  hidden-sm hidden-xs">
                     <a (click)="scroll(target)" class="play-circle video-popup" style="cursor:pointer;">
                        <div class="play-triangle"></div>
                     </a>
                     <div class="play-demo-desc">see how<br>REPO coin works</div>
                     <div class="phone-img phone-sm"></div>
                  </div>
                  <div class="col-md-5 hidden-sm hidden-xs"></div>
               </div>
           </div>
        </div>
</section>
 <!-- video -->
<section class="text-center imagebg" style="background: white" #target>
  <div class="background-image-holder" style="background-color:white; opacity: 1;">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h2 style="color:#666" class="wow fadeInUp"> Smarter, Faster, Better: Repo Coin</h2>
        <div class="video-cover border--round box-shadow-wide wow bounceIn">
          <div class="background-image-holder ">
            <img alt="image" src="/assets/img/vdo-bg.png">
          </div>
          <div class="video-play-icon"></div>
          <video width="750" height="420" controls>
            <source src="/assets/video_Introduction.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- token -->
<section class="switchable feature-large " data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
  <canvas id="granim-3" width="1419" height="143"></canvas>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6 switchable__text wow fadeIn text-center-xs">
        <h2 style="color:white" class="">  We launched our own Token!</h2>
        <h3 style="color:lightgrey">  Meet <a href="#" style="color:white">REPO Token</a>.</h3>
        <h3 style="color:lightgrey">  You can use Repo tokens in exchange for goods and services through our web platform.</h3>

        <a class="btn btn--primary type--uppercase" routerLink="/rewards">
                              <span class="btn__text">
                              Repo Coin Store
                              </span>
                          </a>
      </div>
      <div class="col-md-4 col-sm-6 col-md-pull-1 col-xs-12">
        <div class="boxed boxed--lg boxed--border box-shadow-wide">
          <div class="slider" data-paging="true" data-children="3">
            <ul class="slides flickity-enabled is-draggable" tabindex="0">
              <div class="flickity-viewport casa customCls">
                <div class="flickity-slider">

                    <li class="col-xs-12 slide">
                      <div class="feature feature-3 text-center">
                        <img src="/assets/img/Animation.gif" class="card-icon" style="width: 9em">
                        <h4> It’s Utility </h4>
                        <p>
                          You can redeem REPO Tokens in exchange for goods through our web store.
                        </p>
                        <a href="/rewards">
                          Learn More
                        </a>
                      </div>
                      <!--end feature-->
                    </li>
                    <li class="col-xs-12 slide">
                      <div class="feature feature-3 text-center">
                        <div class="livicon-evo" data-options="name: rocket; size:12em"></div>
                        <h4> It’s Progress </h4>
                        <p>
                          Our token is programmed on the blockchain as a smart contract in an age of transparent, automated, conflict-free contracts.
                        </p>
                        <a href="/rewards">
                          Learn More
                        </a>
                      </div>
                    </li>


                </div>
              </div>

            </ul>
            <!--end of slides-->
          </div>
          <!--end of slider-->
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!-- Whitepaper -->
<section class="switchable  feature-large text-center-xs whitespace-section" >
  <div class="container">
    <div class="row" style="min-height: 300px;">

      <div class="col-md-5">
        <!-- <div style="margin:0 auto;" class="livicon-evo" data-options="name: notebook; size: 25em; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div> -->
        <div class="whitepaper-pdf-img-wrap">
          <a  href="/assets/docs/Repo Coin-WhitePaper.pdf" target="_blank"><img src="./assets/img/whitepaper-screen.png"  class="whitepaper-pdf-img" alt="Whitepaper"></a>
        </div>
      </div>
      <div class="col-md-7">
        <div class="switchable__text">
          <h1 class="wow fadeInUp">Whitepaper</h1>
          <p class="lead wow fadeIn">
            Repocoin is built on top of Stellar, a distributed computing platform that features Smart contracts, a self-executing computer program that executes partially or fully self-enforcing contracts. This enables you to emulate contracts on a transparent, decentralized network.
          </p>
          <p class="lead wow fadeIn">
            This technology provides superior security to traditional contracts and greatly reduces transaction costs normally associated with contracts. This is the next leap in the financial industry, and we are part of it.
          </p>
          <ul class="whitepaper text-left-xs">
            <p class="lead wow fadeIn">

              <li class="underline-on-hover wow fadeInLeft" data-wow-delay="0.0s"><i class="fa fa-copy"></i> <a href="/assets/docs/Repo Coin-WhitePaper.pdf" target="_blank"> Whitepaper </a></li>
              <li class="underline-on-hover wow fadeInLeft" data-wow-delay="0.5s"><i class="fa fa-copy"></i><a routerLink="/terms-Condition">Token Sale Terms & Conditions </a></li>
              <li class="underline-on-hover wow fadeInLeft" data-wow-delay=".8s"><i class="fa fa-copy"></i> <a href="/assets/docs/Repo Coin-One Pager.pdf" target="_blank">One Pager </a></li>
            </p>
          </ul>
        </div>
      </div>

    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>
<!-- AS SEEN ON -->
<section class="text-center seen-on bg--secondary">
    <div class="container">
        <div class="row">
         <div class="col-xs-12">
            <h1 class="section-title">As Seen On</h1>
         </div>
         <!-- /.col-12 -->
         <div class="col-xs-12">
            <div class="row">
               <ul class="ul-logos mx-200 clearfix">
                  <li class="wow fadeInUp" data-wow-delay="0.0s" style="height: 78.25px;"><a href="#" target="_blank"><img src="/assets/img/seen/bitcoinist-logo.png" alt="bitcoinist"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="0.2s" style="height: 78.25px;"><a href="#" target="_blank"><img src="/assets/img/seen/cryptostreet-logo.png" alt="cryptostreet"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="0.7s" style="height: 78.25px;"><a href="#" target="_blank"><img src="/assets/img/seen/cryptogrinders-logo.png" alt="cryptogrinders"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="0.9s" style="height: 62.0625px;"><a href="#" target="_blank"><img src="/assets/img/seen/crypto-ninjas-min.png" alt="eventico"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="1s" style="height: 62.0625px;"><a href="#" target="_blank"><img src="/assets/img/seen/logo-newssbtc-min.png" alt="newssbtc"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="1.1s" style="height: 62.0625px;"><a href="#" target="_blank"><img src="/assets/img/seen/logo-merkle-min.png" alt="merkle"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="1.3s" style="height: 62.0625px;"><a href="#" target="_blank"><img src="/assets/img/seen/logo-crypto-insider-min.png" alt="crypto"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="1.5s" style="height: 62.0625px;"><a href="#" target="_blank"><img src="/assets/img/seen/logo-coin-journal-min.png" alt="coin-journal"></a></li>
                  <li class="wow fadeInUp" data-wow-delay="1.7s" style="height: 62.0625px;"><a href="#" target="_blank"><img src="/assets/img/seen/logo-cnn-min.png" alt="logo-cnn"></a></li>
               </ul>
            </div>
         </div>
      </div>
    </div>
</section>


<!-- ECOSYSTEM -->
      <section class="switchable feature-large imagebg ecosystem" id="ecosystem" data-gradient-bg="#4876BD,#5448BD,#8F48BD,#BD48B1">
  <canvas id="granim-3" width="1419" height="143"></canvas>
  <div class="container wow fadeIn">
    <div class="row text-center">
      <h1 class="section-title"><strong>How Repo Coin Works</strong></h1>
    </div>
    <div class="row"></div>
    <div class="row">
      <div class="col-md-6">

          <div>
            <div class="points_item">
                <div class="points_icon"><div class="livicon-evo" data-options="drawOnViewport:true; name: two-pointers; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
                </div>
                <div class="points_text"><span>Download our mobile app once its available and scan license plates in any public space.</span></div>
             </div>


             <div class="points_item">
                <div class="points_icon"><div class="livicon-evo" data-options="drawOnViewport:true; name: flag; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
                </div>
                <div class="points_text"><span>If a license plate is tagged for repossession, an alert is sent to the app user, the lender and the vehicle recovery agent.</span></div>
             </div>
             <div class="points_item">
                <div class="points_icon"><div class="livicon-evo" data-options="drawOnViewport:true; name: notebook; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
                </div>
                <div class="points_text" ><span>A recovery truck is dispatched, and the process to return the vehicle to the lender is immediately underway.</span></div>
             </div>
             <div class="points_item">
                <div class="points_icon"><div class="points_icon"><div class="livicon-evo" data-options="drawOnViewport:true; name: us-dollar; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
                </div>
                </div>
                <div class="points_text"><span >Earn REPO tokens as means of consumer loyalty program rewards</span></div>
             </div>
          </div>
          </div>

      <div class="col-md-6">
        <div class="imgs mobilehook" style="vertical-align: middle;">
          <img width="100%" src="/assets/img/float/eco-below.png">
          <img width="100%" src="/assets/img/float/eco-computer.png">
          <img width="100%" src="/assets/img/float/eco-movie.png">
          <img width="100%" src="/assets/img/float/eco-dash.png">
          <img width="100%" src="/assets/img/float/eco-factory.png">
          <img width="100%" src="/assets/img/float/eco-cloud.png">
          <img width="100%" src="/assets/img/float/eco-tip.png">
          <img width="100%" src="/assets/img/float/eco-board.png">
        </div>

      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<!-- features -->

<!-- token sale component -->
<!-- token sale component -->
<!--<section class="bg--secondary">
  <div class="container">
    <h2 class="text-center wow fadeInUp"> Repo coin Features </h2>
    <div class="row">
      <div class="col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="">
        <div class="feature feature-3 boxed boxed--lg boxed--border text-center" style="min-height: 395px;">
          <div style="margin:0 auto;" class="livicon-evo" data-options="drawOnViewport:true; name: piggybank; size: 120px; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
          <h4>Share Long Term Incentives</h4>
          <p>Using the blockchain, you can share flexible long-term incentives with your team members in a fast, cheap, and global way.</p>
        </div>

      </div>

      <div class="col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
        <div class="feature feature-3 boxed boxed--lg boxed--border text-center" style="min-height: 395px;">
          <div style="margin:0 auto;" class="livicon-evo" data-options="drawOnViewport:true;name: coins; size: 120px; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
          <h4>Fundraise Globally</h4>
          <p>Utilizing Bitcoin, Ethereum or other major crypto currencies, projects can raise necessary resources on a global scale.</p>
        </div>
      </div>

      <div class="col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
        <div class="feature feature-3 boxed boxed--lg boxed--border text-center" style="min-height: 395px;">
          <div style="margin:0 auto;" class="livicon-evo" data-options="drawOnViewport:true;name: globe; size: 120px; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
          <h4>Connect and Engage Globally</h4>
          <p>You can engage with engineers, entrepreneurs, marketers and other professionals from all over the globe.</p>
        </div>

      </div>

      <h3 class="text-center"> For Collaborators  </h3>

        <div class="col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.0s">
          <div class="feature feature-3 boxed boxed--lg boxed--border text-center" style="min-height: 395px;">
            <div style="margin:0 auto;" class="livicon-evo" data-options="name: bar-chart; size: 120px; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
            <h4>More Earnings</h4>
            <p>Using the REPOcoin platform, you can accelerate your project by rewarding contributions to an interesting project. Those that work the hardest, reap the most rewards.</p>
          </div>

        </div>

        <div class="col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.3s">
          <div class="feature feature-3 boxed boxed--lg boxed--border text-center" style="min-height: 395px;">
            <div style="margin:0 auto;" class="livicon-evo" data-options="name: lightning; size: 120px; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
            <h4>High Liquidity</h4>
            <p>The REPOcoin platform brings full transparency to a project’s members and assets.  Since this can be publicly verified on the blockchain, this enhances liquidity for token trading on the exchanges.</p>
          </div>

        </div>
        <div class="col-sm-4 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
          <div class="feature feature-3 boxed boxed--lg boxed--border text-center" style="min-height: 395px;">
            <div style="margin:0 auto;" class="livicon-evo" data-options="name: share; size: 120px; autoPlay:true; repeat: loop; duration:3; repeatDelay:2;"></div>
            <h4>Reward Distribution</h4>
            <p>REPOcoin Tokens holders will be rewarded quarterly.</p>
          </div>

        </div>
      </div>

    </div>

  </section> -->
  <!-- ROADMAP -->
<section class="switchable feature-large">
  <div class="container wow fadeIn">
    <div class="row text-center">
      <h1>Roadmap</h1>
    </div>
    <div class="row">
      <div class="col-md-12 no-padding">
        <div class="roadmap-bg-wrap">
          <img src="/assets/img/roadmap/road.png" class="roadmap-bg" width="100%">
          <img src="/assets/img/roadmap/roadmap (1).png" width="100%" class="wow fadeIn" data-wow-delay="0">
          <img src="/assets/img/roadmap/roadmap (2).png" width="100%" class="wow fadeIn" data-wow-delay="0.3s">
          <img src="/assets/img/roadmap/roadmap (3).png" width="100%" class="wow fadeIn" data-wow-delay=".6s">
          <img src="/assets/img/roadmap/roadmap (4).png" width="100%" class="wow fadeIn" data-wow-delay=".9s">
          <img src="/assets/img/roadmap/roadmap (5).png" width="100%" class="wow fadeIn" data-wow-delay="1.2s">
          <img src="/assets/img/roadmap/roadmap (6).png" width="100%" class="wow fadeIn" data-wow-delay="1.5s">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- PROJECT SCHEDULE -->
<!--<section class="pricing-section-2 text-center ">
    <div class="container">
        <div class="row">
            <h2> Repo coin Project Schedule </h2>
            <div class="col-sm-6 col-md-3">
                <div class="pricing pricing-3">
                    <div class="pricing__head bg--secondary boxed">
                        <span class="h1">1.</span>
                        <h5> Private Sale <strong> (45days) </strong></h5>
                        <p class="type--fine-print"></p>
                    </div>

                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pricing pricing-3">
                    <div class="pricing__head bg--secondary boxed box-shadow-wide">

                        <span class="h1"> 2.</span>
                        <h5>Public Sale (15 days)</h5>
                        <p class="type--fine-print"></p>
                    </div>
                    <ul>
                        <li>
                            <span>Scheduled for April</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="pricing pricing-3">
                    <div class="pricing__head bg--primary boxed box-shadow-wide">
                        <span class="label">REPO Launch</span>
                        <span class="h1">3.</span>
                        <h5>Market Phase</h5>
                        <p class="type--bold ">
                            Repocoin (Symbol: REPO), will become transferable and have market value.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <span>December 1st 2018 for crowdsale and <br> pre-sale purchasers. <br> December 8th 2017 for early purchasers.</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="pricing pricing-3 box-shadow-wide">
                    <div class="pricing__head bg--secondary  boxed">
                        <span class="label">Platform Launch</span>
                        <span class="h1">4.</span>
                        <h5>Launch Phase</h5>
                        <p class="type--bold ">
                            Repocoin Platform is launched and REPO tokens is available for contributions.
                        </p>
                    </div>
                    <ul>
                        <li>
                            <span>February 2018</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> -->
      <!-- GIVEAWAY -->
      <section class="imagebg switchable__text" style="background: black" id="giveaway">
         <div class="background-image-holder" style="background: url('assets/img/givback.jpg');background-color:black; opacity: 1;">
            <img alt="background" src="assets/img/givback.jpg">
         </div>
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <img src="assets/img/hand.png"  class="img-responsive" style="width: 100%">
               </div>
               <div class="col-md-2"></div>
               <div class="col-md-5 col-sm-6 switchable__text wow fadeIn text-center-xs">
                  <h2 style="color:white" class=""> Car Giveway Program</h2>
                  <p class="lead wow fadeIn">
                     We created the Giving Back program to help purchase vehicles for those who need it most. Participants are
                     asked to submit a short essay explaining how owning a car would help change their lives. The top three finalists will then each make a short video that will be posted on our website and voted on by the Repo Coin community. To kick start the Giving Back Contest fund, Repo Coin has pledged 1 MILLION Repo Coins!
                  </p>
                  <a class="btn btn--primary type--uppercase" routerLink="/giveBack">
                  <span class="btn__text">
                  Learn More
                  </span>
                  </a>
               </div>
            </div>
         </div>
      </section>
<!-- TEAM -->
     <section class="text-center bg--secondary" id="team">
         <div class="container">
            <div class="row">
               <div class="row">
                  <h1>Meet The Team</h1>
                  <p class="lead">
                     An innovative collection of like-minded people developing useful and enduring technological products.
                  </p>
                  <!-- ROW OF CEO -->
                  <div class="row">
                     <div class="col-sm-4">
                        <div class="feature feature-8 wow fadeInRight">
                           <img alt="Image" src="/assets/img/about/fahim.png" class="grayscale rounded box-shadow-wide">
                           <h5>Fahim Aref</h5>
                           <p>
                              Co-Founder &amp; CEO
                           </p>
                           <p class="text-justify ppl-desc">
                              Fahim is a Blockchain enthusiast and is currently focused on next generation Blockchain-based Applications, and Cryptocurrencies. He has over 20 years of experience in Real Estate, Oil &amp; Gas and Consumer Electronic markets. $50MM+ in combined Transactions (Hydrocarbon Minerals). Co-Founder of Scan Halal (#1 Halal App). He also serves as the executive director of Pious Projects, a non-profit organization based in Chicago.
                           </p>
                           <ul class="social-list list-inline list--hover">
                              <li>
                                 <a href="https://www.linkedin.com/in/tejaragroup/" target="_blank">
                                 <i class="socicon socicon-linkedin icon icon--xs"></i>
                                 </a>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <!--/ ROW OF CEO -->
                  <!-- TEAM ROW 1 -->
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInLeft">
                        <img alt="Image" src="/assets/img/about/mohammed.png" class="grayscale rounded box-shadow-wide">
                        <h5>Mohammad Majid</h5>
                        <p>
                           Co-Founder &amp; CRO
                        </p>
                        <p class="text-justify ppl-desc">
                           Majid brings years of experience in the industry. His expertise allows him to move with speed and accuracy in every phase of investigation, recovery, account management and revenue attainment solving complex strategies and execute upon boosting both gross collections and net recoveries at the same time.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/mohammad-majid-8a5a9a159/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInRight">
                        <img alt="Image" src="/assets/img/about/sana.png" class="grayscale rounded box-shadow-wide">
                        <h5>Sana Othman</h5>
                        <p>
                           Co-Founder &amp; CFO
                        </p>
                        <p class="text-justify ppl-desc">
                           Sana started her career at the State Bank of Countryside, a family owned bank based in the midwest region of the US, where she was employed for over five years. Sana is a co-founding and managing member in numerous energy industry startups, including Hydrocarbon Minerals, LLC. Sana has a Bachelor's Degree in Business Administration from Robert Morris University.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/sana-othman-91951815a/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                           <!-- <li>
                              <a href="https://twitter.com/tomorrowaki" target="_blank">
                                  <i class="socicon socicon-twitter icon icon--xs"></i>
                              </a>
                              </li>
                              <li>
                              <a href="https://www.facebook.com/tomoaki.sato.35" target="_blank">
                                  <i class="socicon socicon-facebook icon icon--xs"></i>
                              </a>
                              </li>
                              <li>
                              <a href="https://github.com/TOMOAKI12345" target="_blank">
                                  <i class="socicon socicon-github icon icon--xs"></i>
                              </a>
                              </li> -->
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInLeft desc-left">
                        <img alt="Image" src="/assets/img/about/anurag.png" class="grayscale rounded box-shadow-wide">
                        <h5>Anurag Makol</h5>
                        <p>
                           Senior Blockchain Developer
                        </p>
                        <p class="text-justify ppl-desc">
                           Anurag is a blockchain expert with a background in cyber security and technology management. As a cyber security expert, Anurag holds multiple security certifications such as Certified Ethical Hacker (CEH) and Certified Information System Security (CISSP). He is currently focused on the cyber security aspect of blockchains and crypto currencies, and is working on several blockchain security research studies.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/anurag-makol-a1b278ba/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- /TEAM ROW 1 -->
               </div>
               <div class="row">
                  <!-- TEAM ROW 2 -->
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInRight">
                        <img alt="Image" src="/assets/img/about/anas.png" class="grayscale rounded box-shadow-wide">
                        <h5>Anas Razzaq</h5>
                        <p>
                           Operations Strategist
                        </p>
                        <p class="text-justify ppl-desc">
                           Entrepreneur with over 8 years of professional experience leading and delivering enterprise and consumer facing products for various startups in the technology industry with core competencies in product development, market strategy, and streamlining operations. Anas has created products that have been used by millions of people that have acquired a large active user base. He currently serves as founder and CEO of Scan Halal, a mobile application revolutionizing the Global Halal Foods Industry used by millions of users through the use of its proprietary and innovative technology.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/anasrazzaq/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInRight">
                        <img alt="Image" src="/assets/img/about/busti.jpg" class="grayscale rounded box-shadow-wide">
                        <h5>Muhammad Baste</h5>
                        <p>
                           Enterprise Architect
                        </p>
                        <p class="text-justify ppl-desc">
                           Baste Graduated from DePaul University in Business Administration. He serves as President of Strada Logistics, a motor transportation company based in Chicago. Successful serial entrepreneur with over 15 years of Business Operation Experience.  Partnered With Smart Choice Mobile a T-Mobile retailer, expanded operations from 9 locations to 37 locations in 10 months. *Secured 1st ever loan with BMO Harris for 1MM, for cellular carrier.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/muhammad-baste-aab31667/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInRight desc-left">
                        <img alt="Image" src="/assets/img/about/safayat.png" class="grayscale rounded box-shadow-wide">
                        <h5>Safayat Jamil</h5>
                        <p>
                           Network Engineer
                        </p>
                        <p class="text-justify ppl-desc">
                           Safayat has over 10 years of web application development with experience in network security.  He has a solid foundation in computer science, algorithms, data structures, and software design and relational databases development.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/safjammed" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!--/ TEAM ROW 2 -->
               </div>
               <div class="row">
                  <!-- TEAM ROW 3 -->
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInRight">
                        <img alt="Image" src="/assets/img/about/osrie.png" class="grayscale rounded box-shadow-wide">
                        <h5>Osrie Khaled</h5>
                        <p>
                           Communications Manager
                        </p>
                        <p class="text-justify ppl-desc">
                           Osrie is a communication consultant who has years of experience helping brands grow their
                           identity and remain relevant in an ever changing media environment. Her background includes
                           professional writing expertise, social media management and public relations in political,
                           governmental and business sectors. Osrie focuses on cohesive campaign strategies that tell a
                           story through engaging content, thoughtful targeting and careful, contextual marketing.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/osrie-khaled-73b277127/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInRight">
                        <img alt="Image" src="/assets/img/about/rami.png" class="grayscale rounded box-shadow-wide">
                        <h5>Rami Affaneh</h5>
                        <p>
                           Co-op Business Intelligence
                        </p>
                        <p class="text-justify ppl-desc">
                           Rami has 20 years of experience working in the energy sector as well as the automotive,  and wireless reverse logistics industries . He is currently a founding member and Vice President of Operations at Hydrocarbon Minerals. Early Cryptocurrency adapter and investor.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/tgroup/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInLeft desc-left">
                        <img alt="Image" src="/assets/img/about/shilpi.png" class="grayscale rounded box-shadow-wide">
                        <h5>Shilpi Jain</h5>
                        <p>
                           Application Developer
                        </p>
                        <p class="text-justify ppl-desc">
                           Shilpi is passionate about building great software and applying technology. She is highly experienced in software design and development with a solid foundation in computer science and native mobile development. Her interests include cryptocurrency and blockchain technology, large-scale distributed systems, and mobile applications.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/shilpi-jain-4625469b/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!-- /TEAM ROW 3 -->
               </div>
               <div class="row">
                  <p class="lead">&nbsp;</p>
                  <h1>Advisors</h1>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInUp">
                        <img alt="Image" src="/assets/img/about/eric.png" class="grayscale rounded box-shadow-wide">
                        <h5>Eric Collins</h5>
                        <p>
                           Sr. Corporate Banking Advisor
                        </p>
                        <p class="text-justify ppl-desc">
                           Eric Served as VP of Bank One, and an underwriter in the Large Corporate Automotive Group responsible for overall risk management for a portfolio of 24 relationships with an aggregate credit exposure in excess of $3.0 Billion. Eric has extensive industry knowledge  which include capital structure consultation, loan products and syndications, cash management, public debt placement, acquisitions, divestitures, foreign exchange and other banking products.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/periccollins/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInUp">
                        <img alt="Image" src="/assets/img/about/dion.png" class="grayscale rounded box-shadow-wide">
                        <h5>Dion Kaba</h5>
                        <p>
                           Auto Finance Advisor
                        </p>
                        <p class="text-justify ppl-desc">
                           Dion has over 13 years experience in automotive finance and vehicle acquisitions.  Dion has managed nearly $5 billion in auto finance loans and sales.  Currently he is the director of sales and acquisition for David McDavid Ford.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/dion-kaba-6363867a/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="feature feature-8 wow fadeInUp desc-left">
                        <img alt="Image" src="/assets/img/about/grant.png" class="grayscale rounded box-shadow-wide">
                        <h5>Grant Gulovsen</h5>
                        <p>
                           Legal Advisor
                        </p>
                        <p class="text-justify ppl-desc">
                           Grant is an attorney with over 15 years' experience with corporate and intellectual property law. Grant has been involved in the cryptocurrency ecosystem since 2013. He is currently a Member of International Blockchain Consulting Group's Blockchain Leadership Team and regularly advises ICOs about U.S. securities laws and other corporate matters.
                        </p>
                        <ul class="social-list list-inline list--hover">
                           <li>
                              <a href="https://www.linkedin.com/in/gulovsen/" target="_blank">
                              <i class="socicon socicon-linkedin icon icon--xs"></i>
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <!--end of row-->
         </div>
         <!--end of container-->
      </section>
<!-- TALENT -->
<!-- TALENT -->
<section class="text-center bg--secondary">
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <div class="cta">
                      <h2>We're always looking for Financial Institutions</h2>
                      <p class="lead">Want to be a early adapter of our auto recovery program?  Great!  Send us your info. </p>
                      <a class="btn btn--primary type--uppercase" routerLink="/contactUs">
                          <span class="btn__text"> Join us </span>
                      </a>
                  </div>
              </div>
          </div>
          <!--end of row-->
      </div>
      <!--end of container-->
</section>
<!-- Newsletter -->
<app-subscriber></app-subscriber>
<app-footer></app-footer>
