<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
<section class="text-center imagebg space--md" data-overlay="3">
  <div class="background-image-holder" style="background: url(assets/img/givback.jpg); opacity: 1;">
    <img alt="background" src="assets/img/givback.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="col-xs-5">
          <img src="assets/img/hand.png"  class="img-responsive" style="width: 100%">
        </div>

      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-md-8">
        <h1>Repo Coin Gives back</h1>
        <h2> Monthly Car Giveway Program. </h2>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<!-- action cards -->
<section id="">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid plan-cards">
           <div class="row" *ngIf="data">
              <div class="col-sm-12">
                 <h2 id="learn" class="section-title text-center feature-card-headline" style="margin-bottom: 80px">Help us choose who is most in need. Vote for one of these finalist.</h2>
              </div>
           </div>
           <div class="row">
              <div class="col-md-6 wow fadeIn"  *ngFor="let item of data">
                 <a (click)="ViewCoinRoute(item._id)" class="switch">
                    <div class="feature-card video">
                       <div class="card-icon-container">
                        <div class="overicon"><a class="one"><i class="playicon fa fa-play-circle fa-4x" aria-hidden="true"></i></a></div>
                       <img src="http://img.youtube.com/vi/{{item.application.youtubelink}}/0.jpg" style="background-image: url(http://img.youtube.com/vi/{{item.application.youtubelink}}/0.jpg)">
                       </div>
                       <div class="card-description-container">
                              <h4>{{ item.personalinfo.firstname }}</h4>
                              <a class="btn btn--sm btn--primary type--uppercase"  style="margin-bottom: 15px">
                              <span class="btn__text"> Vote </span>
                              </a>
                              </div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
      </div>
    </div>
    <!--end of row-->
  </div>
  <!--end of container-->
</section>

<app-subscriber></app-subscriber>
<app-footer></app-footer>
