<app-header></app-header>
<div id="particle-canvas" style="display:none;"></div>
     <section class="imagebg text-center bg--dark " data-overlay="3">
            <div class="background-image-holder" style="background: url(&quot;assets/img/demo-bg.jpg&quot;); opacity: 1;">
               <img alt="background" src="/assets/img/demo-bg.jpg">
            </div>
            <div class="container" style="z-index: 3; position: relative;">
               <div class="row">
                  <div class="col-md-12">
                     <h1>FAQ</h1>
                     <p class="lead">
                        Browse your question by topic
                     </p>
                  </div>
               </div>
               <!--end of row-->
            </div>
            <!--end of container-->
         </section>
<section class="bg--secondary" style="padding-top: 2em;">
            <div class="container">
               <div class="row">
                  <div class="col-md-2"></div>
                  <div class="col-md-9">
                     <div class="tabs-container text-center" data-content-align="center">
                        <ul class="tabs">
                           <li class="active" style="padding-top: 35px;">
                              <div class="tab__title">
                                 <span class="h4">Repo Coin</span>
                              </div>
                              <div class="tab__content">
                                 <ul class="accordion accordion-1">
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What is Repo Coin Platform?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>Repo Coin is a revolutionary blockchain project focused on the auto lending and repossession industry. It is a solution that will result in the faster, more efficient recovery of assets for auto lenders by bringing together a large community of people to assist in locating delinquent vehicles, motivated by cryptocurrency rewards. </p>
                                          <p>We are building an end-to-end technology solution that will feature a website, mobile app, digital wallet, and blockchain platform, using Stellar protocol for token operation and smart contracts. </p>
                                          <p>With the Repo Coin mobile app, everyone will have the power to scan license plates and quickly identify delinquent vehicles, matched against our real-time database of delinquent vehicles from lenders across the US. By enlisting the participation of lending agencies, auto repossession companies, and a community of users incentivized by cryptocurrency, we will disrupt and transform the $1 billion dollar auto repossession industry in a way that has never been seen before. </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What problem does the Repo Coin Platform solve?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>The current model for the auto repossession industry does not effectively meet the demands of auto lenders, which have increased exponentially since 2012. </p>
                                          <p>The auto repossession industry currently relies on expensive, inefficient technology to locate delinquent vehicles, which has resulted in a slow, costly process for lenders who wish to recover lost assets. There are also major problems with communication between repossession companies and lenders, which have caused additional delays and costs for the lenders.</p>
                                          <p>Additionally, not much information is available about the auto repossession industry, despite it being a $1 billion market. Because of this, it has been largely overlooked when it comes to the kinds of major technical advances that banks and lending agencies have seen over the past several years</p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What is Repo Coin’s Solution?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p> We will streamline the auto repossession process and the exchange of information between auto lenders and repossession companies by using smart contracts on our blockchain platform coupled with the Repo Coin mobile app will provide license plate scanning and recognition technology to a large community of users across the country, free of charge and easy to use.  cryptocurrency, we will disrupt and transform the $1 billion dollar auto repossession industry in a way that has never been seen before. </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">Why Stellar?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>We have chosen Stellar for a few reasons, primarily because it is fast, reliable, and can support inexpensive transactions for many users.Because Stellar is based on a consensus algorithm rather than on mining, it can confirm transactions within a few seconds. Stellar offers a 5 second median settlement time, compared to 3.5 minutes on the Ethereum network. The simplicity of the Stellar system, purposely limited for smart contracts, also helps avoid situations where hackers can exploit vulnerabilities and steal tokens.</p>
                                          <p>For these reasons, we believe that the Stellar platform will be the ideal choice for Repo Coin. </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What is a REPO token?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>Our app will incentive users with Repo tokens as rewards for helping locate delinquent vehicles, which can then be used to purchase goods and services on our website, repocoin.io. Repo tokens will have a variety of uses, including: purchasing products from the Repo Coin website and also voting in the we care program, where Repo Coin will donate a car once every month to a family or individual in need</p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">Can I mine REPO tokens?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>No.</p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What is the total supply of Repo tokens?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>There will be maximum 357 million tokens, after which no more will be created.</p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">Will there be pre-sale or public sale?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>No, there will be no pre or public sale</p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">Token Legal Considerations?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>Purchase, ownership, receipt, or possession of Repo tokens carries no rights, express
                                             or implied, other than the right to use such tokens as a means to participate, interact or
                                             transact on the decentralized Repo Coin blockchain platform as further described in this
                                             whitepaper, if successfully completed and deployed. In particular, all participants must
                                             understand and accept that Repo tokens do not represent or confer any ownership right
                                             or stake, share, security, or equivalent rights, or any right to receive future revenue
                                             shares, intellectual property rights or any other form of participation in or relating to
                                             Repo Coin and its corporate affiliates, other than any rights relating to the provision and
                                             receipt of services from Repo Coin, subject to limitations and conditions appearing in
                                             any other required agreements on the Repo Coin website. The Repo tokens are not
                                             intended to be utilized outside the decentralized Repo Coin platform nor as a digital
                                             currency, security, commodity, or any kind of financial instrument, and Repo Coin shall
                                             not be liable to any participant for any decrease in value of Repo tokens or any other
                                             damages that any participant may incur as a result of using or purchasing Repo tokens
                                             for anything besides their intended use on the Repo Coin platform.
                                          </p>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </li>
                           <li style="padding-top: 35px;">
                              <div class="tab__title">
                                 <span class="h4">Rewards</span>
                              </div>
                              <div class="tab__content">
                                 <ul class="accordion accordion-1">
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What is Repo Coin Rewards?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             Our app will incentive users with Repo tokens as rewards for helping locate delinquent vehicles, which can then be used to purchase goods and services on our website, www.repocoin.io/rewards.
                                          </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">How do I redeem a product(s) ?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             Simply choose a product that you wish to redeem, and the follow the steps required to ensure availability and delivery.
                                          </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">I live outside of USA can I still redeem a product?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             Unfortunately we currently do not ship outside of U.S.
                                          </p>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </li>
                           <li style="padding-top: 35px;">
                              <div class="tab__title">
                                 <span class="h4">Giveback Program</span>
                              </div>
                              <div class="tab__content">
                                 <ul class="accordion accordion-1">
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What is the Repo Coin Giveback Program?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             We created the Giving Back program to help purchase full paid vehicles for those who need it most. Participants are asked to submit a short essay and video explaining how owning a car would help change their lives. We will than allow the Repo Coin community to choose the recipient of the vehicle, using their Repo tokens to vote based on applicant stories and videos.
                                          </p>
                                          <p>
                                             To kick start the Giving Back Token fund, Repo Coin has pledged 1 MILLION Repo Tokens!
                                          </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">How do I apply for a car?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             Participates may only apply online using the web form at <a href="http://www.repocoin.io/apply" target="_blank">www.repocoin.io/apply</a>.
                                          </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">What information is needed to apply for a car?</span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             At the website you will be required to provide your first &amp; last name, email address, phone number, profile picture, current vehicle ownership status, drivers license status, short essay and video explaining how owning a car would help change their lives.
                                          </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">Who is eligilble to apply for a car? </span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             To learn more about eligibilty and the official rules please visit <a href="http://www.repocoin.io/giveawayrules" target="_blank">www.repocoin.io/giveawayrules</a>
                                          </p>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="accordion__title">
                                          <span class="h5">How do I vote for a finalist. </span>
                                       </div>
                                       <div class="accordion__content">
                                          <p>
                                             Only Repo Token holders may vote at <a href="http://www.repocoin.io/vote" title="">www.repocoin.io/vote</a>. To cast vote Repo token holders will need to send Repo tokens to the public wallet provided on the finalist profile page. 1 Repo Token = 1 vote. Votes are non-refundable or reversible.
                                          </p>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </li>
                        </ul>
                     </div>
                     <!--end of tabs container-->
                  </div>
                  <div class="col-md-2"></div>
               </div>
               <!-- end of row -->
            </div>
            <!--end of container-->
         </section>
         <app-subscriber></app-subscriber>
<app-footer></app-footer>