/*
* Repo Coin Custom style sheet
* Version 1.2
* Licecnsed Under MIT
*
* Safayat Jamil
*
*/

#header .stars {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}


/* #header .stars:before,#header .stars:after{
  position:absolute;z-index:1;
  content:"";
  width:100%;
  height:1000px;
  top:0;left:0; */


/* background:url(../img/stars.svg) repeat;-webkit-animation:starmove-1 150s linear infinite;animation:starmove-1 150s linear infinite;} */


/* #header .stars:after{
    -webkit-animation:starmove-2 150s linear infinite;animation:starmove-2 150s linear infinite;}
  #header .img-icon{height:70px;margin-bottom:0px;}
  #header .feature-2 .feature__body{padding:5px;} */

@keyframes starmove-1 {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    50% {
        opacity: 1;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px)
    }
    51% {
        opacity: 0;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px)
    }
    52% {
        opacity: 0;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    53% {
        opacity: 1;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@-webkit-keyframes starmove-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    1% {
        opacity: 1;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    99% {
        opacity: 1;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px)
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

@keyframes starmove-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    1% {
        opacity: 1;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    99% {
        opacity: 1;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px)
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

#header .rotate {
    position: absolute;
    top: 0;
    left: 100%;
    /* -webkit-animation: cometmove 1s linear 2s infinite; */
    /* animation: cometmove 10s linear 2s infinite; */
}

#header .rotate .meteor {
    position: absolute;
    width: 183px;
    height: 1px;
    background: #fff;
    -webkit-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
}

@-webkit-keyframes cometmove {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(-2000px, 1100px);
        transform: translate(-2000px, 1100px)
    }
    11% {
        opacity: 0;
        -webkit-transform: translate(-2000px, 1100px);
        transform: translate(-2000px, 1100px)
    }
    12% {
        opacity: 0;
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
}

@keyframes cometmove {
    0% {
        opacity: 1;
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
    10% {
        opacity: 1;
        -webkit-transform: translate(-2000px, 1100px);
        transform: translate(-2000px, 1100px)
    }
    11% {
        opacity: 0;
        -webkit-transform: translate(-2000px, 1100px);
        transform: translate(-2000px, 1100px)
    }
    12% {
        opacity: 0;
        -webkit-transform: translate(0, 100px);
        transform: translate(0, 100px)
    }
}

.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}

.grayscale {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.grayscale:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.rounded {
    border-radius: 5px;
}

#process-big .process__body {
    float: left;
    padding-left: 20px;
}

.feature-8 p {
    min-height: 0px;
}

.div-center {
    max-width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@-webkit-keyframes starmove-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    1% {
        opacity: 1;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    99% {
        opacity: 1;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px)
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

@keyframes starmove-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    1% {
        opacity: 1;
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px)
    }
    99% {
        opacity: 1;
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px)
    }
    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);
        opacity: 0
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.bounce:hover {
    -webkit-animation: bounce 5s infinite;
    animation: bounce 5s infinite;
}

.animated-icon {
    width: 55%;
    margin-bottom: 0px;
}

.livicon-evo {
    margin: 0 auto;
    height: 150px;
}

.feature h4+p {
    margin: 0 auto;
}

.continer-button {
    /* font-size: 20px; */
    background-color: #0a6cf1;
    padding: 20px 40px 20px 40px;
    border-radius: 35px;
    color: #fff;
    /* margin: auto; */
    /* box-shadow: 0 5px 50px rgba(0, 0, 0, 0.5); */
}

.continer-count {
    background-color: #0a6cf1;
    padding: 30px 20px 10px 20px;
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2);
}

.continer-count .counter {
    padding-bottom: 10px;
    padding-top: 30px;
    margin: 25px 0 15px 0;
    background-color: #000;
    font-weight: 700;
    border-radius: 8px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    min-height: 90px;
}

.continer-count .counter .value {
    font-size: 36pt;
}

.continer-count .counter span {
    margin: 10px;
    font-size: 14pt;
    opacity: 0.8;
    display: block;
}

.continer-count .counter .hours::before,
.minutes::before,
.seconds::before {
    content: ":";
    float: left;
    font-size: 20pt;
    margin-top: 10px;
    opacity: 0.7;
    animation: pink 1s ease-in-out infinite;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 2.5em;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    margin-top: 30px;
}

progress::-webkit-progress-bar {
    background-color: #e0eaf0;
    border-radius: 30px;
}

progress::-webkit-progress-value {
    background-color: #329ad1;
    border-radius: 30px;
}

progress::-moz-progress-bar {
    background-color: #329ad1;
    border-radius: 30px;
}

.rocket-icon {
    position: absolute;
    height: 50px;
    top: 20px;
    left: -20px;
}

.alert {
    padding: 1em;
    background-color: #f0ad4e;
    color: white;
    font-size: 20px;
    border-radius: 0.3em;
}

.alert .alert-warning {
    background-color: #f0ad4e;
    color: white;
}

.alert i {
    font-weight: 700;
    font-size: 0.85714286em;
}

#header #particle-canvas {
    position: absolute !important;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

.intro.competition {
    min-height: initial !important;
    height: initial !important;
    background-position: right !important;
}

.intro.competition .intro-main-view {
    padding: 0 15px 40px;
}

.intro {
    /* background-image: url('img/experty-background.png');
  background-color: #fff;
  background-size: cover;
  background-position: center 0;*/
    overflow: hidden;
    position: relative;
    /* padding-top: 134px; */
}

.intro-main-bottom {
    padding-right: 15px;
    padding-left: 15px;
}

.intro-main-view [class^='col-'] {
    /* class name starts with col-lg */
    padding: 0;
}

@media (min-width: 992px) {
    .intro-main-view div.corr-left-padding {
        padding-left: 5%;
    }
    /*.intro {
    height: 100vh;
    min-height: 800px;
  }*/
}

.all-caps {
    text-transform: capitalize;
}

.no-padding {
    padding: 0;
}

.no-padding-forced {
    padding: 0 !important;
}

.no-margin {
    margin: 0;
}

.no-margin-forced {
    margin: 0 !important;
}

@media (min-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
    }
    .intro-main-view {
        position: relative;
        padding: 50px 15px 0;
        height: 100%;
    }
}

.countdown-timer {
    display: flex;
    visibility: hidden;
}

.countdown-timer .time-numb {
    font-size: 32px;
    min-width: 50px;
    text-align: center;
    color: rgb(252, 252, 252);
    margin-bottom: 10px;
}

.register-block {
    padding-top: 32px;
}

.register-more {
    padding-top: 28px;
    font-size: 12px;
    color: rgb(252, 252, 252);
}

.register-btn .fa-angle-right:before {
    font-size: 25px;
}

.register-btn .fa-angle-right {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.register-btn {
    display: block;
    position: relative;
    padding: 15px 25px;
    text-align: center;
    background-color: #38c04f;
    border-radius: 8px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: left;
    font-weight: bold;
}

.register-btn:hover,
.register-btn:focus {
    background-color: #48e162;
    color: rgb(255, 255, 255);
}

.countdown-timer .time-caption {
    font-size: 10px;
    text-transform: uppercase;
    color: rgb(117, 157, 187);
    font-weight: bold;
}

.countdown-timer-wrap {
    padding-top: 25px;
}

.countdown-timer .time-cell {
    text-align: center;
    border-left: 1px solid #466790;
    padding: 5px 13px;
}

.countdown-timer .time-cell:last-child {
    border-right: 1px solid #466790;
}

.phone-img {
    background-image: url(../img/PHONE.png);
    background-size: contain;
    width: 300px;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    right: 15px;
}

.intro .experty-topic {
    font-size: 19px;
    color: rgb(252, 252, 252);
    line-height: 1.455;
}

.pre-contr {
    font-size: 18px;
    color: rgb(252, 252, 252);
    line-height: 1.5;
    /*white-space: nowrap;*/
}

.play-row {
    margin-top: 60px;
    margin-bottom: 60px;
}

.intro .demo-play-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.play-demo-desc:hover {
    color: rgb(117, 157, 187);
}

.play-demo-desc {
    font-size: 10px;
    color: rgb(117, 157, 187);
    font-weight: bold;
    margin-top: 12px;
    text-transform: uppercase;
    line-height: 1.6;
    text-align: center;
}

.play-circle:hover {
    background-color: #759dbb;
}

.play-circle .play-triangle {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 18px solid #fff;
}

.play-circle {
    height: 88px;
    width: 88px;
    background-color: #466790;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .2s;
}

.intro .calls-powered {
    font-size: 50px;
    color: rgb(252, 252, 252);
    font-weight: bold;
    line-height: 1.2;
}

.topic-inc-img {
    background-image: url('../img/topic-inc.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    margin-bottom: -8px;
}

.phone-sm {
    display: none;
}

@media (min-width: 1200px) {
    .topic-inc-img {
        height: 40px;
        width: 86px;
    }
    section.ecosystem .imgs {
        left: -10%;
        width: 120% !important;
        top: 40px;
    }
    .intro .calls-powered {
        font-size: 60px;
    }
    .experty-topic {
        font-size: 22px;
    }
    .countdown-timer .time-cell {
        padding: 10px 19px;
    }
    .phone-img {
        width: 350px;
        right: 35px;
    }
    .pre-contr {
        font-size: 25px;
    }
    .register-btn {
        padding: 15px;
        font-size: 30px;
        text-align: center;
    }
}

.slogan-main {
    text-transform: uppercase;
    color: #ccc;
    font-size: 22pt;
    margin-bottom: 5px;
    line-height: 45px;
    letter-spacing: 0;
    font-weight: 700;
    background-color: #293C4F;
    padding: 22px;
    border-radius: 10px;
    text-align: center;
}

.slogan-secondary {
    font-size: 16pt;
    margin-bottom: 60px;
    letter-spacing: 0px;
    color: #444;
    font-weight: 600;
    margin-left: 9px;
}

.slogan-third {
    margin-bottom: 20px;
    margin-left: 3px;
    font-size: 14pt;
    line-height: 1.3;
    letter-spacing: 0.6px;
    /*font-weight: 500;*/
    /*color: #515151;*/
    color: black;
}

.join-telegram {
    margin-left: 16px;
    font-weight: 600;
    color: #333;
}

.particle-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro-content {
    padding-top: 40px;
    padding-bottom: 175px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.intro-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-footer>p {
    color: #fff;
    width: 80vw;
}

.logo-container {
    width: 100%;
}

.logo-container>h1 {
    margin: 0;
    color: #2b3c4d;
    font-weight: 600;
}

.logo-container>h1>span {
    font-weight: 400;
}

.suisse-link {
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    display: block;
}

.suisse-logo {
    width: 50%;
    height: 70px;
    float: left;
}

.suisse-text {
    width: 50%;
    height: 70px;
    background-color: #cd2c24;
    color: #fff;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

#logo-grey-text {
    color: #8c8c8c;
}

.logo-main {
    margin: 0 auto 30px;
    width: 20%;
    display: block;
}


/*.logo {*/


/*padding-top: 35px;*/


/*}*/

.intro-header {
    margin-top: 40px;
    font-weight: 400;
    color: #2b3c4d;
}

.intro-header>span {
    font-weight: 700;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-image {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.slick-slider {
    overflow: hidden;
}

.partner-link {
    text-align: center;
}

@media (max-width: 425px) {
    .register-custom-button,
    .telegram-custom-button {
        flex-direction: column;
    }
}

@media (max-width: 765px) {
    .center-img {
        display: block;
    }
    .partner-image {
        height: 20vw;
    }
    .media-img {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .partner-image {
        height: 15vw;
    }
}

.timer-bgg {
    position: relative;
    background-color: #2b3c4d;
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}

#timer {
    /*background-image: url("../img/mct-graphics/dymek.png");
  background-repeat: no-repeat;
  background-size: cover;*/
    padding: 10px;
    margin: 20px 0;
    text-transform: uppercase;
    color: #ccc;
}

.timer-number {
    font-weight: 600;
    color: #ff002b;
}

.timer-bgg::before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10%;
    top: -5%;
    border: 25px solid transparent;
    border-top: 50px solid #2b3c4d;
    transform: rotate(30deg);
}

#timer span {
    white-space: nowrap;
    color: #ccc;
}

section#header {
    padding-bottom: 0;
    padding-top: 10em;
    height: auto;
    /*overflow: hidden;*/
}

.imagebg .container {
    height: 100%;
}

.cover-features .row:nth-child(2) {
    margin-top: 0;
}

.repo-topic {
    list-style: none;
    font-size: 20px;
    padding-top: 20px;
    white-space: nowrap;
}

.repo-topic li {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid transparent;
}

.repo-topic li:not(:nth-child(1)) {
    margin-left: 25px;
}

.repo-topic li a {
    text-align: center;
}

.repo-topic li:hover {
    /*text-decoration: underline;*/
    border-bottom: 1px solid white;
}

.repo-topic li i {
    padding: 15px 10px;
    font-size: 1.5em;
}

img.whitepaper-pdf-img-wrap {
    margin-top: 1.85714286em;
}

img.whitepaper-pdf-img {
    width: 20em;
    box-shadow: 0 14px 24px rgba(50, 49, 58, .25);
    text-align: center;
    margin-top: 5em;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,20%);*/
}

.short-underline::after {
    content: '';
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 8px;
    background-color: #32313A;
}

.underline-on-hover:hover {
    text-decoration: underline;
    transition: 0.5s
}

ul.whitepaper {
    font-size: 1.2em;
}

ul.whitepaper li {
    margin-top: 10px;
    font-size: 17px;
}

ul.whitepaper li a {
    color: #808080;
    text-decoration: none;
}

ul.whitepaper li i {
    float: left;
    padding-right: 10px;
    font-size: 1.5em;
    font-size: 1.5em;
    padding-top: 8px;
}

section.switchable.whitespace-section.feature-large {
    padding-top: 7.42857143em;
}

ul.links li:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

ul.links li:not(:first-child):hover {
    padding-left: 10px;
}

ul.links li:not(:first-child) {
    transition: .3s
}

.no-margin {
    margin: 0 !important;
}

footer .logo {
    max-height: 6.671429em;
}


/*floating imgs*/


/* section.ecosystem {
    height: 560px;
} */

section.ecosystem .imgs {
    width: 100%;
    position: absolute;
}

section h1.section-title {
    margin-bottom: 30px;
}

section.ecosystem .imgs img {
    position: absolute;
    top: 0;
}

section.ecosystem .imgs img:nth-child(2) {
    -webkit-animation: float 2s ease-in-out 0s infinite alternate;
    animation: float 2s ease-in-out 0s infinite alternate;
}

section.ecosystem .imgs img:nth-child(3) {
    -webkit-animation: float 2s ease-in-out -0.7s infinite alternate;
    animation: float 2s ease-in-out -0.7s infinite alternate;
}

section.ecosystem .imgs img:nth-child(5) {
    -webkit-animation: float 2s ease-in-out -1.4s infinite alternate;
    animation: float 2s ease-in-out -1.4s infinite alternate;
}

section.ecosystem .imgs img:nth-child(6) {
    -webkit-animation: float 2s ease-in-out -2.1s infinite alternate;
    animation: float 2s ease-in-out -2.1s infinite alternate;
}

section.ecosystem .imgs img:nth-child(7) {
    -webkit-animation: float 2s ease-in-out -2.9s infinite alternate;
    animation: float 2s ease-in-out -2.9s infinite alternate;
}

section.ecosystem .imgs img:nth-child(8) {
    -webkit-animation: float 2s ease-in-out -3.5s infinite alternate;
    animation: float 2s ease-in-out -3.5s infinite alternate;
}

@-webkit-keyframes float {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes float {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }
}

#ecosystem .points_item,
#tokenSale .points_item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 32px;
}

#ecosystem .points_text,
#tokenSale .points_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    text-align: left;
}

#ecosystem .benefits_title {
    font-size: 24px;
    margin-bottom: 15px;
    margin-left: 22px;
    font-weight: bold;
    text-transform: uppercase;
}

#ecosystem .benefits_item {
    margin-bottom: 12px;
    line-height: 1.3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: end;
}

#ecosystem .benefits_text {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
    color: #393939;
}

#ecosystem .benefits_icon {
    height: 16px;
    width: 14px;
    min-width: 14px;
    background-position: 50%;
    margin-right: 10px;
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAOCAYAAAAmL5yKAAABHElEQÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦jB7xsnGX5MLWNg1rOCJxhc2QVnQvr77A4DI58IPMHgMgAABd6hT/ORFZUAAAAASUVORK5CYII=) no-repeat; */
    background-size: contain;
    margin-top: 2px;
    color: #fc4c04;
}

#ecosystem .points_icon,
#tokenSale .points_icon {
    width: 38px;
    height: 50px;
    min-width: 38px;
    margin-right: 29px;
}

#tokenSale .points_text h4 {
    vertical-align: middle;
    margin-bottom: 0;
}

.HomeTokenSaleTokenAllocation-legend__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
    color: #000;
    margin-bottom: 20px;
}

.HomeTokenSaleTokenAllocation-legend__item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

.HomeTokenSaleTokenAllocation-legend__color {
    width: 21px;
    min-width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-right: 6px;
}

.HomeTokenSaleTokenAllocation-legend__text {
    font-size: 18px;
    line-height: 1.61;
    text-align: left;
    color: #000;
}

.HomeTokenSaleTokenAllocation-legend {
    vertical-align: middle;
    margin-top: 50px;
}

.HomeTokenSaleTokenAllocation-legend__color--variant-1 {
    background-color: #fa4c04;
}

.HomeTokenSaleTokenAllocation-legend__color--variant-2 {
    background-color: #f4764b;
}

.HomeTokenSaleTokenAllocation-legend__color--variant-3 {
    background-color: #f9b6a6;
}

.HomeTokenSaleTokenAllocation-legend__color--variant-4 {
    background-color: #fde2dc;
}


/*Tabs Animation*/

.tabs-content>li.active {
    animation: fadeIn .5s ease forwards;
    -webkit-animation: fadeIn .5s ease forwards;
}

.tabs-content>li:not(.active) .tab__content {
    animation: fadeOut .5s ease forwards;
    -webkit-animation: fadeOut .5s ease forwards;
}

.tab__content {
    text-align: left;
}

.roadmap-bg {
    /*position: absolute;*/
    top: 0;
    z-index: -99;
}

.height-full {
    height: 99vh;
}


/*ROADMAP*/

.roadmap-bg-wrap img:not(.roadmap-bg) {
    position: absolute;
    top: 0
}


/*GIVE BACK CARDS*/

.feature-card {
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto 30px;
    max-width: 240px;
    padding: 20px;
}

.feature-card {
    max-width: 450px;
    padding: 45px 50px;
    box-shadow: none;
    transition: 0.3s ease-in-out all;
    transform: scale(1);
}

.feature-card:hover,
input:checked+.switch .feature-card {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    margin-top: -3px;
    transform: scale(1.01);
}

.feature-card .card-icon-container {
    min-height: 210px;
}

.feature-card .card-icon {
    display: block;
    margin: auto;
    max-width: 200px;
    width: calc(100% + 40px);
    vertical-align: middle;
    border-style: none;
    max-height: 100%;
    transition: filter 200ms ease-out;
}

.feature-card:hover .grayscale,
input:checked+.switch .feature-card .grayscale {
    -webkit-filter: grayscale(0%);
    filter: none;
    opacity: 1;
}

.feature-card h3 {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
}

a.cta-button,
p.cta-button {
    display: inline-block;
    font-weight: bold;
    background-color: #ffc107;
    padding: 12px 17px;
    color: #FFF;
    font-size: 18px;
    -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    line-height: 27px;
    -webkit-transition: 0.2s ease-in-out all;
    -moz-transition: 0.2s ease-in-out all;
    transition: 0.2s ease-in-out all;
    margin: 0;
}

.feature-card p {
    font-size: 18px;
    font-weight: normal;
    color: #808080;
    margin-top: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.card-description-container {
    text-align: center;
}

a.switch {
    text-decoration: none;
}

.feature-card.video {
    padding: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.feature-card.video:hover {
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    transform: scale(1);
}

.feature-card.video img {
    width: 100%;
    background-color: #000;
    background-size: 100%;
}

.feature-card.video .card-icon-container {
    background-color: #000;
}

.feature-card.video .card-icon-container p {
    position: absolute;
    top: 1%;
    right: 3px;
    padding-left: 4px;
    background-color: #4a90e2;
    color: #fcfcfc;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 20px;
}

.feature-card.video h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.feature-card.video:hover {
    margin-top: 0;
}

.feature-card.video p {
    padding-bottom: 15px;
}

.feature-card.video .overicon {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0 !important;
    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
}

.feature-card.video .overicon i {
    color: white;
}

.feature-card.video:hover .overicon {
    opacity: 0.8 !important;
}

input[type="checkbox"] {
    margin: 3px 3px 3px 4px;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    background-color: initial;
    cursor: default;
    margin: 3px 0.5ex;
    padding: initial;
    border: initial;
    width: auto;
    vertical-align: middle;
}

input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 2px;
    height: 25px;
    border: 2px solid #999;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 4px;
    transform: scale(0.7);
}

input[type="radio"]:checked {
    border: 6px solid black;
    height: 35px;
    transform: scale(0.65);
}

textarea.form-control {
    height: 6em !important;
}

.easyWizardSteps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px
}

.easyWizardSteps li span {
    font-size: 24px
}

.easyWizardSteps li.current {
    color: #000
}

.easyWizardButtons {
    overflow: hidden;
    padding: 10px;
}

.easyWizardButtons button,
.easyWizardButtons .submit {
    cursor: pointer
}

.easyWizardButtons .prev {
    float: left
}

.easyWizardButtons .next,
.easyWizardButtons .submit {
    float: right
}

.easyWizardSteps li {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    color: #B0B1B3;
    width: 30%;
    margin-right: 20px;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    width: auto;
    height: auto;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 0.2s;
    line-break: auto;
}

.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}

.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}

.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    background-color: #000;
    border-radius: 4px;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}

.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}

.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}

.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}

.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}


/* AS SEEN ON */

.ul-logos {
    margin: 0;
    padding: 0 20px;
    text-align: center;
}

.ul-logos>li {
    text-align: center;
    padding: 0 30px;
    margin-bottom: 20px;
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    vertical-align: middle;
}

.ppl-desc {
    position: absolute;
    top: 10%;
    left: 80%;
    z-index: 10;
    background: white;
    padding: 10px;
    display: none;
    height: 70%;
    overflow-y: auto;
}

.feature,
.ppl-desc {
    transition: 0.5s;
}

.feature.feature-8:hover {
    background: white;
    transition: 0.5s;
    box-shadow: 20px 8px 20px #dedede;
}

.feature.feature-8.desc-left:hover {
    box-shadow: -20px 7px 20px #dedede;
}

.feature.feature-8:hover>.ppl-desc {
    display: block;
    transition: 0.8s;
    border-radius: 6px;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}

.feature.feature-8:hover::before {
    content: "";
    display: block;
    width: 67%;
    height: 100%;
    position: absolute;
    background: white;
    right: -60%;
    top: 0;
    transition: 0.3s;
    /*animation-name: fadeInLeft;*/
    /*animation-duration: 0.3s;*/
    z-index: 1;
    border-radius: 4px;
    box-shadow: 20px 8px 20px #dedede;
}

.feature.feature-8.desc-left .ppl-desc {
    left: auto;
    right: 80%;
}

.feature.feature-8.desc-left:hover::before {
    right: 94%;
    /*animation-name: fadeInRight;*/
    box-shadow: -20px 7px 20px #dedede;
}

.feature.feature-8:hover>.grayscale {
    filter: grayscale(0);
}

.sticky-telegram {
    position: fixed;
    top: auto;
    bottom: 24px;
    right: 24px;
    width: 60px;
    height: 60px;
    background-color: #08c;
    color: #fff;
    font-size: 30px;
    z-index: 200;
    border-radius: 50%;
    -webkit-box-shadow: 0 4px 5px -1px rgba(0, 0, 0, .5);
    box-shadow: 0 4px 5px -1px rgba(0, 0, 0, .5);
    text-align: center;
    -webkit-transition: -webkit-box-shadow .2s ease;
    transition: -webkit-box-shadow .2s ease;
    -o-transition: box-shadow .2s ease;
    transition: box-shadow .2s ease;
    transition: box-shadow .2s ease, -webkit-box-shadow .2s ease
}

.sticky-telegram:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

.sticky-telegram>a,
.sticky-telegram>a:hover {
    color: #fff
}

.checkbox .sticky-telegram>a .indicator:after,
.sticky-telegram>a .checkbox .indicator:after,
.sticky-telegram>a .icon {
    margin-left: -3px;
    margin-top: 14px;
}

.feature i {
    padding: 4px;
}

.feature.feature-8:hover>.socicon-linkedin,
i.socicon-linkedin:hover {
    background-color: #0084bf;
    color: white;
}

@media only screen and (min-width: 768px) {
    .ul-logos>li:first-child {
        padding-left: 0;
    }
}

.ul-logos>li>a {
    display: block;
    opacity: .7;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    height: 100%;
}

.ul-logos>li>a:hover {
    opacity: 1;
}

.ul-logos>li img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

.ul-logos.mx-200 img {
    max-width: 200px;
}

.seen-on h4 {
    color: #666;
    margin: 20px 0 50px;
}

footer:not(.bg--primary):not(.bg--dark) a {
    color: #666666;
    white-space: nowrap;
}

.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

.feature-8 p {
    width: 65%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    html {
        overflow-x: hidden;
    }
    section#header {
        height: auto;
    }
    .nav-container {
        position: absolute;
        z-index: 9;
    }
    .hamburger-toggle i {
        color: white;
    }
    nav#menu1 {
        background-color: #fff;
    }
    .bar .logo {
        transform: scale(1.2);
    }
    a.hamburger-toggle i {
        padding-top: 20px;
    }
    .play-row {
        margin-top: 20px;
    }
    .pre-contr {
        font-size: 15px;
    }
    .register-block {
        padding-bottom: 25px;
    }
    footer .links {
        text-align: left;
    }
    footer .col-xs-6:nth-child(4),
    footer .col-xs-6:nth-child(5) {
        margin-top: 15px;
    }
    footer .logo {
        max-height: 6em;
        text-align: center;
        margin: 0 auto;
    }
    footer .col-xs-6:nth-child(even) {
        padding-left: 19px;
    }
    section.ecosystem .imgs {
        position: relative !important;
    }
    footer .links {
        padding-left: 12px;
    }
    span.type--fine-print {
        width: 100%;
        float: left;
    }
    .easyWizardSteps li {
        width: 100%;
        border-bottom: 1px solid #f3e7e7;
    }
    .step.active .row {
        margin: 0;
        padding-left: 12px;
    }
    .step.active .form-group-lg {
        padding-left: 20px;
        padding-right: 20px;
    }
    .easyWizardButtons {
        padding-right: 20px;
        padding-left: 20px;
    }
    .feature.feature-8 .ppl-desc {
        display: block;
        position: static;
    }
    .feature.feature-8:hover::before {
        display: none;
    }
    .feature.feature-8 .grayscale {
        filter: grayscale(0);
    }
    .no-padding--xs {
        padding: 0;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    ul.whitepaper.text-center-xs li i {
        float: none;
    }
}