<footer class="footer-3 text-center-xs space--xs ">
    <div class="container">

            <div class="row">
                <div class="clearfix"></div>
            <hr>
            <div class="clearfix"></div>
            </div>
            <div class="row  no-margin">
            <div class="col-sm-6 text-left text-center-xs">
                <ul class="social-list list-inline list--hover" style="display:none;">
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-linkedin icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="" target="_blank">
                            <i class="socicon socicon-github icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <span class="type--fine-print">Copyright © <span class="update-year">2016- 2018</span> Repocoin Blockchain LLC</span>
                <!--<a class="type&#45;&#45;fine-print" href="#"> Privacy Policy </a>-->
                <!--<a class="type&#45;&#45;fine-print" href="#"> Legal </a>-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
